[2017-10-25 15:21] vikmn commented on #587
Anyone have an outcome on this?

[2017-10-25 15:28] seanturner83 commented on #587
Yeah I went back to Linux :)

[2017-10-25 15:39] vikmn commented on #587
i have raised a issue  on the forum.Lets see if anyone answers
https://social.msdn.microsoft.com/Forums/en-US/bebd87c9-5981-4523-8045-d7ffd53cc0f6/error-creating-docker-container-with-active-directory-support?forum=windowscontainers

[2017-10-27 16:14] willwhite1 commented on #529
Any updates on this? I appear to having same issue with fresh windows server core deployment on Azure.

[2017-10-27 17:05] JMesser81 commented on #529
Few things:
1) The default behavior is that when Docker daemon starts the first time, it will create a nat network using a system-defined prefix
2) In order to use, a user-defined prefix with a nat network, you have two options:
  a) Stop Docker and Host Networking Service (HNS), Delete default nat network, specify fixed-cidr in daemon.json config file, restart host networking service, restart doc

[2017-10-27 18:28] willwhite1 commented on #529
Thanks James, I switched over to use the full OS with containers options pre-installed on Azure as it works OOTB. I'll give a CORE host another shot when I get time, it was certainly not proving to be simple. I didn't do anything special, just Azure core image + 2 PS install commands from documentation and docker would not start.
I'll re-pro tonight and see how I get on.

[2017-11-01 01:39] brunofvalli commented on #355
I have found if I stop and remove the running containers on my docker it seems to solve the issue. So I guess I need a build box that I will never run a container on it.

[2017-11-06 15:55] nanoant commented on #355
@aphophas I am curious about this SEP exclusion for `C:\ProgramData\docker` that worked for you, but not for me. Which version of SEP you are using (12 or 14)?

[2017-11-08 23:59] kallie-b opened #663 "Docker for Windows 10/Server versioning story"
Inspired by[ this PR](https://github.com/MicrosoftDocs/Virtualization-Documentation/pull/649), this issue is meant to help us stay aligned on our current versioning story for Docker on Windows 10 and Windows Server 2016.

**Here's my understanding of our current story:**
------------------------
Today, we have a total of **four** channels of Docker versions:
- Docker CE & Docker CE "Edge"
- Docker

[2017-11-09 00:07] kallie-b commented on #663
@friism @carlfischer1

[2017-11-09 12:51] IgorMilavec opened #664 "r -v"
** Description**

Link to doc:

[2017-11-13 23:55] enderb-ms commented on #197
Closing this issue since no changes were made.

[2017-11-13 23:55] #197 closed

[2017-11-13 23:56] enderb-ms commented on #241
Closing this issue since this installer is no longer in use. Please use the [DockerMsftProvider](https://github.com/OneGet/MicrosoftDockerProvider) instead.

[2017-11-13 23:56] #241 closed

[2017-11-14 21:49] enderb-ms commented on #215
Hi @arun-gupta, is there anything else we can do to resolve this issue?

[2017-11-14 21:50] enderb-ms commented on #373
Closing this issue since the solution is above.

[2017-11-14 21:50] #373 closed

[2017-11-14 21:51] enderb-ms commented on #350
Closing this issue since it has been resolved above.

[2017-11-14 21:51] #350 closed

[2017-11-14 22:19] arun-gupta commented on #215
@enderb-ms I'm no longer working on this.

@suravarjjala or @Laurafautley should be able to provide an update.

[2017-11-14 22:57] enderb-ms commented on #407
Closing this issue since the link has been removed from live.

[2017-11-14 22:57] #407 closed

[2017-11-15 03:28] anilkumar29 commented on #215
Hi @enderb-ms, If you're checking the status of that issue https://issues.couchbase.com/browse/MB-19615 its already fixed in Couchbase Server 4.6.0 and (newest) Couchbase Server 5.0. Can you give it try?
One thing feel free to create [JIRA issue ](https://issues.couchbase.com) if there any issues running Couchbase on Windows Container.

[2017-11-15 20:17] enderb-ms commented on #489
I've updated the "Community" section of the landing page to include a link to the uservoice: https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/virtualization/windowscontainers/index.md

[2017-11-15 20:24] enderb-ms commented on #345
Closing this issue due to inactivity. Please reopen if you still need help.

[2017-11-15 20:24] #345 closed

[2017-11-15 21:13] enderb-ms commented on #354
Looks like there has been no more progress on this and it has been resolved, so I'll go ahead and close this issue.

[2017-11-15 21:13] #354 closed

[2017-11-15 21:14] enderb-ms commented on #511
Looks like there has been no more progress on this, so I'll go ahead and close this issue. Please open the issue again if there is something we can help with.

[2017-11-15 21:14] #511 closed

[2017-11-15 21:17] enderb-ms commented on #427
You can read more about using the Visual Studio Tools for Docker [here.](https://docs.microsoft.com/en-us/dotnet/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/visual-studio-tools-for-docker)

[2017-11-15 21:17] #427 closed

[2017-11-15 21:18] enderb-ms commented on #296
Closing this issue since there has been no progress, and WS16 has already GA'd. Please feel free to open the issue again if there is something we can help with.

[2017-11-15 21:18] #296 closed

[2017-11-15 21:19] enderb-ms commented on #224
We no longer support this script as the method to set up containers on your host. Please see this [quick start guide](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-server) for the new method of doing this.

[2017-11-15 21:19] #224 closed

[2017-11-15 21:22] enderb-ms commented on #268
Closing this issue since there has been no further progress. Feel free to open it again if there is still confusion about where to report issues.

[2017-11-15 21:22] #268 closed

[2017-11-15 21:22] #489 closed

[2017-11-15 21:40] PatrickLang commented on #486
Added to main Docker docs:
https://github.com/docker/cli/pull/691

[2017-11-15 21:40] #486 closed

[2017-11-15 21:45] enderb-ms commented on #293
Closing this issue due to inactivity. Please feel free to reopen if there is something we could help with.

[2017-11-15 21:45] #293 closed

[2017-11-15 21:48] enderb-ms commented on #232
Closing this issue since we no longer support this installer script. Please see [this guide](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-server) for the new way of setting up containers.

[2017-11-15 21:48] #232 closed

[2017-11-15 21:49] enderb-ms commented on #326
Closing this issue due to inactivity and it seems to be resolved. Please feel free to open it if there's anything else we can do to help.

[2017-11-15 21:49] #326 closed

[2017-11-15 21:51] enderb-ms commented on #341
Closing this issue due to inactivity. Please feel free to open this issue again if there's something you still need help with.

[2017-11-15 21:51] #341 closed

[2017-11-15 21:53] enderb-ms commented on #237
Closing this issue due to inactivity, and since WS16 has now GA'd. Please feel free to reopen it if you still need help with this.

[2017-11-15 21:53] #237 closed

[2017-11-15 21:54] enderb-ms commented on #361
Closing this issue due to inactivity. Please feel free to reopen this issue if you still need help.

[2017-11-15 21:54] #361 closed

[2017-11-15 22:01] enderb-ms commented on #328
Closing this issue due to inactivity. Please free to open the issue again if there is something we could help with.

[2017-11-15 22:01] #328 closed

[2017-11-15 22:02] enderb-ms commented on #238
Closing this issue since WS16 has GA'd. If you are still seeing this issue, please feel free to open this issue again.

[2017-11-15 22:02] #238 closed

[2017-11-15 22:03] enderb-ms commented on #259
Closing this issue since we no longer support ContainerImage. You can now use "docker pull" to get the base images.

[2017-11-15 22:03] #259 closed

[2017-11-15 22:04] enderb-ms commented on #233
Closing this issue due to inactivity. Please feel free to open this issue again if there is still something you need help with.

[2017-11-15 22:04] #233 closed

[2017-11-15 22:05] enderb-ms commented on #294
Is this still an issue?

[2017-11-15 22:06] enderb-ms commented on #273
Closing this issue due to inactivity, and it seems to have been resolved. Please feel free to open this issue again if there is still something we could help with.

[2017-11-15 22:06] #273 closed

[2017-11-15 22:12] enderb-ms commented on #500
Closing due to inactivity. Please feel free to open this again if there is still something we can help with.

[2017-11-15 22:12] #500 closed

[2017-11-15 22:12] enderb-ms commented on #520
Closing this issue due to inactivity. Please feel free to open this again if there is still something we can help with.

[2017-11-15 22:12] #520 closed

[2017-11-15 22:16] enderb-ms commented on #572
Closing this issue due to inactivity. Please feel free to open it again if there is still something we can help with.

[2017-11-15 22:16] #572 closed

[2017-11-15 22:19] enderb-ms commented on #510
Looks like https://docs.microsoft.com/de-DE/virtualization/windowscontainers/quick-start/quick-start-windows-10 now suggests D4W. I'll close this issue now, but feel free to open if there is still more for us to do.

[2017-11-15 22:19] #510 closed

[2017-11-15 22:21] enderb-ms commented on #530
Closing this issue as it seems like you've found a solution in the issue referenced above. We are tracking the bitlocker issue internally. Feel free to open this issue again if there is still something we can help with.

[2017-11-15 22:21] #530 closed

[2017-11-15 22:23] enderb-ms commented on #235
ContainerImage is no longer a supported command. Please read [this guide](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-server) to see the new guidelines for setting up containers.

[2017-11-15 22:23] #235 closed

[2017-11-15 22:24] enderb-ms commented on #266
Closing this issue since the above PR has been merged. Please feel free to open this issue again if there is still something we can help with.

[2017-11-15 22:24] #266 closed

[2017-11-15 22:25] enderb-ms commented on #318
Closing this issue since WS16 has GA'd. Please feel free to open this issue again if there is still something we can help with.

[2017-11-15 22:25] #318 closed

[2017-11-15 22:27] enderb-ms commented on #353
Closing this issue as this now works in Windows 10. See [this guide](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10) for steps on how to set up containers on Windows 10.

[2017-11-15 22:27] #353 closed

[2017-11-15 22:27] enderb-ms commented on #338
Closing this issue due to inactivity. Please feel free to open this issue again if there is still something we can help with.

[2017-11-15 22:27] #338 closed

[2017-11-15 22:28] enderb-ms commented on #365
Closing this issue due to inactivity.

[2017-11-15 22:28] #365 closed

[2017-11-15 22:29] enderb-ms commented on #409
Closing this issue as it seems to have been answered above. Please feel free to open this issue again if there is still something we can help with.

[2017-11-15 22:29] #409 closed

[2017-11-15 22:31] enderb-ms commented on #434
Closing this issue due to inactivity. If you are still seeing this issue, please feel free to open this again.

[2017-11-15 22:31] #434 closed

[2017-11-15 22:33] enderb-ms commented on #584
Closing this issue due to inactivity. Please feel free to open it again if there is still something we can help with.

[2017-11-15 22:33] #584 closed

[2017-11-15 22:34] enderb-ms commented on #431
Closing this issue as it has been resolved above.

[2017-11-15 22:34] #431 closed

[2017-11-15 22:36] enderb-ms commented on #400
Closing this issue as the PR mentioned above has been merged. Please reopen if there is still something we can help with.

[2017-11-15 22:36] #400 closed

[2017-11-15 22:37] enderb-ms commented on #415
Do you still need help with this, @hanchoi?

[2017-11-15 22:44] enderb-ms commented on #504
Since we have seen that users of containers in Windows 10 and Windows Server have focused on the Docker CLI, we do not currently have any plans to also add the PowerShell commands on the documentation.

[2017-11-15 22:46] enderb-ms commented on #575
Closing this issue due to inactivity from original poster, and there seems to be a solution above. Please feel free to open this again if there is still something we can help with.

[2017-11-15 22:46] #575 closed

[2017-11-15 22:48] enderb-ms commented on #533
Closing this issue due to inactivity. Feel free to open this again if there is still something we can help with.

[2017-11-15 22:48] #533 closed

[2017-11-15 22:51] #430 closed

[2017-11-15 22:56] enderb-ms commented on #523
Closing this issue due to inactivity. Please feel free to open again if there is still something we can help with.

[2017-11-15 22:56] #523 closed

[2017-11-15 22:58] enderb-ms commented on #410
Closing this issue due to inactivity. Please feel free to open again if there is still something we can help with.

[2017-11-15 22:58] #410 closed

[2017-11-15 23:39] PatrickLang commented on #477
Fixed in Docker docs: https://github.com/moby/moby/pull/32724

[2017-11-15 23:39] #477 closed

[2017-11-16 03:36] #606 closed

[2017-11-16 04:20] dermeister0 commented on #410
It's fixed in the recent images.

[code]

[code]

[2017-11-16 18:21] wadinj commented on #355
Nothing interesting works for me here. For sure, I didn't try to uninstall my SEP (corporate policy as everyone). But, disable SEP and BitLocker change nothing, always stuck to :
`C:\Program Files\Docker\Docker\Resources\bin\docker.exe: failed to register layer: re-exec error: exit status 1: output:
 ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilter\cc9a78038e66f96bd8d0851d02a5a825d809497f

[2017-11-16 21:03] PatrickLang commented on #587
This should be fixed on Windows 10 Fall Creators Update (aka 1709, build 16299) and later. It worked on the Windows 10 anniversary update 1609, broke in 1703, and was fixed for 1709. Can you let us know if it's still happening?

[2017-11-16 21:07] mback2k commented on #294
Yes, I am also experiencing this issue while installing msys2. Use the following Dockerfile to create a base image:
[code]

After that run the container using:
` docker run -i msys2-test` (do not use --rm or -t)

Inside the container perform the following steps:
`C:\msys64\usr\bin\bash.exe -l -c 'pacman -Syu --noconfirm';`
`C:\msys64\usr\bin\bash.exe -l -c 'pacman -Su --noconfirm';`

Then exit and

[2017-11-17 09:06] mback2k commented on #294
Attached you will find the debug logs from Windows Server 1709 using Docker version 17.10.0-ee-preview-3: [docker-debug-logs-294.zip](https://github.com/MicrosoftDocs/Virtualization-Documentation/files/1481672/docker-debug-logs-294.zip)

The error line is: `Cleaning up layer 1828dd2de551692ca2ba02662d62324d63a74212dc46011fd64915ad832720f4: re-exec error: exit status 1: output: time=""2017-11-17T09

[2017-11-17 09:27] StefanScherer commented on #294
I can reproduce the error with the `Dockerfile` given above on 1709
Kernel Version: 10.0 16299 (16299.15.amd64fre.rs3_release.170928-1534)

[2017-11-18 12:56] nanoant commented on #355
FYI (@wadinj et al.) this is not Docker fault, it is `ProcessUtilityImage` in `vmcompute.dll` aka Windows Host Compute API (part of Windows OS) used by Docker via https://github.com/Microsoft/hcsshim, that is faulting with `ERROR_SHARING_VIOLATION` exception that is simply brought back and reported by Docker.

There is nothing Docker can do about it. Since `ProcessUtilityImage` doing kind lot of t

[2017-11-18 20:39] wadinj commented on #355
@nanoant Great analyze ! I didn't spend more time on and finally switch to Linux container with toolbox.
For sure, if you figure out a solution, I'm interested.

Thanks !

[2017-11-19 13:43] barahate90 commented on #214
Is seleniumHQ/docker-selenium is available for windows docker too?

I have to implement headless browser on docker. Something which is similar to seleniumHQ .

How can achieve this, any hint or guidance for the same will be appreciated.

Looking forward to hear you from folks

[2017-11-20 13:39] MathijsHofkens commented on #529
@JMesser81
Your first option isn't working, when starting docker the eventlog is giving me the following error:
"Error starting daemon: Error initializing network controller: Error creating default network: HNS failed with error : The object already exists. "

Even when I delete the netnat, containernetwork, the error above is displayed and docker cannot start.
Option B is not an option currently,

[2017-11-20 17:04] ljt91 commented on #294
Was hitting this issue myself, found this article about increasing the container base size which resolved it for me.
https://stackoverflow.com/questions/46539165/docker-windows-build-fails-with-error-the-system-cannot-find-the-path-specifie

[2017-11-20 23:23] enderb-ms commented on #294
Thank you guys for responding. I'm currently setting up a repo so I can share it with the team. I will reply back with any updates, or questions we may have.

[2017-11-22 21:49] cnieren opened #670 "Cleanup script fails when VM Switch has illegal filename characters"
When running the following:
.\WindowsContainerNetworking-LoggingAndCleanupAide.ps1 -Cleanup

and there is a switch with an invalid filename character:
![switches](https://user-images.githubusercontent.com/8561823/33151127-e152df36-cf93-11e7-8a1a-10e29d5c4071.PNG)

This line errors when $switch.Name has an illegal filename character in it
`GetAllPolicies -switchName $switch.Name > $LogsPath"\Switch

[2017-11-24 15:07] hugo6 commented on #181
Hi @kallie-b any news on windows Localhost/loopback support ?

[2017-11-24 15:18] StefanScherer commented on #181
It‘s available in Windows Insider 17035 or above. So it should be part if 1803 release.

[2017-11-28 19:49] compulim commented on #294
I am hitting the very same problem. My VSTS was building Docker images but one day it fail on its own.

Every time, Docker fail roughly after about 10-11 minutes. My image is a big file copy operation (~4GB of files going in), so I am guessing maybe my Dockerfile takes too long time to complete.

[2017-12-04 18:05] PatrickLang opened #673 "Need container storage page"
Need a page that explains:

- What types of mounts are supported
- How to use SMB global mounts
- User credentials
  - Differences between NanoServer & Windows Server Core users

[2017-12-04 18:58] ravimeda commented on #673
Thanks for logging the issue, Patrick.

[2017-12-05 22:30] enderb-ms commented on #294
We are currently tracking this issue and have opened a bug for it. I will post back here as we find out more about the cause. In the mean time, if anyone can try running the docker build or docker commit commands using Hyper-V isolation, I'd be interested to see if that gets you different results. You can do this for docker build by adding the flag "--isolation=hyperv". For the docker commit comma

[2017-12-06 20:38] compulim commented on #294
@enderb-ms

We tried the `--isolation=hyperv` in our VSTS build, but still get the very same error. Somehow we think it might be related to timeout because the error always occur around 10-11 minutes.

[code]

[2017-12-07 15:21] judavi commented on #355
I face the same issue on WS2016, and was basically because I was trying to "store" the images in the D drive. So after remove the setting  "data-root": "D:\\dockerimages" from the config now is working well

[2017-12-07 15:39] wadinj commented on #355
Finally this error went away when I downloaded the edge version of Docker to replace the stable one.

[2017-12-07 21:45] jorisscheppers commented on #529
Can somebody tell me what goes on in the Docker daemon between the second-last and last lines of debug logging here:

[code]

It seems to me that the HNS network is created succesfully, using the fixed-cidr configuration from the daemon.json. This situation is really bothering me since the default IP pool is conflicting with our internal network. If more information is needed to debug this issue t

[2017-12-07 22:53] ekitagawa opened #677 "[Feature Request] Checking host kernel version"
## Issue Description

We had one customer who was installing Docker EE engine to Windows Server 2016 with older version of Kernel (2016 July).  That caused Docker engine to stall.

### Request

It would be helpful if the installation script or Docker daemon will check the kernel version and abort with appropriate error such as:

[code]

### Additional Info
Following command will return the current

[2017-12-07 23:05] friism commented on #677
cc @johnstep

[2017-12-07 23:13] msabansal commented on #529
@jorisscheppers  There was a problem with earlier versions of docker where fixed-cidr wasn't handled properly. As a workaround see if you can run New-ContainerNetwork. Then just starting docker will pick up the network configuration

[2017-12-08 08:59] jorisscheppers commented on #529
@msabansal I'm running the latest stable version of Docker CE (`17.09.0-ce`). After a clean install (remove and install Hyper-V and Containers features and Docker itself) I want to be able to override the default nat network settings with the fixed-cidr parameter. Adding a network manually will probably not solve my problem.

Sidenote: why does everyone keep talking about the *-ContainerNet**work*

[2017-12-08 09:10] MathijsHofkens commented on #529
@jorisscheppers
I have the same frustration. I "fixed" this by applying a workaround:
1. remove the default NAT docker network
2. stop docker
3. edit daemon.json, add "bridge": "none" and **do not add** the fixed-cidr
4. start docker
5. create a docker network manually

[2017-12-08 09:37] jorisscheppers commented on #529
@MathijsHofkens the only way I know how to accomplish step 1 is to stop docker and HNS and then to remove the HNS.data-file. This seems to work, after editing the daemon.json file with "bridge": "none" a `docker network ls` shows only the null network.

Though I can't seem to create the nat network manually. When I run `New-ContainerNet nat` I get the following error:

[code]

How does this work i

[2017-12-08 09:44] MathijsHofkens commented on #529
@jorisscheppers
you'll have to create the docker network using the docker cmdlet's. + you cannot use the name "nat". This is currently my only option available to achieve this.

[2017-12-08 18:38] msabansal commented on #529
@jorisscheppers Sorry about referring to Get-ContainerNetwork. I was confused.

For what its worth I have had a PR pending for a fix here https://github.com/docker/libnetwork/pull/1916#pullrequestreview-57315590 for some time.

[2017-12-08 20:00] MathijsHofkens commented on #529
@msabansal So what does this mean? Do we actually need to update docker after the fixed has been approved?

[2017-12-08 20:19] msabansal commented on #529
@MathijsHofkens The fix got  merged. After this gets into docker you will not have the issue with using --fixed-cidr docker option anymore.

[2017-12-09 14:11] mback2k commented on #294
For me `--isolation=hyperv` also does not change anything and I can re-produce the same error on Windows 10 (which only has Hyper-V based support for containers).

[2017-12-11 15:58] dmarkle commented on #642
I get the same thing.  I get no such issue when using the microsoft/windowsservercore image to run this, so something's missing!

[2017-12-13 20:19] fakoua commented on #355
Have you tried to disable the compression on the folder: C:\ProgramData\Docker?

Just try that, Right click ont he folder docker -> properties -> advanced -> uncheck "Compress contents to save disk space"

Do it while docker is off.

Thanks

[2017-12-15 23:48] #673 closed

[2017-12-15 23:49] PatrickLang commented on #587
Ping - anyone still having problems with Windows 10 build 16299? If not, I'll close this next week

[2017-12-15 23:52] #485 closed

[2017-12-19 17:08] alekslt commented on #587
@PatrickLang I still experience this error.  I'm on Win10 1709 (16299.125).
I recently upgraded to 1709 and was hit with the Hyper-V issues (in addition to not having gmsa/credspec working). As a part of this process I also removed and reinstalled the windows features for hyper-v and windows containers.
I've reset Docker, but have not tried to completely remove docker, yet. Have run updates though

[2017-12-20 17:41] sirdank commented on #494
I also couldn't get DTC to work with my custom SQL Server container but using the same settings and FROM microsoft/mssql-server-windows-express fixed the issue.

[2018-01-01 09:26] Moshik177 commented on #155
you figure it out ? i am trying to install a program that require a reboot ( it's a windows exe ) how i do restart on docker ? the command docker container restart does restart like on windows? same impact?
(i am using docker for windows)

[2018-01-03 07:00] dhirschfeld commented on #266
***Note:*** Paths with spaces still fail with `COPY --from`. Don't have time to open a new issue ATM so just noting it here now. Will see if I can create a repro and open a new issue when time allows...

[2018-01-03 18:32] jhowardmsft commented on #294
Issue from @mback2k https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/294#issuecomment-345062593 fixed by https://github.com/Microsoft/hcsshim/pull/154. I suspect there may be multiple issues.

[2018-01-03 18:40] jhowardmsft commented on #294
I'm going to close this issue due to its age, and that one fix has been submitted to hcsshim (still needs a re-vendor PR into moby/moby which I'll do once the hcsshim fix is merged).

For others hitting this error, please open a new separate issue (rather than adding a me-too) in the moby/moby repo and provide:
- Windows build information
- Docker info/version output
- Dockerfile which reproduces

[2018-01-03 18:40] #294 closed

[2018-01-03 20:22] compulim commented on #294
Link to the moby/moby PR to track the status.

https://github.com/moby/moby/pull/35924

[2018-01-04 01:47] kallie-b opened #695 "What's the right way to install/enable/add Hyper-V?"
This is a point of confusion that has crossed my path several times recently, including with customers/partners. **What's the right way to install/enable/add Hyper-V?**

**ADD**
The way that I personally use is:  `Add-WindowsFeature Hyper-V`
And if I want PowerShell Cmdlets with it: `Add-WindowsFeature Hyper-V -IncludeManagementTools`

**INSTALL**
But [our documentation](https://docs.microsoft.com

[2018-01-04 02:04] syalachigere commented on #695
The following two commands seem to work for me but I am not sure if this is the correct way.

[code]

[2018-01-07 00:51] nmb88 commented on #155
I agree with @MikhailTymchukDX, the question remains.  If the answer is "it's not possible", can that just be said?  Or perhaps, "it's a bug or a new feature that needs to be considered" should be the answer.  I'm having the same problem with .NET 4.7 which is needed for a new feature in our application to run and it would be nice to know if we should delay the feature.

[2018-01-10 20:26] taylorb-microsoft commented on #695
Install-WindowsFeature is only on Server, where "Enable-WindowsOptionalFeature" is part of DISM and on client and server.  Personally I use that as it works on both.  You can also use DISM.exe if you wanted something outside of PowerShell (DISM.exe /Online /Enable-Feature /FeatureName:Microsoft-Hyper-V-All /All)

[2018-01-10 20:26] #695 closed

[2018-01-11 14:11] YauhenPyl commented on #295
any news about it? will it possible to run SSRS in docker?

[2018-01-15 11:34] tfenster commented on #618
I finally found a solution for this: I had to enable [this setting](https://docs.microsoft.com/en-us/windows/device-security/security-policy-settings/network-access-allow-anonymous-sidname-translation) on my container host and then it just worked

[2018-01-15 11:34] #618 closed

[2018-01-17 23:37] goffinf commented on #155
Yep me too. Creating a Windows VSTS build agent as a docker image (MS only provide the Linux one at present), installing Visual Studio 2017 and the some of the workloads using Chocolatey, one of which (netweb I think) causes the docker build to fail because it creates a pending reboot state and the build can't continue. I posted this question to the docker forum only a couple of hours ago (I didn'

[2018-01-26 18:19] killnine commented on #412
@jhowardmsft Sorry, but I'm not understanding how to control named pipe behavior. Is setting behavior an OS-level thing or something specific within daemon.json?

I am trying to give our TeamCity agent access to the docker daemon running locally on the box.

[2018-01-29 19:15] weijuans commented on #530
Hello All - wanted to let you know we now have fixed this issue in our recent Server Insider build 17074 and higher. Please do download and give it a try. Let us know if we indeed did the job!

Here you can find the recent Server Core container Insider builds:
https://hub.docker.com/r/microsoft/windowsservercore-insider/

Here is a blog related to this fix and other ones:
https://blogs.technet.mic

[2018-01-31 12:28] BerkOzdilek commented on #377
Is it supported now ?

[2018-01-31 18:03] syalachigere opened #718 "Can I run a container in foreground mode from PSSession?"
Is there a way to run docker container in foreground more (-it) from PSSession? I get the following error when I tried the docker exec command. Thanks.

[code]

[2018-02-03 08:30] nkrepo opened #720 "Are Nested Virtualization Extensions and Discrete Device Assignment (DDA) for VGA Passthrough compatible?"
Can the the the Nested Virtualization Extensions and Discrete Device Assignment (DDA) for VGA Passthrough concurrently enabled for one Hyper-V Generation-2 VM ?

Every time I try to enable nested virtualization extensions for a VM that already uses DDA for VGA passthrough I get a BSOD or an endless boot loop.

Details for the issue are:
https://social.technet.microsoft.com/Forums/windowsserver/en-

[2018-02-10 13:14] mufengcoding opened #722 "k8s node ws"
** Description**

![Uploading 深度截图_选择区域_20180210211317.png…]()

Link to doc:

[2018-02-10 13:15] mufengcoding commented on #722
![_ _20180210211317](https://user-images.githubusercontent.com/13534743/36062427-7e777a0e-0ea7-11e8-8478-667eea9cf5e8.png)

[2018-02-13 17:38] #504 closed

[2018-02-14 00:58] weijuans-msft commented on #530
@JanneRantala @StefanScherer can you help validate if we indeed fixed this issue here? Any Server insider builds 17074 or higher should work. Thanks!

[2018-02-14 06:30] StefanScherer commented on #530
@weijuans-msft Thanks. I haven't encountered this problem locally in VM's for a long time, both 2016, 1709 or Insider builds.

From time to time I see this happen in my AppVeyor builds, eg. at https://ci.appveyor.com/project/StefanScherer/dockerfiles-windows/build/1.0.1017#L458 - exact OS and Docker version is at the beginning of the log.

[2018-02-14 18:49] JanneRantala commented on #530
@weijuans-msft Thanks, however my issue is with Windows 10 laptop, any idea when the fix will be available there?

[2018-02-14 18:57] weijuans-msft commented on #530
@JanneRantala Did you mean you run those Docker commands on Windows containers with Windows 10 laptop? If so, get a recent Windows 10 insider build (17074 or higher) as the host, and a corresponding Windows containers of the same build, and that should work. The failure was on the container initiation part. It's not an Windows 10 issue. But you do need the same (or higher) Windows 10 insider build

[2018-02-14 19:02] weijuans-msft commented on #530
@StefanScherer the issues from AppVeyor seemed different from what was reported earlier in this thread regarding FDVDenyWriteAccess. Right?

[2018-02-16 14:43] jrottmann commented on #587
I'm experiencing the same problem on Windows 10 Version 1709 (Build 16299.125). Is anyone working on this issue? Are any workarounds known to access domain resources from inside a container?

[2018-02-20 14:29] sandersaares commented on #663
Where does the 1709 fork of Windows fit into this?

[2018-02-21 17:26] ryudice commented on #442
Hi, just wondering what would be the "docker run" command then, given that trying to mount the npipe doesnt work?

[2018-02-21 18:32] carlfischer1 commented on #442
@ryudice see https://stackoverflow.com/questions/47801477/can-i-use-named-pipes-inside-containers

[2018-02-27 03:47] funky81 commented on #722
Try to create kubernetes node from scratch by following this website `https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows`

it works for me....

[2018-02-27 03:50] funky81 commented on #584
Hi,

I'm having the same problem with TS. Any sugestion?
I'm deploy aspnet 4.7 apps on top of asp.net docker image in kubernetes bare metal (not in cloud)
the problem is that my apps can't reached outside network, while it can be browse using NodePort (in Services).

Anyone can help?

[2018-02-27 05:59] mufengcoding commented on #722
What is your version of the window server @funky81

[2018-02-27 07:39] funky81 commented on #722
Sorry, I haven't mention. I'm using 1709
It works perfectly in case your create pod as stand alone scenario.
Because in those documents, especially host gateway network , it won't allow container in pod to communicate with outside cluster.

[2018-02-27 08:50] mufengcoding commented on #722
@funky81 Where can I download it ? Perhaps this is the key

[2018-02-27 09:25] funky81 commented on #722
You have to buy Microsoft Windows Server Software Assurance. More details
https://blogs.technet.microsoft.com/windowsserver/2017/10/17/windows-server-version-1709-available-for-download/

On Feb 27, 2018 3:50 PM, "mufengs" <notifications@github.com> wrote:

[2018-02-28 11:55] funky81 opened #729 "How to run Flannel for Kubernetes Windows Nodes?"
Hi, is there any docs that you guys can share to do integration Flannel with Windows Server (1709) as Kubernetes Nodes? I cant find anywhere.

Thanks

[2018-03-02 09:30] mufengcoding commented on #722
I tried this will appear 1709 this, what is your network adapter configuration? I suspect this is the problem, as well as your master is done according to the document or build their own @funky81

[2018-03-02 22:31] funky81 commented on #722
I'm installing 1709 on top of my vmware esxi host. but actually this command is quite common.
You can try it even in your windows laptop + docker installed

[2018-03-12 01:45] kasper3 opened #735 "Hyper-V UI/UX improvement suggestion"
In 2018, if you go out to shop a laptop/desktop, you will be amazed to find that over 80% of those devices don't have CD/DVD/Blu-Ray players in them.

Yet in Hyper-V's create new VM Installation Options menu, the default is set to CD/DVD drive and you have to perform an extra click to select ISO as if it's a secondary option.

Please not only consider moving ISO above CD/DVD, but also take a look

[2018-03-15 21:12] scooley commented on #735
Working on it :)

[2018-03-21 17:15] PatrickLang opened #745 "Need doc clarifying changes to container images between versions"
** Description**
There isn't a list of what changed in `microsoft/nanoserver` or `microsoft/windowsservercore` images between Windows Server 2016, Windows Server, version 1709, or future releases. We need a page clarifying any differences in roles or users that could help developers choose the right image.

Link to doc: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-conta

[2018-03-23 10:47] nanoant commented on #355
Just to let you know, I am now at SEP 14 RU1 MP1 and everything is working as expected finally, so it is definitely SEP 12 issue. @mduft @aphophas @ecornell @wadinj I recommend upgrading to SEP 14 then.

[2018-03-27 00:46] Heidern commented on #494
Like everyone else in here, I was struggling to get MSDTC working in containers. I don't want to jinx myself, but I do believe I have MSDTC working after many hours of frustration.

Long story short, my setup uses MSDTC without any kind of authentication. The two things that finally pushed me over the hump was 1) testing my changes in an environment without any kind of anti-virus / firewall restri

[2018-03-29 13:02] willwhite1 commented on #642
Bit odd this one isn't it... I ran into it as well, ended up working around with something like below -

$r = 0
$t = New-Object Net.Sockets.TcpClient
$t.NoDelay = $true
do {
	try {$t.ConnectASync("127.0.0.1", 80)} catch {}
	$r++
	Start-Sleep -Seconds 1
}
while (!($t.Connected) -and $r -lt 10)
$t.Dispose()

[2018-04-04 20:30] jorisscheppers commented on #627
I wish I googled 'docker gmsa subdomain' weeks earlier. Then I would have found this ticket which would have saved me lots of time and frustration.

I've updated the ReadMe.md file that you mentioned and created a PR. See https://github.com/MicrosoftDocs/Virtualization-Documentation/pull/748

[2018-04-07 11:33] mateuszdrab commented on #587
I justed experienced the same issue on Server 1709 with a Docker image running under --isolation hyperv however the issue ceased as soon as I rebuilt my image with the matching base image of windowsservercore 1709 and stopped using the isolation switch. Hopefully this gets resolved in the next build.

[2018-04-10 12:16] JoshSchreuder commented on #530
I tried in a fresh Windows 10 Enterprise N 1709 VM and installed McAfee Endpoint Protection 10.5.3.3178.

Out of the box the `docker pull` command worked fine.

Running 10.5.1 elsewhere and it has this issue, not 100% if it's McAfee or some other environmental issue.

[2018-04-10 12:16] JoshSchreuder commented on #355
I tried in a fresh Windows 10 Enterprise N 1709 VM and installed McAfee Endpoint Protection 10.5.3.3178.

Out of the box the `docker pull` command worked fine.

Running 10.5.1 elsewhere and it has this issue, not 100% if it's McAfee or some other environmental issue.

[2018-04-18 11:52] tparduejr commented on #587
@mateuszdrab  , you said Server 1709....was this on Windows 10?  If so, can you give more details?

[2018-04-18 12:49] mateuszdrab commented on #587
@tparduejr That was on Windows Server, 1709 with Windows Server 2016 image running in hyper-v isolation mode. After rebuilding the container to 1709 base, the issue was no longer the case (as there was no need to use hyper-v isolation). I'd assume that the issue here is Hyper-V isolation. Can try to reproduce this in Win 10 or maybe someone else can.

[2018-04-18 13:24] jrottmann commented on #587
@PatrickLang do you know if there are any plans from the hyper-v devs to get this fixed?

[2018-04-18 15:51] PatrickLang commented on #587
Looks like it broke again. I know they were looking at it recently so I'll ping them. If you can get support cases open directly with Microsoft that will help expedite it since a Windows hotfix is needed. This affects both Windows 10 version 1709 and 1803.

Breadcrumb for myself - internal issue # is 15707011

[2018-04-19 01:49] gitfool commented on #355
I have the same issue on Windows Server 1709 using current latest everything:
[code]
I only have the built-in Windows Defender feature installed, so I tried excluding the Docker folder:
[code]
Then I tried disabling Windows Defender realtime monitoring:
[code]
Then I tried removing the Windows Defender feature:
[code]
Finally, I tried @brunofvalli 's suggestion and **I stopped all other running co

[2018-04-26 11:36] erwabo commented on #587
I was told from the premiere support team: "Microsoft does not engage on any Docker issues where the configuration is not WS2016 with Docker Enterprise Edition installed. That means no Design Change Request will be accepted. The bottom line is that this is NOT supported by Microsoft--customer needs to engage Docker support at their website: https://www.docker.com/get-docker  (Docker Website with P

[2018-05-10 14:11] robertoandrade commented on #295
I believe the main reason they don't support SSRS on Windows Server Core container is because neither the UI nor the CLI works to complete the setup. I was able to use https://github.com/Microsoft/ReportingServicesTools and finish the configuration after setup using PowerShell/WMI and it's working just fine, so I guess they may switch that support in the docs some time soon providing instructions

[2018-05-11 09:41] dtretyakov commented on #334
@jstarks, @neilpeterson, @scooley, could you please clarify how non C drive volume mapping should work?
For example:
[code]

When starting powershell in the container it fails with a following error:
[code]

So it looks like it just creates an empty drive `D:` inside container and does not provide any content from the host filesystem or this drive has problems with permissions to access it.

[code

[2018-05-16 16:28] erwabo commented on #587
Has anyone heard anything else regarding this issue?

[2018-05-18 13:28] andrewjwatts opened #759 "./start-kubeproxy.ps1 errors unable to provison pods"
Is anyone else getting this problem? I can't get past this in this guide
https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows.md#cluster-subnet-def

I am unable to start kubeproxy as below and so I get Failed create pod sandbox.

PS C:\k> ./start-kubeproxy.ps1
WARNING: The names of some imported comma

[2018-05-23 05:10] MikeChristensen commented on #181
@StefanScherer I'm running Windows 10 Build 1803, but still have the same problem.  Can you confirm if this fix made it into 1803, or do I still need to use Windows Insider builds?

[2018-05-23 05:35] rs38 commented on #181
I tested the fix sucessfully two weeks ago with 1803. Visual Studio "deploy to docker" still does the "old" way with grabbing the "172.x.x.x." from the container config.

[2018-05-23 05:48] MikeChristensen commented on #181
Strange.  I'm running the container like so:

[code]

I can reach the site on the IP of the container on port 80, but I cannot reach the site on localhost:567 or 127.0.0.1:567.  I'm using pure Docker commands and not Visual Studio for anything.  I'm on Windows 10 Build 1803, and am NOT on Windows Insider.

[2018-05-23 06:11] StefanScherer commented on #181
@MikeChristensen the container image must also be newer than the ltsc image.
The kitchenpc/api:dev should use the 1803 base image.

[2018-05-23 07:57] kallie-b commented on #181
@daschott :)

[2018-05-23 13:43] ptylenda opened #761 "Ansible playbooks for Kubernetes on Windows (with Flannel host-gw backend)"
If anyone is interested, for example to include this as a part of docs, I am sharing my ansible playbooks (and packer templates) which I created during my proof-of-concepts with hybrid windows/ubuntu kubernetes cluster + flannel host-gw network: https://github.com/ptylenda/kubernetes-for-windows
Mostly based on the the tutorial above, extended with Flannel and experimental CNI plugins. This is of

[2018-05-23 15:01] MikeChristensen commented on #181
Ah, so this is only supported on Windows 10 images.  I was using `microsoft/aspnet:4.7.1-windowsservercore-1709 ` (Though I also tried `microsoft/aspnet:4.7.1-windowsservercore-ltsc2016`)

[code]

Any idea when the Windows Server Core images will support this?  Thanks!

[2018-05-24 00:58] pjh opened #762 "Hyper-V TLFS does not describe changes between major versions"
Link to doc: https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/tlfs

A few years ago we used version 4.0 of the Hyper-V Hypervisor Top-Level Functional Specification (TLFS) to implement some Hyper-V enlightenments, such as the reference TSC page, in our hypervisor. Since then Microsoft has released version 5.0 of the TLFS. However, the new version does not describe what

[2018-05-24 07:37] andrewjwatts commented on #759
Anyone? I can not finish this walk through because of this error, Can anyone help me with this please?

[2018-05-25 01:52] myusrn opened #763 "will this enable use of vmware player alongside hyper-v vm's at the same time"
there are some images out there configured only to operate with VMware player.  i am wondering if this windows hypervisor platform enables the install and use of VMware player images alongside Hyper-V vm images such as vs17 15.8 or newer android emulator images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b33744a-b

[2018-05-25 10:12] rs38 commented on #181
there are no "Windows 10 images"...

docker images can base on the latest semi annual core which can be servercore or nano.
simply try:
microsoft/aspnet:4.7.1-windowsservercore-1803 in your case.

By the way I do not really understand why the virtual NIC / Switch and NAT Problem resulting in not binding to localhost needs Container Host and Base Image 1803 when working in Hyper-V abstraction like

[2018-05-25 16:17] daschott commented on #181
@rs38 @MikeChristensen @StefanScherer I confirm that localhost/loopback support on Windows 10 April 2018 and Windows Server 1803 is a known issue that is actively being fixed.

Even though the functionality may work for some people, it will not work for everyone. Using a new container image is also not going to fix it unfortunately!

I will post back here once a fix is out :)

[2018-05-25 18:44] jterry75 commented on #763
@myusrn - At this time that would not be supported.

The Windows Hypervisor Platform enables any third party to run on the platform. One such example as you pointed out is the Android Emulator running on QEMU. However, any third party must still have their management tools built on top of the platform rather than using their own hypervisor in order to run in this model.

[2018-05-27 05:43] chrisbalzat opened #764 "Great instructions!"
These were very helpful (and up to date!) which made it so simple for me to follow them, thank you ❤

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10344c5d-274e-de75-ecb6-11d53a377986
* Version Independent ID: 4cea53b8-1864-f12b-f0d9-f208743475c8
* Content: [Create a Virtual Machine with Hyper-V](https://docs.microsof

[2018-05-28 05:55] scooley commented on #764
Thank you :)

[2018-05-28 05:55] #764 closed

[2018-05-28 05:56] scooley commented on #759
@PatrickLang might know more

[2018-05-29 01:11] scooley commented on #257
The version in the docs is the one we (Hyper-V) use for testing.  I'm updated the README to say as much.

[2018-05-29 01:11] #257 closed

[2018-05-29 01:14] scooley commented on #651
Updated the README.  I don't know which script is the most up-to-date but the one here is the one we use in Hyper-V as needed.

[2018-05-29 01:14] #651 closed

[2018-05-29 01:15] #249 closed

[2018-05-30 09:19] Spotypop opened #765 "The operating system of the container does not match the operating system of the host"
Hi, I 'm new to kubernetes and trying to config a cluster with Windows nodes, using
[https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows]
When I'm trying to deploy win-webserver-port-mapped.yaml to the cluster I've got following error:

E0530 11:42:13.374889  204644 pod_workers.go:186] Error syncing pod 733a9cfc-63e3-11e8-b83f-00505697a95

[2018-05-30 14:20] communityus opened #766 "#enable-the-hyper-v-role-through-settings"
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v#enable-the-hyper-v-role-through-settings
- This step "#enable-the-hyper-v-role-through-settings" was already checked.
- Using "Right click on the Windows button and select ‘Apps and Features’." Yields no option to that end.
I ended up getting there just by typing into "Win + S" the letters "Hyp" and then

[2018-05-30 16:07] daschott commented on #181
As a (perhaps not very ideal) workaround in the meantime:
If you have at least one network adapter which is connected (and does not have a 169.254.x.y IP address) localhost should work. Disabling any adapters which have a 169.254.x.y IP address assigned should make this work again.

Otherwise, you should be also able to access the exposed service using http://<hostname>:hostport

[2018-05-30 17:51] MikeChristensen commented on #181
Odd.  I don't have any 169.x.x.x addresses, yet localhost doesn't work (on Windows 10 host and aspnet:4.7.1-windowsservercore-1709 image).  My IPs on the host are:

[code]

[2018-05-31 04:30] lahma commented on #181
I'm seeing same kind of problems with following setup on Windows Server build 17650 running on bare metal:

   IPv4 Address. . . . . . . . . . . : 192.168.2.188
   IPv4 Address. . . . . . . . . . . : 172.22.192.1

I cannot reach port from localhost, container IP nor the 192.168 address from host. I can reach the port from another computer on network (goes to 192.168 IP).

[2018-05-31 11:15] rs38 commented on #181
I am still a bit confused because I thought I already had that running and tested that app bound at locahost.

Currently I can reach the container (either 1709 or 1803 nano based, they behave the same) locally on my static IP, which is okay:
[code]
Win10 1803
IPv4/v6 does not relate to that?

[2018-06-02 00:43] carlfischer1 commented on #181
@lahma https://github.com/moby/moby/issues/36990

[2018-06-04 12:03] thinkthencode opened #769 "Missing NLTEST from nanoserver image"
I'm trying to setup gMSA on my Windows Container.

One of the step in the document @ https://github.com/MicrosoftDocs/Virtualization-Documentation/tree/live/windows-server-container-tools/ServiceAccounts asks to run NLTEST.EXE to verify domain connectivity. Inside my container I can not find this exe. I'm using microsoft/aspnetcore:2.0-nanoserver image. This file exists on the HOST but is missing

[2018-06-04 12:08] saywhut2 opened #770 "AMD support"
When will this be available for AMD processors, particularly Ryzen and EPYC chips?  I really want to get an S2D lab going but I can't because the virtualization extensions are not supposed on AMD yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a13cf32-4be1-94d9-b764-0faf79372065
* Version Independent ID: 6787036e-

[2018-06-04 14:14] josephderonde commented on #587
This is basically stopping us from adopting docker at the moment, as we can not get windows authentication working for development purposes on an intranet solution. Has anyone found a way around this, like building locally to a server 2016 docker enterprise box?

[2018-06-04 17:49] PatrickLang commented on #587
It's still not fixed yet. I've had a hard time getting an ETA.

The best workarounds for now are to either:
- Build on Windows Server 2016 - you can use process or hyperv isolation there
- Build on Windows Server version 1709 or version 1803 - process isolation only

[2018-06-04 22:38] anikundesu commented on #729
I walkthroughed the steps in this document.

https://github.com/Microsoft/SDN/blob/master/Kubernetes/flannel/l2bridge/ReadMe.md

The most important point is step 4, we should set variables for cluster network. And, using ubuntu 16.04 is easier for Kubernetes master node.

[2018-06-04 22:50] lisaguthrie opened #771 "Version compatibility article needs to be updated with info on 1803/RS4 images"
Version compatibility article has information on RS1 and RS3 (1709) images, but nothing on RS4 (1803) images as either the host or container OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47037c4-4b2e-b41c-64a3-d82ec79c18c4
* Version Independent ID: 947b1d95-3cd5-53d4-042f-71afe8bb3bdf
* Content: [Windows Containe

[2018-06-05 00:30] johncslack commented on #770
We'd love to support nested virtualization on AMD -- it's definitely something we want to do in a future release.

That said, it isn't supported today, and I can't commit to any timeline.  Please check back later!

[2018-06-05 00:30] #770 closed

[2018-06-05 00:39] saywhut2 commented on #770
This was released a year and a half ago... Is there even an ETA?

[2018-06-05 13:32] josephderonde commented on #587
So is there any way to get Visual Studio to build on a remote docker host? I am struggling to find the information on it. I don't think it would be ideal to have VS installed on the  Server 2016 image.

[2018-06-05 15:11] johncslack commented on #770
There are no updates at this point in time.

[2018-06-07 18:18] lostmsu opened #773 "The information is outdated"
At the very least, "Virtualizing GPUs using RemoteFX" is now available on the client Hyper-V, and has been for a while.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223b9ea7-e2c0-4c6b-6d55-9125274d26ce
* Version Independent ID: 85c7005e-33b2-ae0b-a919-f056d14cf0ac
* Content: [Introduction to Hyper-V on Windows 10](ht

[2018-06-08 23:03] pjh opened #775 "Get-VMSwitch cmdlet not present"
One of the screenshots above shows the Get-VMSwitch cmdlet for viewing vSwitch information. Get-VMSwitch does not seem to be present in Windows Server version 1803 by default. What is the recommended way to obtain this cmdlet?

My environment does not permit a full Hyper-V installation (running in a VM without nested virtualization) but by invoking the Enable-WindowsOptionalFeature and Install-Win

[2018-06-10 08:39] dorinlazar commented on #766
Same issue here with Windows 10 Pro - fresh install, Hyper-V enabled from the control panel (Turn Windows Features On/Off). Could not find the HyperV manager.

[2018-06-11 22:30] #664 closed

[2018-06-12 18:31] BatmanAoD commented on #530
@JoshSchreuder  Do you have the "Deny write access to fixed not protected by Bitlocker" group policy enabled? That's what causes this issue.

[2018-06-13 00:37] fabianobr opened #777 "Not work for me :("
PS D:\git\SampleASPContainerApp&gt; docker build -t myasp .
Sending build context to Docker daemon  3.148MB
Step 1/10 : FROM microsoft/aspnetcore-build:1.1 AS build-env
 ---&gt; 1604b524ffba
Step 2/10 : WORKDIR /app
 ---&gt; Using cache
 ---&gt; 669417df0fc4
Step 3/10 : COPY *.csproj ./
 ---&gt; Using cache
 ---&gt; d85b2de71c60
Step 4/10 : RUN dotnet restore
 ---&gt; Running in b17e6dc2f854
  Res

[2018-06-13 01:11] fabianobr commented on #777
Just a network nat local issue.
I rebuild the entire docker network.

[2018-06-13 01:11] #777 closed

[2018-06-13 15:31] tanushshukla commented on #412
@killnine, did you find anything on this? We are doing the exact same thing. getting this error from TeamCity or anytime we run docker from a non-elevated command prompt.

[2018-06-13 16:51] killnine commented on #412
@tanushshukla Unfortunately we have not resolved the issue.  I’ve been pulled off to another task but my next step was going to be uninstalling and reinstalling docker entirely from the host

[2018-06-14 18:27] #771 closed

[2018-06-15 00:00] JoshSchreuder commented on #530
@BatmanAoD I think mine was "Not configured" but after changing it to "Disabled" for Fixed Data Drives and Removable Data Drives, this seems to have fixed my issue!

For those with the problem try it out

* Start -> Run -> gpedit.msc
* Computer Configuration -> Administrative Templates -> Windows Components  -> BitLocker Drive Encryption -> (Fixed | Removable) Data Drives -> Deny write access to f

[2018-06-15 15:47] BatmanAoD commented on #530
@JoshSchreuder No problem!

Unfortunately, this is still an issue for corporate Windows users like myself, who have that policy locked down by IT.

[2018-06-17 19:10] AaronFriel commented on #530
Hi, @weijuans-msft was this fix supposed to make it into Windows 10 1803? I am not able to get Windows containers working on a laptop recently updated to 1803 with this corporate policy. The error I get is the same:

Should that have been fixed in 1803/17134?

[2018-06-18 07:05] motek80 opened #779 "Document is not up to date?"
Document says: "Windows Server Containers are blocked from starting when the build number between the container host and the container image are different - for example 10.0.14393.* (Windows Server 2016) and 10.0.16299.* (Windows Server version 1709)."

I have a Windows Server 2016 host and I running on it Docker EE image with "process" isolation and having container image OS Windows Server 1709.

[2018-06-18 17:08] pablodav commented on #729
I'm looking for some stable solution and working in automation for the deploys:
https://github.com/pablodav/kubernetes-for-windows

But couldn't found a way to deploy k8s for windows with networking plugin in stable way for maintenance in production environment.

[2018-06-20 03:56] samyyvaldez2515 opened #782 "Help"
Help me open

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 604d834f-6f94-0a37-12b6-a10dcf7c9fa3
* Version Independent ID: 4bd4ce05-bdde-f450-ee68-9fcd2cbca48e
* Content: [Windows 10 Hyper-V System Requirements](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/hyper-v-requirements#verify-har

[2018-06-20 03:58] samyyvaldez2515 commented on #779
Can u help me

[2018-06-20 16:55] MFaklis commented on #763
I have been unable to find any docs on how to use the hypervisor platform to run the android emulator on QEMU.  Do you have any references for this?

[2018-06-20 20:35] jterry75 commented on #763
@MFaklis - [Try this Blog Post out](https://blogs.msdn.microsoft.com/visualstudio/2018/05/08/hyper-v-android-emulator-support/)

[2018-06-21 17:49] pandagopal opened #785 "r -v"
** Description**

Link to doc:

[2018-06-21 20:48] artisticcheese commented on #530
Mcafee AV does **not** support any container operation. https://kc.mcafee.com/corporate/index?page=content&id=KB90041&actp=null&viewlocale=en_US&showDraft=false&platinum_status=false&locale=en_US

[2018-06-22 09:50] JanneRantala commented on #530
To be honest, McAfee not supporting containers is quite unbelievable. Microsoft should really do something about that since our voice doesn't seem to have any effect on them.

[2018-06-22 12:20] artisticcheese commented on #530
Why Microsoft shall do something about  Mcafee not supporting containers? Microsoft product (Windows defender) supports it, Symantec supports it, so obviously issue is with Mcafee not with anything else. Since you are customer of Mcafee and paying them money you have a right to demand from Mcafee to either fix the product or you walk away to vendor who cares about their customer demands.

[2018-06-22 13:06] JanneRantala commented on #530
Why wouldn't they want to help people using Windows Containers? I work for a company of 70000 people so if I say ditch McAfee, nobody really cares a shit. And McAfee has clearly stated that supporting Containers is not in their plans in the near future. And I'm well aware that the problem is with McAfee and nobody else, you don't have to remind me about that.

[2018-06-22 13:19] artisticcheese commented on #530
Because Microsoft does not own Mcafee and does not have a say what Mcafee shall support or not. What Microsoft can possibly do other then say use different AV?

[2018-06-22 16:53] JanneRantala commented on #530
Negotiate for example. Or is that an impossible idea in your opinion?

[2018-06-22 16:58] artisticcheese commented on #530
Bearing in mind other vendors support containers and Microsoft's own solution (Defender) supports it as well I don't see why would Microsoft plead with third party vendor to support feature of Windows. As per Mcafee `McAfee is investigating these products to make them compatible with Windows containers in the future.` So they are looking for people like you to tell them that you need them to suppo

[2018-06-22 23:46] weijuans-msft commented on #530
Sorry folks that I didn't chime in earlier. The issue was fixed in 1803. Please be sure to get the right build of the host and the container when you validate.

As to AV support on Windows containers, Microsoft has published guidance in the past to AV vendors:
https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/anti-virus-optimization-for-windows-containers.

Like some of you mentioned,

[2018-06-22 23:48] artisticcheese commented on #530
What is `fixed` in 1803? If issue with AV which is incompatible with containers (Mcafee) then how could have it been fixed via Windows OS?

[2018-06-22 23:59] weijuans-msft commented on #530
The fix is for these issues reported here and User Voice related to BitLocker and FDVDenyWriteAccess policy: Users were not able to run basic Docker commands like Docker Pull.

https://github.com/Microsoft/Virtualization-Documentation/issues/355
https://windowsserver.uservoice.com/forums/304624-containers/suggestions/18544312-fix-docker-load-pull-build-issue-when-bitlocker-is

What we did in the f

[2018-06-25 21:13] liamkennedy89 opened #787 "It is awful that you prevent Home users from enabling hyper v"
Please just enable hyper v for Home users. I don't want to fork out £120 just to get Docker working properly on your platform
Thanks

Liam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223b9ea7-e2c0-4c6b-6d55-9125274d26ce
* Version Independent ID: 85c7005e-33b2-ae0b-a919-f056d14cf0ac
* Content: [Introduction to Hyper-

[2018-06-25 21:19] scooley commented on #787
Closing since this isn't a doc bug but here is a [link](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/17284472-enable-hyper-v-on-all-version-of-windows) to upvote on UserVoice

[2018-06-25 21:19] #787 closed

[2018-06-25 21:22] scooley commented on #785
I don't have enough info.  Closing but feel free to reopen with the appropriate info.

[2018-06-25 21:22] #785 closed

[2018-06-25 22:39] scooley commented on #782
Not enough info.

[2018-06-25 22:39] #782 closed

[2018-06-25 22:40] scooley commented on #779
Thanks for the feedback.  @PatrickLang

[2018-06-25 22:47] scooley commented on #773
Fixed.

[2018-06-25 22:47] #773 closed

[2018-06-25 22:50] scooley commented on #766
Interesting.  @dorinlazar, do you have powershell management tools?  (check by running `Get-VM` as administrator)

@communityus  - yes, the PowerShell instructions and the Windows Features instructions do the same thing.

Do you have all boxes under Hyper-V checked?  Both Server and Management tools?

[2018-06-27 13:54] rrapelje opened #789 "Examples would be helpful"
I think it would be beneficial if section Configuring Static Routes | Linux contained an example.  So that the reader can correctly substitute their network specific information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b2b888-cb50-926c-17c8-27717fdcb0bf
* Version Independent ID: 3d814685-eac3-500c-83e2-4d4edfaf

[2018-06-28 03:10] dorinlazar commented on #766
Sadly, I don't have that setup anymore. What I did was uncheck the box in the Windows Features, restart, recheck the box, restart and I was able to find HyperV manager. I suspect that the software updates made right after the fresh install removed the HyperV manager, but I can't confirm (nor can try to reproduce)

[2018-06-28 03:40] walkerjian opened #790 "Create Virtual Machine exe - VMCreate.exe, where does it store downloads?"
The Create Virtual Machine exe - VMCreate.exe, where does it store downloads? This is important because there is no way to set the download location in the gui, and if a download is interrupted then it seems to leave the (12 gb ! for win dev image) partially downloaded files somewhere. And I have had enough of trying to work out what Hyper-V and other programs are doing because of very poor UX and

[2018-06-28 03:43] walkerjian opened #791 "where are the downloaded files stored?"
There doesn't appear to be a way to set the download location of the image when using the quick create method. This seems to be clogging up my small ssd c: drive - why would you not allow people to specify where the temporary downloads go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10344c5d-274e-de75-ecb6-11d53a377

[2018-06-28 10:37] lucidprogrammer opened #793 "Is this documentation up to date if you are creating a multi host network (all windows) when a windows host is the manager?"
Consider the following, done on a Windows Machine.

$ipofhost = dig +short myip.opendns.com "@resolver1.opendns.com"
docker swarm init --advertise-addr "$ipofhost"
(above commands work fine and a manager node is created. All the necessary ports are open)

Following is my finding.
1. One machine only - all works fine. I am able to deploy a stack and do whatever needed as per docker swarm requiremen

[2018-06-29 20:18] AaronFriel commented on #530
Hi @weijuans-msft, are you sure this is fixed in 1803?

![image-1](https://user-images.githubusercontent.com/788800/42113037-89ee4186-7baf-11e8-8925-94cb13dd7b94.png)

I don't think it is fixed. Enterprise policy is still preventing Docker for Windows from even using Windows Containers. This is on Windows 10 1803, and this error appears shortly after selecting the Docker context menu option, "Swit

[2018-07-02 01:06] lucidprogrammer commented on #793
On further review, found the following.
Avoid 1803 for now. The moment you do swarm init, the machine gets unreachable. RDP or ssh does not connect again. aws/azure will not connect again.
1709 - have patience. disconnect and connect again. It should work. In addition, OS makes the decision with the built in firewall to close ports even though open at the aws/azure end.
Therefore, add these into y

[2018-07-02 01:06] #793 closed

[2018-07-04 11:37] MetaBarj0 opened #796 "Useful"
Very useful high level overview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9533e43-4ff9-0c74-a76f-f6501e7a8009
* Version Independent ID: 40b4f3df-1ec0-fa0c-5a25-f0f2ddb718d3
* Content: [Hyper-V Architecture](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/hyper-v-architecture)
* Conte

[2018-07-04 16:50] ctgarvey opened #797 "there is no mention of windows 10 1803 and whether it supports docker containers"
please update the docs. can i run docker windows containers on win 10 enterprise 1803 yes or no

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66894009-bd4f-3fa6-6e03-a8485686bea5
* Version Independent ID: 9d081837-7987-eeb5-1abf-37ebc2e3c7f6
* Content: [Windows Container on Windows 10](https://docs.microsoft.com/en-gb

[2018-07-05 09:28] royeectu opened #798 "A step is missing"
When you install Docker on Windows, it is set to run Linux containers on Windows (LCOW).
In order to run the .Net hello example mentioned above, first you should switch to Windows containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a44120-01fd-11ca-9d51-21ac35609f11
* Version Independent ID: 75a53123-64be-1caf-

[2018-07-08 00:51] parvez99 commented on #759
Hi Guys, has anyone found a fix to this? I am seeing the same error when trying to add a Windows Server node to an existing Linux based Kuber Cluster.

I have the Kube cluster deployed on AWS with the latest version (v1.10.0)
Please help as this is very important. Thanks.

[2018-07-08 08:07] andrewjwatts commented on #759
Hi
I have spent a lot of time on trying to get this working. either a new guide needs to be written or this one updated with the correct files and commands. It almost feels like its been abandoned!

[2018-07-10 13:20] stgraves opened #800 "Command does not work on Ubunto 18.04"
sudo apt-get install curl git build-essential docker.io conntrack python2.7
"Unable to locate package docker.io"
"Couldn't find any package by glob 'docker.io'"
"Couldn't find any package by regex 'docker.io'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e01fc9-32d1-7154-c3c0-0ab3981f01ff
* Version Independent ID:

[2018-07-10 20:54] artisticcheese commented on #530
Here is official information from Docker which is AV solutions support windows containers. https://success.docker.com/article/endpoint-security-for-windows-containers

[2018-07-11 21:02] stgraves opened #802 "Add Supportability content for Transparent Networks on Azure VM"
We are seeing a lot of customers using this documentation when using Containers on Azure VMs. It would be good idea to add a note to the transparent network description stating that MAC Address Spoofing is not supported on Azure VMs.

transparent – containers attached to a network created with the 'transparent' driver will be directly connected to the physical network through an external Hyper-V s

[2018-07-11 21:06] stgraves commented on #800
I was able to get around this issue by installing all the updates for Ubuntu 18.04, which the article mentions should be done but doesn't provide any steps.

The article makes assumptions the person following the steps knows how to use Ubuntu. But it would be a good idea to include the commands to install all the updates for those that are not familiar with Ubuntu.

[2018-07-12 14:38] harsh541 opened #803 "Say I have a windows laptop/system and I have a docker linux container"
Does my Dockerfile contain a linux model or windows model? For example will it contain Echo or can I use Sudo...etc to build my Dockerfile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af1a6bea-cfcc-f9d3-25ee-f95f567378cf
* Version Independent ID: 91a0dfac-9427-6999-e7b5-a1005a04395e
* Content: [Dockerfile and Window

[2018-07-12 15:24] janainaemilia commented on #355
@RustyCZ  You rock! I had the same problem when execute `docker pull microsoft/mssql-server-windows-express`, and when I stopped the others containers and execute pull again, it works! Thank you 💯

[2018-07-12 17:56] DavidKuehn opened #805 "Example link to NET Core Nano Server Dockerfile is 404"
The link to NET Core Nano Server Dockerfile at the end of the page results in a 404.  It looks like the blob paths now include the build path, but the current link was created before that was the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9682caf3-5fc4-54e6-d841-8cb6c16bbc4f
* Version Independent ID: 6c99e2e3

[2018-07-12 23:16] alexpilotti opened #807 "Fails with WHvPartitionPropertyCodeCpuidExitList and WHvPartitionPropertyCodeCpuidResultList"
Retuns ERROR_NOT_SUPPORTED when called with WHvPartitionPropertyCodeCpuidExitList or WHvPartitionPropertyCodeCpuidResultList

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d63354d7-ecff-6c5e-878c-aa4c1628cde1
* Version Independent ID: 52999457-555e-db21-8c78-c960bf2e0dc5
* Content: [WHvGetPartitionProperty](https://doc

[2018-07-13 17:16] #807 closed

[2018-07-17 11:06] RHaest commented on #802
Hi, I totally agree with you. One question that comes up immediately and would be a nice addition: is there a workaround to achieve the same result (multiple containers on multiple IP's accessible externally) for transparent networks with Azure VM's? Thanks!

[2018-07-17 12:54] #802 closed

[2018-07-17 19:32] Thraka commented on #766
I'm about to install [Remote Server Administration Tools for Windows 10](https://www.microsoft.com/en-us/download/details.aspx?id=45520) which from what I read, should solve the problem.

[2018-07-18 02:48] JoCornet opened #811 "Limitation and Restrictions"
Hi,

I am struggling to find current limitation and restriction related to this functionality.

The Preview was listing the following restrictions.

Both hypervisors need to be the latest versions of Hyper-V. Other hypervisors will not work. Windows Server 2012R2, or even builds prior to 10565 will not work.
Once nested virtualization is enabled in a VM, the following features are no longer compat

[2018-07-18 22:08] johncslack commented on #811
Thanks for the feedback! I'll take a look at updating the docs with that information.

In the short term -- is there any specific restriction you're concerned with?

[2018-07-18 22:20] JoCornet commented on #811
Hi John,

Thanks for your quick reaction.
I'm concerned about live migration restrictions.

Regards,
Johann

On Thu, 19 Jul 2018, 10:08 John Slack, <notifications@github.com> wrote:

[2018-07-19 01:05] AaronFriel opened #812 "Cannot run Windows containers on Windows 10 1803 due to Bitlocker policy."
This issue was reportedly fixed in 17074, per a comment on issue #530.

I don't believe it is resolved, as shown here in Windows 10 1803, build 17134:

![image-1](https://user-images.githubusercontent.com/788800/42113037-89ee4186-7baf-11e8-8925-94cb13dd7b94.png)

This appears shortly after selecting the Docker context menu option, "Switch to Windows containers..."

No antivirus is involved here.

[2018-07-20 02:13] johncslack commented on #811
Thanks Johann,

Live migration is compatible with nested virtualization as of the creators update (it came with save/restore).

One important note here: live migration is only available on Windows Server, not Windows 10.  So migration isn't possible on the latest version of Windows 10, only on Semi-Annual Channel versions of Windows Server realized after Creators Update (i.e. 1703+).  For more inf

[2018-07-20 17:42] ElanHasson commented on #759
That error doesn't occur if you run kube-proxy.exe  in userspace vs kernel space.
PS C:\k> c:\k\kube-proxy.exe --v=4 --proxy-mode=userspace --hostname-override=$(hostname) --kubeconfig=c:\k\config

[2018-07-22 12:42] JohnGalt1717 opened #814 "Instructions on how to control outbound IP"
Hi there, this is a great article, however there is one major gap:

How does one control the outbound IP address used by a docker container?

I.e. it should be possible for firewall etc. rules to set this up so that container a. uses 10.10.1.5 and container b uses 10.10.1.6 for outbound traffic (also inbound but that should be easy with the -p notation to configure?)

This is vital for controlling

[2018-07-23 13:59] cassidydotdk opened #815 "Hyper-V is not configured to enable processor resource controls"
FWIW, that Hyper-V manager links to _this_ page to explain the above warning message is pretty useless. The UI hint one is given is; "Hey, there's something not optimal in your setup" and the link is sort of a promise that "if you follow this link, we'll explain what you can do".

But then you don't. The page is an architectural overview. It's like a fishing manual when all you really want is some

[2018-07-23 17:38] ElanHasson commented on #759
I found a fix. https://gist.github.com/ElanHasson/f03a9b512add3521acf20f062dd19f31

then run `.\start.ps1 -masterIp <YOURIPOFMASTER>`

Works great.

[2018-07-23 22:30] sethRait opened #816 "Hyper-V Feature Request"
Linux guests running on Hyper-V should be able to support screen resolutions >1920x1080.

Link to doc:

[2018-07-24 09:01] borysl opened #817 "Creating hyper-v external virtual switch crashes wi-fi forever."
I am trying to start working with docker for Windows on hyper-v. To do this effectively , I need to use external virtual switch. I have run the scenario several time until I narrowed it down to just simple as that.
I have browsed through many documents, but haven't found what I have to do it I receive Element not found. (0x80070490) when on creating external switch.

### Condition

MSI laptop. Cor

[2018-07-24 18:32] TomicaKaniski commented on #800
- ifconfig will show a new interface cbr0 with the chosen cluster CIDR.
For me, interface is called docker0, not cbr0 (Ubuntu 18.04).

[2018-07-24 18:33] TomicaKaniski commented on #800
- Under docker ps, there will be ~23 worker and pod containers.
This should be run with sudo (otherwise you'll get permission denied).

[2018-07-26 15:45] filou77 commented on #355
I have got the same error.
Then I realized that I tried to use a version of windowsservercore that was unsupported by my host OS according to:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility

[2018-07-26 18:34] olljanat opened #818 "There should be Best Practices page for Windows containers"
**Description**
As Windows containers/Docker/Kubernetes introduces new features all the time it is very hard to keep track that which features/configurations are really tested to be production ready.

That why I think that we should introduce new Best Practices page which list configurations we know working for sure.

Here is first draft based on my experience:

| Topic | Best Practice | Source/Re

[2018-07-26 19:18] IvanJosipovic commented on #818
Agreed, its very hard to understand what is supported and what is not.
For example, lots of docs talk about Server 2016, and don't specify Server Core 1709/1803. The support for those two version was just added in Docker EE 18.03.1-ee-1

Another good resource:
https://success.docker.com/article/compatibility-matrix

[2018-07-27 05:21] sgammill opened #819 ""Destory""
typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70518e8e-627d-c29b-6e1d-5bb9670969aa
* Version Independent ID: fdef6bc0-dde4-17d7-0def-6803551a8301
* Content: [WHvEmulatorDestoryEmulator](https://docs.microsoft.com/en-us/virtualization/api/hypervisor-instruction-emulator/funcs/whvemulatordestoryemulator)
* Content

[2018-07-27 05:31] ACoderLife opened #820 "Looks like that pull request is merged"
You have the following in this doc:
Note: This behavior is changing on Windows 10, Creators Update as the platform now supports "hot-add". This capability will light-up E2E after this outstanding Docker pull request is merged

Looks closed:
https://github.com/docker/libnetwork/pull/1661

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-07-30 17:58] daschott commented on #181
Hi, @MikeChristensen @rs38 @StefanScherer. We backported the container localhost/loopback access fix for Windows April 2018 Update (Windows 10 version 1803) through [KB4340917](https://support.microsoft.com/en-us/help/4340917/windows-10-update-kb4340917), available now.

To validate this fix, you can use `docker run -p 8080:80 microsoft/iis` command. Once the container is running, you should be ab

[2018-07-31 15:43] MikeChristensen commented on #181
Confirmed this works on Windows 10 with latest updates.  Thanks!!

[2018-07-31 16:14] ronaldlane opened #821 "Cannot build app and run the container when following instructions"
Cannot build app using powershell...
After following all instructions on the Windows 10 quick start (https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/building-sample-app) I run into an issue running:
`docker build -t myasp .`

[code]
It's not clear to me what is missing or how to correct this issue.  Please advise.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-08-02 15:58] sarjk commented on #534
I am having the same issue, did you find a solution?

[2018-08-03 13:49] gabrielluizbh opened #822 "Enable or disable checkpoints"
You could have the option to disable by the Powershell command.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 371a9010-df75-2250-6e55-85bef8c0b9de
* Version Independent ID: 9f61de64-c87e-39c9-901d-463e44df06b8
* Content: [Using checkpoints](https://docs.microsoft.com/pt-br/virtualization/hyper-v-on-windo

[2018-08-03 17:09] #805 closed

[2018-08-03 20:46] artisticcheese opened #823 "Please remove link called "Manage Docker with Powershell""
This project is abandoned (unfortunately)
![image](https://user-images.githubusercontent.com/13176884/43664994-5b93bf50-9734-11e8-9c34-56169263b880.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f436768e-3d52-102f-efd3-847e11f31317
* Version Independent ID: 2193c169-7f90-fa47-8cad-0ecb233bcd2a
* Content: [Windows

[2018-08-06 01:23] kkbruce opened #824 "Waitng Routing mesh coming soon so long time"
We waiting this "coming soon" so long time.
「Currently, DNS Round-Robin is the only load balancing strategy supported on Windows.Routing mesh for Windows docker hosts is not yet supported, but will be coming soon.」

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16eeefcb-95dc-952a-18b9-2c00d190a995
* Version Independent

[2018-08-06 14:45] carlfischer1 commented on #824
Routing mesh and VIP service discovery are supported in Docker engine EE 18.03.1. https://github.com/docker/docker.github.io/pull/7176 clarifies the release notes

[2018-08-07 20:13] erwabo commented on #587
I have not really found a way to do that, however, I am just building in VS then pushing the image to a registry and then pulling it to the docker host and building it that way, That seems to work well and have not really run into any issues....but still cant do the credential_spec on Windows 10

[2018-08-08 05:51] amolsh opened #825 "Is this blog outdated with respect to windows server 1803?"
Does this blog works with windows 1803? I think blog should be updated with latest changes. I was following this blog with 1803, it is not working as aspected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89f7c443-179d-e46a-7ea7-07271e4c775b
* Version Independent ID: da220df4-81c1-3557-354e-7a8f1d2ef029
* Content: [K

[2018-08-08 12:50] justit365 commented on #821
Same issue.....

[2018-08-08 14:02] justit365 commented on #821
Hi , I figured it out. You need build a folder c:\app and copy all the files under "SampleASPContainerApp" into it. And then build dockerfile under c:\app. Then run the docker build command.

[2018-08-08 17:39] bfpoulson opened #826 "Prof. for Interdisciplinary Studies and Computer Science"
Well written documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223b9ea7-e2c0-4c6b-6d55-9125274d26ce
* Version Independent ID: 85c7005e-33b2-ae0b-a919-f056d14cf0ac
* Content: [Introduction to Hyper-V on Windows 10](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/about/)
* Content Source: [

[2018-08-09 00:31] GavinPG opened #827 "Docker PowerShell commands"
I notice that the example uses commands such as Get-ContainerNetwork which are no longer supported (see https://docs.microsoft.com/en-au/virtualization/windowscontainers/manage-docker/docker-powershell), and the project referenced at that page has been abandoned (https://github.com/Microsoft/Docker-PowerShell) with the recommendation to use Docker CLI instead. It would be good to update these exam

[2018-08-09 12:07] icTaZ commented on #815
Considering politeness, I prefer saying "Not supported on you device" then pointing out to 2 page long description of some architecture without a word.

[2018-08-14 09:02] Clickbaitcake commented on #791
I am also seeing this issue.

[2018-08-15 06:13] SSJ9899TDylan opened #828 "Problems with VirtualBox"
Your Hypervisor Platform won't work with VirtualBox

[2018-08-15 09:41] rleigh-codelibre commented on #798
Is this still the case?  I just followed the instructions on a vanilla Server 2016 CLI-only install, and it was using Windows containers by default.  This wasn't true on Windows 10 though, where you needed to explicitly switch over.

[2018-08-15 13:01] RobertBernstein-MSFT opened #829 "Great explanation"
I wanted to understand the difference between Windows Server and Hyper-V containers.  This explained the distinction well and provided a clear example.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44aeb504-236b-28fd-bd33-13ebafecaec4
* Version Independent ID: eb33ef93-6440-eb5d-e6cb-b1de47d4c211
* Content: [

[2018-08-16 10:12] jeffstokes72 commented on #815
Agree with previous comments. I'm on a Ryzen 2700x desktop with 64gb of RAM and an array of SSDs. I'm now told I'm not configured properly for processor controls (this seems new in 10 in the last build or two, as this is the first time I've seen it on this hardware, or any hardware, since I started working on Hyper-V and before that Virtual PC).  This article might have merit for some folks, but t

[2018-08-16 10:16] jeffstokes72 commented on #815
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/manage/manage-hyper-v-scheduler-types#the-root-scheduler

is the area the console should point to apparently.

[2018-08-17 18:59] maxwellb commented on #797
The relevant text from this article is

Windows build 14393.2430 corresponds with Windows 10 version 1607. Windows 10 version 1803 is a later version, so it is supported.

[2018-08-20 14:42] mmgil opened #831 "NANO Server 2016"
New-SmbGlobalMapping não existe no Nano Server 2016. Mesmo usando CimSession não é possível criar um "Mapeamento Global de SMB"

In English:
New-SmbGlobalMapping don't exist in Nano Server 2016. I tryed to use CimSession but don't is possible create "SMB Global Mapping"

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitH

[2018-08-20 14:45] mmgil commented on #831
edit:

This is the error of return:

The class MSFT_SmbGlobalMapping does not
exist in the root/microsoft/windows/smb namespace.

[2018-08-20 19:09] BoazH2 opened #832 "docker: Error response from daemon"
I followed instructions and ran into the following error, any idea why?

running the following command: **docker run -it microsoft/nanoserver cmd**

docker: Error response from daemon: container c5d79ee3e93cbce00ad5540749fb0d934fb1ef50d82cc25334ede09eaa1b2ef7 encountered an error during CreateContainer: failure in a Windows system call: The locale specific resource for the desired message is not p

[2018-08-21 16:55] poopkinel opened #833 "This guide is not good enough"
Needs information about vswitch, and relation to creating a new hyperv docker

---
#### פרטי מסמך

⚠ *אין לערוך מקטע זה. פעולה זו נדרשת עבור קישור לנושאים ב- docs.microsoft.com ← GitHub.*

* ID: 1df65b2d-24ba-71b0-0648-14c21f5b1b26
* Version Independent ID: a89c84df-6ef7-66a9-eec1-35ba94afdb1b
* Content: [Enable Hyper-V on Windows 10](https://docs.microsoft.com/he-il/virtualization/hyper-v-on-wind

[2018-08-22 09:58] MeikTranel opened #834 "u6ruirz"
kzktzk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b1cd55-0f91-e97c-06d3-afe54fb909d4
* Version Independent ID: db485580-9c27-da7d-26f9-a60449cb5773
* Content: [About Windows Containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/#what-are-containers)
* Content Source: [virtualization/

[2018-08-22 09:58] #834 closed

[2018-08-22 16:29] jmajoor opened #835 "Docker Hub page (windowsservercore) missing 1803"
Not sure this is the right place, but there isn't a link to provide feedback on the docker hub page.
As of this moment the docker hub page does not mention Server 1803. It does have 1803 ready for a docker pull, but it makes no mention of it. The page also doesn't have a short description.
Docker Hub: https://hub.docker.com/r/microsoft/windowsservercore/

[2018-08-22 17:59] cwilhit commented on #835
Thank you for catching this. I will update the repository readme.

[2018-08-22 22:59] lwsrbrts commented on #803
Your Dockerfile contains the instructions used to build your container, not any kind of "model". That you have a Windows laptop means you will have "Docker for Windows" installed on Windows 10 Professional and you can therefore choose which type of container "Docker for Windows" can create and start. If you right-click the Docker for Windows icon in the notification area, you'll see an option **Sw

[2018-08-23 07:11] jamasBian opened #836 "Invoke-WebRequest Error"
The Dockerfile for apache has problems when build. Could I use something like COPY apache.zip c:/ ?

Step 3/6 : RUN powershell -Command      $ErrorActionPreference = 'Stop';        Invoke-WebRequest -Method Get -Uri http://home.apache.org/~steffenal/VC15/binaries/httpd-2.4.34-win64-VC15.zip -OutFile c:\apache.zip ;         Expand-Archive -Path c:\apache.zip -DestinationPath c:\ ;    Remove-Item c:

[2018-08-23 15:12] cwilhit commented on #835
Readmes have been updated.

[2018-08-23 15:12] #835 closed

[2018-08-24 01:25] MSLaojun opened #837 "How to adjust disk size in container?"
In my first practice, the disk of C: has a nearly 20GB volume. It is actually not the size of any disk on my host, and I don't know how to config it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9682caf3-5fc4-54e6-d841-8cb6c16bbc4f
* Version Independent ID: 6c99e2e3-eafe-a91e-9c26-8d5845cc0b7f
* Content: [Windows Con

[2018-08-24 09:54] danielmarg commented on #832
Same here. Windows 1803 OS Build 17134.228.

[2018-08-24 10:01] danielmarg commented on #832
Restarting the laptop fixed the problem.

[2018-08-24 22:08] daschott commented on #825
@amolsh we will update this documentation in September. In the meanwhile, please use [this guide](https://1drv.ms/w/s!AgH65RVQdrbiglNr7P7P4VrO8Rxr) for deploying Kubernetes on Windows.

[2018-08-25 01:06] flyinghotpocket opened #839 "This Guide is not good enough"
Absolutely cripped my pc twice trying to install this. bootups where met with blue screen of death "thread stuck in device driver" endless cycle. sometimes i was able to get into windows but it was just constantly hung. i could use it maybe 1 second out of 60.

So did a complete restore, reinstalled EVERYTHING driver related. just to make sure i didnt have corrupted files. and tried installing hyp

[2018-08-25 13:25] tanzislam commented on #530
I'm running Windows 10 1803 x64 with Windows Defender enabled, and managed to fix the problem with `docker pull` by excluding `C:\Program Files\Docker\Docker\resources\dockerd.exe` from Controlled Folder Access. (I didn't need to change the BitLocker policy.) My Docker version is 18.06.0-ce.

[2018-08-28 08:12] royeectu commented on #798
I had this issue with Windows 10

[2018-08-29 16:56] larrywa opened #840 "Video?"
Where is the link to the video?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87364a28-e1df-eda3-2480-11556ac578be
* Version Independent ID: eebcf9e0-2ff4-d3b5-687f-682adf0b005b
* Content: [Linux containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/linux-containers)
* Content

[2018-08-29 20:17] daschott commented on #800
@stgraves yes, we are actively updating this documentation and hope to have this out soon in September. I added update instructions there.

@TomicaKaniski docker0 is the docker network, separate from Kubernetes. Depending on Kubernetes distribution the `cbr0` network could be called `cni0`. If there is no cbr0 network created something probably went wrong. Feel free to use [this guide](https://1dr

[2018-08-31 13:37] SimonPuckeyAW opened #843 "Bind mount fix for volume mapping issue in LCOW, affecting RabbitMQ and others"
** Description**

As you know a standard Rabbit MQ image cant be run on Win 10 Docker set to Windows Containers  due to volume mapping issues.

Do you know when a fix for this will be released? The last Bind Mount work I could see was merged in last year.

Many thanks

Link to doc:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/linux-containers#known-app-issues

[2018-09-02 07:09] mma9419 opened #844 "1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b176f687-ac30-1d10-8bab-4d2dc991a9eb
* Version Independent ID: 95474dba-31ba-c793-fa01-2d657e1c18c3
* Content: [WHvGetCapability](https://docs.microsoft.com/en-us/virtualization/api/hypervisor-platform/funcs/whvgetcapability)
* Content Source: [virtua

[2018-09-02 15:00] Qquanwei opened #845 "How using docker command in container (connect host docker-daemon)?"
** Description**

I want using docker command in container. Can I let docker connect the host docker daemon ?

Link to doc:

[2018-09-02 16:10] Qquanwei commented on #845
https://docs.docker.com/docker-for-windows/faqs/#how-do-i-connect-to-the-remote-docker-engine-api

[2018-09-02 16:10] #845 closed

[2018-09-03 01:02] qacollective commented on #803
Docker isn't about providing platform independence.  That is, it's main mission isn't to be able to run Windows stuff on Linux or Linux stuff on Windows.  Its primary purpose is containerization and all things DevOps.

[2018-09-03 05:57] bitsrules opened #846 "dead link"
The link from this article to https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-networking is dead.

[2018-09-04 01:51] mcasperson commented on #759
I solved this by running `Get-HnsNetwork`, which returned a network called `nat`. You then run `./start-kubeproxy.ps1 nat`

[2018-09-04 10:33] daghb commented on #840
https://sec.ch9.ms/ch9/1e5a/08ff93f2-987e-4f8d-8036-2570dcac1e5a/LinuxContainer.mp4

Looks like the embed does not work.

[2018-09-04 14:29] artisticcheese opened #847 "Incorrect escapes in documentation in relevance global SMB mapping"
SMB share: $creds = Get-Credential New-SmbGlobalMapping -RemotePath \contosofileserver\share1 -Credential $creds -LocalPath G:  is not properly escaped and shown in UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f436768e-3d52-102f-efd3-847e11f31317
* Version Independent ID: 2193c169-7f90-fa47-8cad-0ecb233bcd2a
* Con

[2018-09-04 14:56] scmikes commented on #818
Thanks for the update.  I also passed your link to our Microsoft Contact.

[2018-09-05 08:10] zpoo32 commented on #839
You do realise that was a graphics driver problem right?

[2018-09-05 12:59] flyinghotpocket commented on #839
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  Actually it isnt. Given that I tried 3 different drivers for it and the same results everytime.                                                                                                                                                                         Sent from my BlackBerry - the most secure mobile d

[2018-09-06 06:54] fbau3r commented on #847
Should be fixed now with #830, do you confirm?

[2018-09-06 13:32] adragoset commented on #181
@daschott has the fix been ported to Windows Server, version 1803

[2018-09-06 15:55] daschott commented on #181
see this [previous comment](https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/181#issuecomment-408954306)

This should work for you on 1803 with the [KB4340917](https://support.microsoft.com/en-us/help/4340917/windows-10-update-kb4340917) now :)

[2018-09-07 21:43] GaTechThomas opened #848 "Sentence chopped off..."
The following sentence fragment occurs twice in the content. Please correct...

"Docker/HNS will assign IPs to Windows containers from the Admin will assign IPs to VMs from the difference set of the and"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211c86df-a039-6c17-7bac-efd05ce972f8
* Version Independent ID: 065f43

[2018-09-10 08:45] smrtRock opened #849 "Good Stuff"
Created a few alternatives https://github.com/smrtRock/CodeSamples/blob/master/QuickCreateGallery/Readme.md

Rreally useful, Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a2abfe-1741-41bf-b4b8-25a42a1d9d0a
* Version Independent ID: 33529fa3-e824-bfbb-3d2e-5f502afe9622
* Content: [Create a custom virtual ma

[2018-09-10 16:06] scooley commented on #849
Thank you!  I've been hoping some industrious person would make their own gallery and share it!

Made my day.

[2018-09-10 16:08] scooley commented on #849
@smrtRock - mind if I share your gallery?  Are you on twitter?

[2018-09-10 16:10] smrtRock commented on #849
Feel free to take a y and all of that repo

Sent from BlueMail<http://www.bluemail.me/r?b=13569>
On Sep 10, 2018, at 12:08 PM, Sarah Cooley <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you! I've been hoping some industrious person would make their own gallery and share it!

Made my day.

—
You are receiving this because you authored the thread.
Reply to this email dire

[2018-09-10 17:04] smrtRock commented on #849
Yes and yes.

Twitter handle:  @smrtrocks
Also at Microsoft, on the Azure Identity Team.  Alias: Marcusf

Happy to help however I can.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Sarah Cooley <notifications@github.com>
Sent: Monday, September 10, 2018 12:10:15 PM
To: MicrosoftDocs/Virtualization-Documentation
Cc: Marcus; Me

[2018-09-10 21:01] wilsonwill15 commented on #815
The last build of Windows 10 broke something in Virtualization

[2018-09-11 12:10] computergeek125 commented on #815
@wilsonwill15 since this is for the web page not windows 10 itself you may find more helpful results in the Feedback Hub application on windows 10

[2018-09-12 12:55] mgroux520 commented on #825
Link 'this guide' broken :/  And some updated documentation is sorely needed at this point...

[2018-09-12 14:39] jrm06c opened #850 "Powershell escapes are \`" for double quoat"
The correctly escaped example string for enabling debug logging in powershell would be:
sc.exe config docker binpath= "`\"C:\Program Files\Docker\dockerd.exe`\" --run-service -D"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20bcd7e2-045f-843b-4fae-82ef2f51acff
* Version Independent ID: 22122208-ec01-83ae-d45a-995d1ac

[2018-09-12 14:44] jrm06c commented on #850
The example is not being rendered literally. Escapes for double quote in powershell strings use backslash followed by tilde then the escaped double quote.

[2018-09-12 16:30] daschott commented on #825
@mgroux520 are you saying you cannot access the guide through the provided link? A number of people have used it successfully and I just checked that it's still accessible. Can you check again?

[2018-09-12 16:59] mgroux520 commented on #825
Looks like a Corp rule issue - was able to access via home pc.  Appreciate the follow-up, and will be reviewing asap.

[2018-09-13 09:35] #824 closed

[2018-09-13 09:36] kkbruce commented on #824
@carlfischer1 Thanks.

[2018-09-13 22:09] BatmanAoD commented on #530
@tanzislam I'm guessing you don't have additional antivirus software installed, and in particular you don't have McAfee?

It seems Controlled Folder Access is automatically disabled when other antivirus providers are enabled, or at least, I don't see any options to configure Controlled Folder Access exceptions.

[2018-09-14 14:01] erwabo commented on #587
Has anyone heard any updates on this issue or had any success with the release of Windows 10 1803?

[2018-09-14 15:59] LeEmo86 commented on #587
I've been hitting my head against this issue in Win 10 v1803 recently. I'd love to get my hands on a fix or work around.

[2018-09-16 06:16] olljanat opened #851 "What are use cases for this?"
Which kind of use cases are planned to be supported by this feature?

My opinion Hyper-V isolation mode breaks the whole idea of tiny and high performance containers and that why it should not be used on production. I have spent to weeks figure out which features/configurations really are production ready and most important ones are listed to here: https://github.com/MicrosoftDocs/Virtualization-D

[2018-09-16 10:01] tanzislam commented on #530
@BatmanAoD Yes I don't have any other antivirus installed. Looks like Controlled Folder Access [requires the real-time scanning feature of Windows Defender enabled](https://answers.microsoft.com/en-us/protect/forum/protect_defender-protect_updating-windows_10/im-not-able-to-toggle-controlled-folder-access/b6cccab6-6025-4ffb-a7c2-1cbeb190107b?auth=1), which would conflict with 3rd-party antivirus.

[2018-09-16 20:51] Cloudmersive opened #852 "Windows Server container compatability is a complete mess"
I want to provide some feedback - Windows Server container compatability is an absolute and total mess.  The fact that you made so many breaking changes, and that building a container on one OS and running it on another doesn't work is just a total fiasco.  I really cannot believe what a mess this is.

[2018-09-17 06:46] kkbruce opened #853 "New-SmbGlobalMapping don't continued working in Container"
I feedback in here ( https://github.com/moby/moby/issues/37863 ), I don't have any idea. Anyone can help me? We need many SMB Mounts work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f436768e-3d52-102f-efd3-847e11f31317
* Version Independent ID: 2193c169-7f90-fa47-8cad-0ecb233bcd2a
* Content: [Windows Server Contain

[2018-09-18 19:27] miksan92k commented on #815
@computergeek125 the actual reality is that since Windows 10 has Hyper-V and this appears in the Hyper-V > Processor area, this is the correct area for @wilsonwill15 to post his comment. I don't ever remember seeing this error when I setup Multiple CPU's using Windows 10 1709 Hyper-V

[2018-09-18 22:43] computergeek125 commented on #815
@miksan92k I'm not denying that Windows 10 supports Hyper-V.  I run it on my personal desktop.  My comment is that this thread is tied to feedback on a _webpage_ not a _product_.  The Feedback Hub is where I thought _product_ feedback would go.

[2018-09-18 22:48] miksan92k commented on #815
Understood. My comment was only letting others know that the information is
valid in Windows 10 as well. There are still a lot of people who are not up
to speed enough knowing that Windows 10 Hyper-V exists but it's also
important to know that there are differences between W10 Hyper-V and WS201x
Hyper-V

Hope that makes sense.

On Tue, Sep 18, 2018 at 6:43 PM Ryan Smith <notifications@github.com>

[2018-09-19 18:39] DrakeNash commented on #836
you can try using the command "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12" before call invoke-webrequest?

[2018-09-21 02:15] smrtRock commented on #849
Updated content added an example of live update

Essentially download the latest weekly build of Kali and then update the local gallery with the current build and checksum

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Marcus Fenandez <marcus.fernandez@outlook.com>
Sent: Monday, September 10, 2018 1:04:00 PM
To: MicrosoftDocs/

[2018-09-24 16:53] CarlasHub commented on #766
Same problem here. So tired of windows at this point not making everything so hard and changing setting all the time.

[2018-09-24 18:35] rockfordlhotka commented on #800
I am encountering the same issue as the OP. I installed a fresh Ubuntu 18.04 server (64 bit), did an `apt-get update` and `apt-get upgrade -y`. Then I tried `apt-get install docker.io` with the same result as OP.

Is there a workaround or known way to get docker installed on Ubuntu server 18.04?

[2018-09-24 18:36] daschott commented on #800
@rockfordlhotka can you use the following:
https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2018-09-26 13:19] calebpalmer opened #855 "DNS resolving issue"
In reference to "Pods stop resolving DNS queries successfully after some time alive", it is stated that "it is being fast-tracked through Windows servicing.".  What does this mean?  I'm running into this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d162332-10db-b9f2-92cc-19475ca448ed
* Version Independent ID:

[2018-09-28 16:42] gperrego commented on #530
I've asked this question in the referenced uservoice:

To clarify, which version of Windows 10 (not server) has this been fixed in? Has microsoft supplied a backwards compatible fix for windows 10 1709 or 1703 or is this only fixed in windows 10 1803?

Thanks,
Greg

[2018-09-30 17:47] flydvorkin commented on #184
New Hyper-V from Windows Server 2019 (17763.1) has the same problem. No way to enable nested virtualization for Root Os

[2018-10-01 04:29] gperrego commented on #530
I think I understand the comment now, she is saying we need to use a container that use the 1803 Server version.  To host an 1803 server version you must have an 1803 Win 10 version.  So the bug fix is in the server version but you can't consume the fix without upgrading win 10 to that version or higher.

There are multiple problems with that for us.

1) Our server host would also need to be 1803

[2018-10-01 14:51] rossuhrig commented on #770
Any updates on this? We are currently in the process of evaluating responses to replace our virtual hosts. I keep pushing AMD for price/security reasons and yet I still see this is a no show. There would likely be more requests for this if you actually put a timeframe on support. People like ourselves that are going through these processes are being kept from choosing AMD. That and MS pushing to g

[2018-10-02 17:04] roozbehid-ic opened #858 "Links error"
following link doesnt work : [this PowerShell Dockerfile.] https://github.com/PowerShell/PowerShell/blob/master/docker/release/nanoserver-insider/Dockerfile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bec137-485e-eb01-851c-fcbe46894c57
* Version Independent ID: cbcfb6ac-b17a-ace2-17b8-821af8dd64e0
* Content: [Buil

[2018-10-04 16:08] stgraves opened #862 "Update Debug-ContainerHost script"
The PowerShell script needs to be updated since 2019 has been released.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20bcd7e2-045f-843b-4fae-82ef2f51acff
* Version Independent ID: 22122208-ec01-83ae-d45a-995d1acc3894
* Content: [Troubleshooting Windows Containers](https://docs.microsoft.com/en-us/virtualization/windo

[2018-10-04 17:41] #797 closed

[2018-10-05 11:00] ruifig2001 commented on #815
It is curious that, as the user "miksan92k" indicates:
- until the feature update (b1709, inclusive) the message did not appear (confirm).

To add:
- In the b1709 update I was able to create, install and use x86-based virtual machines from various Linux distributions (included in the list, Debian 8, Ubuntu 14.04, ... unfortunately, I never got the chance to do so with Debian 9 x86 before upgrading

[2018-10-05 16:41] shahiddev opened #863 "Update for Windows Server 2019"
This guide is almost exactly the same except for the name of the sample image.
To run the correct sample you need to use the command:
docker run microsoft/dotnet-samples:dotnetapp-nanoserver-1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a44120-01fd-11ca-9d51-21ac35609f11
* Version Independent ID: 75a53123-64be-

[2018-10-08 13:07] i486dx266 commented on #811
For nested with VLAN trunking it should be like this:
Get-VMNetworkAdapter -VMName <nestedHost> | Set-VMNetworkAdapter -MacAddressSpoofing On -AllowTeaming On

Set-VMNetworkAdapterVlan -VMName <nestedHost> -Trunk -NativeVlanId 0 -AllowedVlanIdList "2,3,5,7,8"

otherwise no networking on vNICs in nested hosts.

[2018-10-08 13:10] i486dx266 commented on #811
For nested with VLAN trunking it should be like this:
Get-VMNetworkAdapter -VMName NameOfNestedHost | Set-VMNetworkAdapter -MacAddressSpoofing On -AllowTeaming On

Set-VMNetworkAdapterVlan -VMName NameOfNestedHost -Trunk -NativeVlanId 0 -AllowedVlanIdList "2,3,5,7,8"

otherwise no networking on vNICs in nested hosts.

[2018-10-08 22:37] sujeetsm opened #868 "Steps to run windows and linux containers together windows 2019 server"
** Description**
Looking for documentation on how to run Linux and Windows containers simultanously on windows 2019 server. Right now when i try to run linux containers on windows server 2019 it errors out.
appreciate a response on this.

Here is my docker config on server 2019
'''
PS C:\Users\Administrator> docker version
Client:
 Version:      17.06.2-ee-16
 API version:  1.30
 Go version:   go1

[2018-10-10 00:07] rohitmediratta opened #869 "Transparent Networks on linux containers"
It will be a good idea to add a note about support of transparent network on linux containers. Is there any way to achieve an "external" interface with docker on windows running linux containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 556473c3-3630-dc56-caad-a3d72d34e9e1
* Version Independent ID: 560ad6ca-e017-

[2018-10-10 04:19] MerizoMS commented on #832
Hi,

I am facing now the same issue with container creation, after pulling Microsoft/bcsandbox I obtain error. I tried to  several times restart and reinstall Docker, and in the end was Windows reinstalled, but without success still. Someone resolved like this problem please?

My Host OS Version: 10.0.17134.285,

Thank you.

Error response from daemon: container 1cc866206e6922c57c59d7d3252b7a4bd6c

[2018-10-10 14:52] pmahend1 opened #870 "Hyper-V host?"
What is meant by "Hyper-V Requirements: A hypervisor has been detected. Features required for Hyper-V are not be displayed." Does it mean Hyper-V is still enabled and working.
I have this message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 604d834f-6f94-0a37-12b6-a10dcf7c9fa3
* Version Independent ID: 4bd4ce05-bdde

[2018-10-11 14:11] huzzeytech opened #871 "Step 1: Broken Download Link"
https://download.docker.com/win/stable/InstallDocker.msi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66894009-bd4f-3fa6-6e03-a8485686bea5
* Version Independent ID: 9d081837-7987-eeb5-1abf-37ebc2e3c7f6
* Content: [Windows Container on Windows 10](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick

[2018-10-11 14:12] huzzeytech commented on #871
Looks like a downloads require sign in now :eyeroll:

[2018-10-11 14:12] huzzeytech commented on #871
https://store.docker.com/editions/community/docker-ce-desktop-windows

[2018-10-11 17:30] jmadhanraj opened #872 "Compatibility Matrix for Hyper-V Containers"
Compatibility Matrix for Hyper-V Containers, though the write-up says it is provided below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47037c4-4b2e-b41c-64a3-d82ec79c18c4
* Version Independent ID: 947b1d95-3cd5-53d4-042f-71afe8bb3bdf
* Content: [Windows Container Version Compatibility](https://docs.microsoft.com/e

[2018-10-11 18:58] CoveMiner commented on #811
I'm trying to configure full routing to the nested VMs in Azure assuming it's possible. The existing documentation only covers outbound connectivity from nested VMs via NAT’ing or inbound NAT with port mapping. Is there another way to configure nested VMs so they're fully routable on the network?

[2018-10-15 03:07] lovedayb opened #873 "Server 2019 Documentation"
Is it possible to have some updated documentation specific to configuring Windows Server 2019 Containers to support both Windows and Linux Containers simultaneously? It seems some of this information is still lacking. Cheers!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f00c18b5-c479-8c2b-5cb1-f0e54b0ae4ad
* Version

[2018-10-19 08:49] steffenfrederiksen opened #879 "Network Toplogy Windows Node"
Link to doc: https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows.md

I have followed the above doc, to try join a Windows 1709 based docker node to Kuberneters master on Linux Ubuntu 16.04 configured as described here: https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/virtualiza

[2018-10-22 11:45] kingofthebongo2008 opened #880 "What about the GPU?"
** Description**

Link to doc:

[2018-10-22 22:05] #844 closed

[2018-10-23 06:48] sqlsauce opened #883 "Use Win10 version numbers, not release marketing names"
The instructions differ depending on the version of Windows 10. The page refers to Fall Creators Update and Creators Update without any version numbers. Users don't always know what the last big update they installed was called because the marketing name is not given in Windows Update, winver.exe, or other parts of the OS. Please give version numbers in these instructions in addition to or instead

[2018-10-23 14:24] psimoneau22 commented on #442
I am not sure what is actually happening beneath the scenes, but the documents for Jenkins container on windows just uses it and it seems to work.  https://jenkins.io/doc/tutorials/build-a-node-js-and-react-app-with-npm/#on-windows

[2018-10-23 18:29] jagarrison opened #885 "Confused by untrusted package source"
So Microsoft's method for preparing Windows to run containers is to add a third party repository to pull software from and then to install software that is not trusted? I'm very confused by this and a little irritated as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03053de3-22f9-2320-42c4-4bfdcec11840
* Version

[2018-10-24 04:04] Mera-Gangapersaud commented on #871
Yep you need to sign in to be able to download docker.

[2018-10-24 13:06] NatMarchand commented on #798
For Windows 10, the documentation is on a different page (and is accurate).
See https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10

[2018-10-25 02:30] yousufctec opened #887 "Hyper-V Manager "An error occurred while attempting to connect to server XX. Check that the Virtual Machine Management service is running and that you are authorized to connect to the server."
Unable to access Hyper V Manager after the Windows Update 1809. Getting the following error.

![image](https://user-images.githubusercontent.com/12121901/47472154-29777000-d840-11e8-92bc-3d8fddfa3382.png)

Hyper-V Virtual Machine Management service is running properly.

![image](https://user-images.githubusercontent.com/12121901/47472289-bae6e200-d840-11e8-80c7-8192e6da214d.png)

User is a part of

[2018-10-26 19:07] msm-fc opened #888 "Important Note for Hyper-V isloation:"
Please mention that if Hyper-V isolation is enabled in Windows 10, other hypervisors such as VirtualBox may fail because hyper-v disables vt-x for other hypervisors running on the same hardware.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66894009-bd4f-3fa6-6e03-a8485686bea5
* Version Independent ID: 9d081837-7987-e

[2018-10-27 05:36] gvollant opened #889 "Windows server 2019 did not support Windows Hypervisor Platform"
I did not found this option in Windows server 2019. I'm disapointed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b33744a-b539-2547-d50d-cbc78b4bc20d
* Version Independent ID: 729dcd75-c9af-d8e6-f728-3dc0f5ee15c7
* Content: [Windows Hypervisor Platform](https://docs.microsoft.com/en-us/virtualization/api/)
* Content

[2018-10-28 13:29] DSPatrick opened #890 "missing diagram"
The mentioned diagram is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9533e43-4ff9-0c74-a76f-f6501e7a8009
* Version Independent ID: 40b4f3df-1ec0-fa0c-5a25-f0f2ddb718d3
* Content: [Hyper-V Architecture](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/hyper-v-architecture)
* Conte

[2018-10-29 05:09] kingofthebongo2008 commented on #880
Please describe, can we use a GPU in a docker container.
I need it to run directx 12 application with hardware acceleration.
Now i can run only Microsoft Basic Driver

[2018-10-29 14:06] jds80021 commented on #587
So the facts are: a windows container won't run on a windows host with windows active directory authentication?  I am starting to wonder what all the hype around docker is given that most organizations that use windows (file shares, sql server, etc.) use active directory authentication for access control.  No one stores user names and passwords in config files anymore. Other than changing your sec

[2018-10-29 18:30] jterry75 commented on #889
@hjerezmsft - Can you take a look at this please?

[2018-10-31 20:48] ospersson commented on #791
I'm using Windows version 18.03 (10.0.17134.376). I found a .vhdx file stored inside a zip file, downloaded to this location: C:\Users\[My user]\AppData\Local\Temp. The installed virtual machine had this location C:\Users\Public\Documents\Hyper-V\Virtual hard disks

Changing this paths from GUI or Powershell would be a good improvement for Hyper-V.

[2018-11-01 02:17] utshina opened #894 "typo"
The field name "AsUNIT32" in WHV_VP_EXCEPTION_INFO should be "AsUINT32"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 158e3f52-e8ed-6cd4-a591-efa89706a210
* Version Independent ID: 8b1979e5-90f9-8567-2ef0-8d785fb1300b
* Content: [Virtual Processor Exception](https://docs.microsoft.com/ja-jp/virtualization/api/hypervisor-platform/funcs/virtualprocess

[2018-11-01 17:45] ekitagawa commented on #862
+1 from Docker support team.  This version fails on Windows 1803 due to lack of `Get-VMSwitch`.

[2018-11-03 20:58] djboris88 opened #896 "Windows 10 Home, Hyper-V role supported"
This is contradicting. I have a Windows 10 Home version on my notebook, and by looking at the System Information, all 4 items for Hyper-V says 'Yes'.

Is this outdated?

![image](https://user-images.githubusercontent.com/9459880/47957295-69aebf00-dfb3-11e8-8c36-f2e8e18818d0.png)

[2018-11-03 23:32] scooley commented on #885
Can you share more details about your concern?  mcr is the microsoft container registry.

[2018-11-03 23:36] scooley commented on #181
Fixed in 1803.  See  [KB4340917](https://support.microsoft.com/en-us/help/4340917/windows-10-update-kb4340917)

[2018-11-03 23:36] #181 closed

[2018-11-04 23:44] ShadowPeo opened #897 "Issue with the OneGet Command"
Running: Install-Package -Name docker -ProviderName DockerMsftProvider
Outputs:
Install-Package : The target of the specified cmdlet cannot be a Windows client-based operating system.
At line:1 char:1
+ Install-Package -Name docker -ProviderName DockerMsftProvider
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (Microsoft.Power....Ins

[2018-11-04 23:51] ShadowPeo commented on #897
Fixed it my screwup. I had the powershell connected to client not server

[2018-11-04 23:51] #897 closed

[2018-11-06 18:40] seraphire commented on #763
It would be great if Microsoft would release the VT-x when it isn't actively escalating so that other VM would be able to run at the same time.  From what I've read VirtualBox, VMWare Player, and QEMU can all exist on one machine and run concurrently.

[2018-11-06 21:13] olljanat opened #898 "Win 1809 supports process isolation mode for Win Srv 2019"
Win 1809 supports process isolation mode for Win Srv 2019

Look: https://github.com/moby/moby/pull/38000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47037c4-4b2e-b41c-64a3-d82ec79c18c4
* Version Independent ID: 947b1d95-3cd5-53d4-042f-71afe8bb3bdf
* Content: [Windows Container Version Compatibility](https://docs.mi

[2018-11-06 23:52] #848 closed

[2018-11-06 23:53] #863 closed

[2018-11-07 06:41] vkrishr opened #899 "Configuring Static Routes | Windows"
Iam applying the below command

$url = "https://raw.githubusercontent.com/Microsoft/SDN/master/Kubernetes/windows/AddRoutes.ps1"
Invoke-WebRequest $url -o AddRoutes.ps1
./AddRoutes.ps1 -MasterIp 10.1.2.3

Getting the error :

PS C:\k> ./AddRoutes.ps1 -MasterIp 10.162.78.200
Add-RouteToPodCIDR - available nodes linux     <none> linux     <none>
Exception calling "Substring" with "2" argument(s): "L

[2018-11-07 15:39] RyanWAnderson commented on #815
I agree with the OP - this could be improved. The explanation of the architecture was very informative, however the link is titled **Learn more about Hyper-V processor configuration options**. I did not learn anything about the processor configuration options.

If Hyper-V determines that the environment does not support processor resource control, it would be very helpful if the UI could tell us w

[2018-11-09 12:12] #899 closed

[2018-11-09 12:12] vkrishr commented on #899
run with other script

[2018-11-09 16:30] carlfischer1 commented on #587
There are fixes in Windows Server 2019 / Windows 10 1809 that allow credential specs to work with hyper-v isolated containers. Windows 10 1809 is also the first desktop version to support process isolated containers, which should also enable credential specs to work.

[2018-11-09 18:41] Alexander-Bartosh commented on #587
Should than the issue be verified and closed?

[2018-11-09 22:04] mithuns opened #903 "Enabled Hyper-V but no Hyper-V Manager Found"
** Enabled Hyper-V but no Hyper-V Manager Found**

Link to doc:https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v
![image](https://user-images.githubusercontent.com/3937267/48290565-f1c01900-e438-11e8-81f2-f5bd5b499fe9.png)

I turned on the hyper-v feature, rebooted system, it took longer than usual and there was that , Installing Updates screen on startu

[2018-11-11 15:55] LeEmo86 commented on #587
AFAIA the Windows 10 1809 update is still pulled from the [Windows Update servers](https://support.microsoft.com/en-us/help/4464619/windows-10-update-history), so I think we'll have to wait for it to safely roll out to most people before we can validate this.

[2018-11-12 23:03] scooley commented on #871
Thanks folks, I'll pass that feedback back to Docker.

[2018-11-12 23:04] #871 closed

[2018-11-14 05:55] sowsan commented on #824
It would be great if we can update the same on the documentation for this issue originally reported. Doc is not calling out this fix and docker version.  Also 3 part training series calling out the same issue which is kind of outdated. Would be great to see to a nginx integration as well with this.

[2018-11-14 20:00] scooley commented on #851
There's a lot in development right now - including a conversation about support.  We'll have clearer guidance soon.  You're spot on about Hyper-V isolation adding weight to the container solution but it also improves compatibility and makes containers a hostile multi-tenant boundary (super important for some production offerings)

I generally write docs for containers with a bias towards dev/test

[2018-11-14 20:07] aaronmorgan commented on #832
I was having this problem repeatedly and the 'reboot' suggestion was working, until it didn't. I now `restart-service vmms` and it seems to correct the missing locale problem.

[2018-11-14 22:13] scooley commented on #818
@cwilhit @taylorb-microsoft - does that chart look right to you?  If so I'll formally doc it.

[2018-11-15 09:36] hwangwenchao opened #912 "How to use the RCT interface to complete the incremental backup of the virtual machine, what is the backup process?"
** Description**

Link to doc:

[2018-11-15 12:39] olljanat commented on #818
@cwilhit notice that original post already couple of months old. Now when Windows Server 2019 is out LTSC probably is option again. What comes to stability. From containers point of view SAC versions have been lot more stable than Win Srv 2016 which is very buggy on that area.

Dev workstations is only place where I can see that Hyper-V isolation mode can be useful but IMO it is very interesting o

[2018-11-15 13:21] olljanat commented on #851
@scooley notice that this one was comment to page which describes how to run Linux containers on Windows which is very weird idea and IMO it is way too high priority on your side as there would be many much more important thing to do. For example fix this recent bug which prevents us to upgrade our Windows container nodes to Windows Server 2019 / Windows Server, version 1809 https://github.com/mob

[2018-11-16 20:39] pjmancore opened #913 "hyper-v 작동 안됨"
win10 home을 pro로 165,000을 지불하고 업그레이드 했는데 hyper-v가 작동이 안됩니다,
심지어는 컴이 다운됩니다,이것을 지우고 다시 설치 할 방법은 무엇입니까,,,? 이것이 프로그램의 문제라면 환불해 주시기 바랍니다,
짜증납니다.
신속한 조침 바랍니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 1df65b2d-24ba-71b0-0648-14c21f5b1b26
* Version Independent ID: a89c84df-6ef7-66a9-eec1-35ba94afdb1b
* Content: [Windows 10에서 Hyper-V를 사용하도록 설정](https://docs.m

[2018-11-17 16:36] QUIPQUOPRO commented on #787
You could at least explain why home licenses are excluded.

[2018-11-20 12:34] gautamsi commented on #763
Why not Microsoft do it reverse, modify the virtualization API as such it always creates transparent partition for Hyper-V and let others have exclusive access without any issue? possible?

[2018-11-20 15:14] mllab-nl commented on #587
Works for me on Version 1809 Build 17763.134

[2018-11-20 15:23] Alexander-Bartosh commented on #587
Works for me on Version 1809 Build 17763.134

[2018-11-21 17:21] taylorb-microsoft commented on #837
Take a look at https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-storage#image-size

_sorry for the delayed reply_

[2018-11-21 17:21] #837 closed

[2018-11-21 18:57] Robert-Becker opened #915 "Hyper-V enabled on Windows 10 Home, verified."
Please update your thread.
Tested and verified on 11/21/2018.
You can run Hyper-V on both Windows 10 HOME and PRO additions.

Step to enable this option can be found at the following link.
https://blogs.technet.microsoft.com/canitpro/2015/09/08/step-by-step-enabling-hyper-v-for-use-on-windows-10/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-11-27 21:36] kiljoy001 opened #916 "Getting join cluster information from cli"
this can be done with the following command:
 sudo kubeadm token create --print-join-command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e01fc9-32d1-7154-c3c0-0ab3981f01ff
* Version Independent ID: d05ec2d5-d4dc-477b-05b5-6316af7fe1ff
* Content: [Kubernetes Master From Scratch](https://docs.microsoft.com/en-us/vir

[2018-11-27 21:52] mikeinottawa opened #917 "does this work for Server 2019?"
Any support for LCOW windows server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66894009-bd4f-3fa6-6e03-a8485686bea5
* Version Independent ID: 9d081837-7987-eeb5-1abf-37ebc2e3c7f6
* Content: [Windows and Linux Containers on Windows 10](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-sta

[2018-11-28 20:19] scooley opened #918 "Update doc config to enable "download pdf""
OPS allows folks to download docs as a pdf - it's a doc config change.

[2018-11-29 15:18] ghostpelt commented on #839
Trying to install HyperV Manager will not give you a blue screen of death.
However if you are a moron who downloads free crap, a virus could have replaced your system files at which point your security would remove said files. This in turn would leave holes in your OS basically breaking your system. If the virus was downloaded before you backed up your information, it would be re-added during syst

[2018-11-29 15:23] ghostpelt commented on #839
please note I only posted this after consulting 3 people:
an IT support person from my local bestbuy - geeks forever
my professor who has been in Computer IT/Networking/Cybersecurity for over 30 years - has her doctors degree so is way smarter than your average computer user
and a CISO from netizen -big cyber security company that has done jobs for the USA Military

[2018-11-29 15:57] flyinghotpocket commented on #839
LOL man your one salted mofo. Allow me to set you straight

1 this is the internet nobody gives a FUCK about grammer or spelling so get
over it.
2 I hold 4 comptia certs so what now bud? and dey aint "fundamentals"
bullshit ones
3 my system more the meets the minimum requirements and all the bullshit
setup was done correctly.
4 read 3
5 i understand how you dont get what the problem is.
6-7 huh ma

[2018-11-30 01:13] fdcastel opened #919 "Not working with Windows Server 2019 ("Cannot verify the file SHA256. Deleting the file.")"
Not working with Windows Server 2019:

[code]

Trying to use `-RequiredVersion 18.03.1-ee-4` gives the same error:

[code]

It seems to be a very old one:

https://github.com/OneGet/MicrosoftDockerProvider/issues/15

But, unfortunately, it appears nobody is listening:

https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/917
https://github.com/MicrosoftDocs/Virtualization-Documenta

[2018-11-30 07:03] rjs516659120 opened #920 "windows 10 Hyper-v 无法卸载 卸载错误 然后自动回滚. Windows 10 Hyper-v cannot uninstall uninstall errors and roll back automatically."
** Description**

Link to doc:

[2018-11-30 12:31] StefanScherer commented on #919
I can reproduce this. It sometimes happens, some time later it works again. Seems like the download bandwidth is flaky.

[2018-11-30 12:50] Hansdevries commented on #919
Same issue here.
Busy all morning on Server 2016. but everytime error Cannot verify the file SHA256

[2018-12-01 17:47] MNadir786 opened #921 "Docker swarm/mesh routing"
Thank you for the useful information. I have a question about docker swarm using ingress network "Mesh Routing" in order for me to make mesh routing work i installed two windows server 2016 version 1709 my manager node is on one server and worker node on another server i ran the init command to join one node to my docker swarm manager and i deployed one image on one of the node and created 2 repli

[2018-12-01 19:32] fdcastel commented on #919
Thanks for the info, guys but it must be another problem than just the connection. Yesterday, I left this running for **the entire day**:

[code]

Today, the result:

![image](https://user-images.githubusercontent.com/629408/49332091-f2f2ea80-f58d-11e8-9d90-af193a375eb9.png)

Also, I can download the entire Server 2019 .ISO in a few minutes.

[2018-12-05 05:33] somnio0505 commented on #919
When asked package trust,  what key did you entered?
When I entered 'Y', same problem occurred. But when i entered 'A' successfully installed with SHA256 warning.

[2018-12-06 01:42] stat91 commented on #919
Try below

cd C:\Users\Administrator\AppData\Local\Temp\2\DockerMsftProvider

Start-BitsTransfer -Source https://dockermsft.blob.core.windows.net/dockercontainer/docker-18-09-0.zip -Destination docker-18-09-0.zip

Get-FileHash -Path docker-18-09-0.zip -Algorithm SHA256

Install-Package -Name docker -ProviderName DockerMsftProvider -Verbose

Restart-Computer -Force

[2018-12-06 16:47] fdcastel commented on #919
**TL;DR: The problem occurs when using the -Force argument.**

This combined with the fact that the package is "from a package source that is not marked as trusted".

@stat91 Thank you very much for your steps. They indeed installed Docker successfully on my system.

When running `Install-Package` without the `-Force` argument (and answering "Yes" to the question):

[code]

However, when running `

[2018-12-07 14:06] nyanlinnaung commented on #826
this isnt even an issue prof

[2018-12-07 17:49] olljanat commented on #818
It would be also nice to have documented that if [using host mode in production](https://blogs.technet.microsoft.com/virtualization/2017/09/26/dockers-ingress-routing-mesh-available-with-windows-server-version-1709/) is still recommendation with Windows Server 2019 and latest Docker version?

[2018-12-07 20:44] BatmanAoD commented on #530
I'm using 1803, build 17134, and the issue seems to be resolved for me.

(I was previously on build 15xxx where xxx is three digits I don't remember, and I was seeing the BitLocker policy error. I am fairly confident that my BitLocker configuration is unchanged.)

[2018-12-07 22:21] alexandrev commented on #887
sames issue here

[2018-12-07 23:21] gperrego commented on #530
Yes 1803 fixes this, but placing the requirement to upgrade to 1803 (windows) is what has stalled my project.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BatmanAoD <notifications@github.com>
Sent: Friday, December 7, 2018 2:44:16 PM
To: MicrosoftDocs/Virtualization-Documentation
Cc: gperrego; Mention
Subject: Re: [MicrosoftDocs/Virtualization-Documentati

[2018-12-08 21:12] aoighost commented on #815
Same issue as OP. The latest build broke it and the link is wrong for the error. While it explains how it works, it doesn't say anything on how to fix it.

[2018-12-09 00:30] jeffstokes72 commented on #815
Oh wow, this still hasn't been fixed? wth

[2018-12-09 01:03] jeffstokes72 commented on #815
Created a feedback item for this.

![image](https://user-images.githubusercontent.com/9102841/49692257-4fbd4a80-fb24-11e8-8458-ada6dfe8087d.png)

[2018-12-10 01:19] cabellonnovie commented on #815
I will try to give what I know regarding the dreaded "Hyper-V is not configured to enable processor resource controls". This notification appears in Hyper-V VM CPU Settings if you have updated your Windows 10 to version 1803.

The "Hyper-V is not configured to enable processor resource controls" is indicating that Hyper-V is no longer managing the CPU resource for the VMs. Since Windows 10 version

[2018-12-10 19:38] ngie-eign opened #924 "Directions are incomplete/non-functional for my Windows 10 pro configuration"
I followed the directions to a tee, yet HyperV is still not functional after running through this document:
[code]

Not having a functional Hyper-V instance is blocking me from getting Docker with Linux containers to work.

Many others in the Docker project are having similar issues with this (see [this docker/for-win issue](https://github.com/docker/for-win/issues/1825)). Having more complete doc

[2018-12-10 19:41] ngie-eign commented on #924
Sidenote: I tried using https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/best-practices-analyzer/The-Hyper-V-Virtual-Machine-Management-service-must-be-running as well to remediate/fix the issue to no avail.

[2018-12-10 19:44] ngie-eign commented on #924
[code]

[2018-12-10 19:52] ngie-eign commented on #924
I downloaded the [Intel Processor ID utility](https://downloadcenter.intel.com/download/7838) and it seems that VT-x is disabled on the host (this would block my being able to use virtualization).

Let's see if munging around in the BIOS will cure my issue.

![screenshot](https://user-images.githubusercontent.com/1574099/49757749-02e78a00-fc72-11e8-8c52-1e465bdbe41e.png)

[2018-12-10 21:39] ngie-eign commented on #924
So, more information.

Turns out disabling Microsoft-Hyper-V-Hypervisor and rebooting "fixed" the processor identification issue...
[code]
... but the issue with my host not being able to run hyper-V persists.

[2018-12-10 22:01] ngie-eign commented on #924
Gave up and installed VirtualBox instead and will run Docker from there.

[2018-12-11 09:50] StevenP252 opened #925 "Re-launching the connection settings - another way if vmconnect does not do it"
Please see post by user Jon at Superuser website below. This was the only reliable method to get the options back again.

how-to-invoke-hyper-v-enhanced-session-screen-resolution-prompt
https://superuser.com/questions/1168664/how-to-invoke-hyper-v-enhanced-session-screen-resolution-prompt/1279839#1279839
(User: Jon) There's a much easier way - after lots of research! Simple close the VM client dow

[2018-12-11 15:11] zrml commented on #851
Content and scribbled diagrams are great! ;)
Our issues are mostly related to bind-mount volumes. So many things and calls can get lost in traversing the 2 environments that I think it needs attention ASAP. Thank you.

[2018-12-12 14:30] veonua commented on #828
In fact it is impossible to develop(and run) both Linux and Windows docker containers on the same hardware.

https://forums.docker.com/t/docker-for-windows-w-vmware-installed/19011/9

Hyper-V disables other VMs so all my Linux development is dead when Hyper-V is active

[2018-12-14 16:51] pmwestervelt opened #927 "Server 2019 Guest"
Can Server 2019 be added as a supported guest OS on a Windows 10 Hyper-V Client system? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86bb1ed3-7346-acf7-2a7f-414bb6c09a4d
* Version Independent ID: b3bfcc86-a15c-a951-a6d2-b1446d0f6efa
* Content: [Supported Windows guests](https://docs.microsoft.com/en-us/virtua

[2018-12-14 20:43] leugimmai commented on #924
@ngie-eign I am running into the same issue. It is ridiculous that you are having to run VirtualBox, to then run Docker inside of it. The layers of abstraction is nuts.

[2018-12-16 17:44] #823 closed

[2018-12-16 17:50] artisticcheese opened #928 "How one specifies those parameters during `build` phase and not `run` of container"
Currently seems containers being built on Hyper-V isolation are limited to 2 vCPUs with not supported way to control number of vCPUs available during build stage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd671d15-cd2f-d3a0-298a-83b3b5375589
* Version Independent ID: bff76cf7-b868-e30c-bc1a-fa6e4d06a11f
* Content:

[2018-12-17 07:06] ta32 opened #929 "MKDIR example"
What about the mkdir example - when we use forward slashes
Step 9/20 : RUN MKDIR "Server/Configuration"
 ---&gt; Running in 69684d9c7847
'onfiguration"' is not recognized as an internal or external command,
operable program or batch file.

I dont want to switch between using forward slashes for copy statements and back slashes for mkdir

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-12-17 16:32] taylorb-microsoft commented on #928
Currently there isn't "docker build" does accept --cpu-period/quota/shares but seems we/others missed plumbing in --cpu-count/percent.

I have created an issue at on the Moby project to track/request these be added: https://github.com/moby/moby/issues/38387

[2018-12-17 19:11] cbj4074 commented on #815
The UI says:

1. How then shall I configure Hyper-V to enable processor resource controls? It's not clear whether my hardware doesn't support the feature, or whether the feature is supported only on Windows Server, or if I simply didn't check a box somewhere to enable the feature in software.
2. Why aren't the relevant fields disabled in the UI? Is the implication that I can change the values but

[2018-12-17 19:19] jeffstokes72 commented on #815
If hyper-v is enabled, your session is a VM. Your perfmon is inaccurate as
a result.

https://blogs.msdn.microsoft.com/virtual_pc_guy/2008/02/28/hyper-v-virtual-machine-cpu-usage-and-task-manager/

On Mon, Dec 17, 2018 at 2:11 PM Ben Johnson <notifications@github.com>
wrote:

[2018-12-17 20:10] scooley commented on #927
Fixed :)

[2018-12-17 20:10] #927 closed

[2018-12-17 20:17] scooley opened #930 "Cross link Create VM gallery doc to sample script"
https://github.com/MicrosoftDocs/Virtualization-Documentation/tree/live/hyperv-tools/vmgallery

Add link to create gallery doc

[2018-12-17 20:19] #261 closed

[2018-12-18 13:03] Weblogin123 opened #931 "Downgrade/Supported Guest OS/Virtual Machine"
** Description**

Link to doc:

[2018-12-18 13:11] #931 closed

[2018-12-19 12:33] ngie-eign commented on #924
Over the past few hours, I tried getting Hyper-V to work with my Windows 10 Pro install to no avail. The processor supports VT-d/VT-x/execution-disable.

I'm giving up and installing Virtualbox on this host too to make progress for now.

If someone can sit down with me and figure it out/troubleshoot the issue, I can setup a VC.

[2018-12-21 15:42] jocooler commented on #863
It's nice to support 2019, but knowing what the 2016 instructions are is also still useful for those of us who are working on this with current VMs.

The error I got was: `a windows version 10.0.xxxxx-based image is incompatible with a 10.0.xxxxx host.`

I think it's just `microsoft/dotnet-samples:dotnetapp-nanoserver` for Windows 2016 deploy.

[2018-12-23 19:47] henkyprayoga commented on #887
Any updates? I'm encountering the very same issue too

[2018-12-24 19:08] tjackprime opened #944 "Problem with start.ps1"
When running the start.ps1 script, it appears that flanneld fails to start up.  I get this error spew...

I1224 19:01:06.246467    1088 main.go:450] Searching for interface using 10.142.0.3
I1224 19:01:06.389548    1088 main.go:527] Using interface with name vEthernet (Ethernet) and address 10.142.0.3
I1224 19:01:06.389548    1088 main.go:544] Defaulting external address to interface address (10.1

[2018-12-27 15:33] viniciusxyz opened #945 "Docker not work in Windows Hyper V 2019"
Good afternoon everyone,

I am using Windows Server Hyper V 2019 and I am not able to install docker as I did in Hyper V 2016.

I tried installing version 18.09.0, 18.03.1-ee-5 and 17.06.2-ee-16 Docker EE windows

System:
Windows Server Hyper V 2019 build 17763

When you try to run the net start docker command the 1067 error is returned.

When attempting to run dockerd.exe the following error is r

[2018-12-27 18:36] viniciusxyz commented on #945
I tried to perform the installation on a Windows Server 2019 Essentials and got the same problem.

[2018-12-28 00:56] nerdile opened #946 "docker push fails with "skipping foreign layer""
When following the tutorial here, running the "docker push" command fails with "skipping foreign layer".  The tutorial should explain how to set up docker correctly to not get this error,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db319c76-4464-dc6e-9cba-9714736e2b2a
* Version Independent ID: 648f05a2-3eda-a74a-1f0

[2018-12-30 23:14] bjd2385 commented on #870
I am curious as well. I have the same message.

[2018-12-31 16:34] adagioajanes opened #949 "Running Kubernetes as Service"
This document explains that I can configure kubernetes to run in the background as a service. Can you expand upon that? start.ps1 has alot to it that needs to be considered if setting this up to run as a service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d162332-10db-b9f2-92cc-19475ca448ed
* Version Independent I

[2019-01-03 00:09] nerdile commented on #946
Hi Craig, thanks for explaining this.  As someone trying to go through the Quick Start for the first time, this is not immediately apparent.  I will issue a PR to add some text clarifying that the message is expected.

[2019-01-03 10:09] foulong commented on #824
Hello,

is it planned soon to docker CE ? Indeed docker toolbox ?

[2019-01-03 15:47] pmahend1 commented on #870
It turned out my system dint support `Hyper-V` , I had to search a lot in in the haystack for this.
The message it shows is misleading. We need to have some hyper-v tools on the device; if the PC is compatible it downloads that when we turn on this feature. Apperently docs havent mentioned it clearly I suppose. Only when we have

![image](https://user-images.githubusercontent.com/21352870/50646764

[2019-01-03 15:51] pmahend1 commented on #870
@scooley or someone else at Microsoft take care of this. Its unassigned after 2 months still.

[2019-01-04 01:08] ctfhacker opened #951 "Return error codes"
The return error codes from WHvCreatePartition are currently an unknown in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 870f822d-146a-b138-0e23-c20d97d1a0de
* Version Independent ID: dc7104fd-8138-8acf-815e-036079a869cd
* Content: [WHvCreatePartition](https://docs.microsoft.com/en-us/virtualization

[2019-01-07 05:22] tuyide opened #954 "Add section to call out different behavior of windows server container and hyperv container."
We should call out this behavior difference between windows server container and hyperv container, in regarding default RAM and CPU count.  Windows sever container will be able to leverage unlimited resources if --memory and --cpus are not specified, while hyperv container will be allocated memory = 2GB and CPUs =2 by default, if they are not specified.

---
#### Document Details

⚠ *Do not edit t

[2019-01-07 18:48] slobo80 opened #955 "Invalid base image"
Running this command fails: docker pull mcr.microsoft.com/windows/nanoserver:1809
Error: "1809: Pulling from windows/nanoserver
no matching manifest for unknown in the manifest list entries"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66894009-bd4f-3fa6-6e03-a8485686bea5
* Version Independent ID: 9d081837-7987-eeb5-

[2019-01-07 19:15] slobo80 commented on #955
Looks like it fails with that message if containers for windows option is not enabled. It needs to be done from the taskbar icon as it fails from powershell.

[2019-01-07 23:46] iamyogeshg opened #957 "Not able to pull docker images on windows 2019 server"
https://stackoverflow.com/questions/54083194/docker-pull-failing-on-windows-failed-to-register-layer-strconv-parseint-parsi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a44120-01fd-11ca-9d51-21ac35609f11
* Version Independent ID: 75a53123-64be-1caf-fd67-7e7bef3b0aa0
* Content: [Windows Containers on Windows Server]

[2019-01-08 02:17] tsubasaxZZZ opened #958 "Update date is old"
This page's update date is old.
&gt; 05/02/2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a92c8c80-59f8-8cc4-3da4-82e4c6df9b0d
* Version Independent ID: 55b07147-4154-0daf-72a7-7b412d572912
* Content: [Windows Containers FAQ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/faq#feedback)
* C

[2019-01-08 04:49] saf-itpro opened #959 "Windows 10: hyper-v was unable to find a virtual switch with name 'External VM Switch'"
I'm following this [official MSDN tutorial](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/create-virtual-machine) to create a VM in Windows 10 Professional Version 1809. But when I run their Powershell script from section "Create a Virtual Machine with PowerShell" of the tutorial, I get the following error:

[2019-01-08 06:01] riverar commented on #811
@johncslack Any updates?

[2019-01-08 06:57] dermeister0 commented on #155
@friism
I try to install an update for .NET framework (KB4470502) using DISM like here:
https://github.com/Microsoft/dotnet-framework-docker/blob/master/3.5/runtime/windowsservercore-ltsc2019/Dockerfile#L23

DISM returns exit code 3010 - restart required. What do you recommend in this case?

[2019-01-08 07:25] iesen opened #960 "Images should be pulled from new MCR"
After trying commands on Windows Server 2019, images from docker hub gave error while running conainer.
[code]
Changing the registry to MCR (mcr.microsoft.com) fixed the problem.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206db1f3-8451-0171-e103-fea3ab7b3f72
* Version Independent ID: 87d7ab1c-1617-44a9-a77c-b

[2019-01-08 07:59] StefanScherer commented on #960
@iesen I've sent #961 with a fix for the example which was confusing or at least outdated.

[2019-01-09 20:15] behoyh commented on #851
Docker Swarm with Linux containers are a great use case for this.

[2019-01-09 21:44] behoyh commented on #851
100% agree, but for Linux-phobic corporations where a specific Linux distributed application is needed, LCOW is useful.

[2019-01-10 19:53] iofacture commented on #587
I believe Windows 10: Version 1809 went out via windows update on 01/08/2019 - I've tested it on build 17763.253 and can confirm the credential spec file does work, or at least does not timeout

[2019-01-10 22:34] cwilhit commented on #957
The link is a dead-end. Did you get this resolved?

[2019-01-11 00:06] iamyogeshg commented on #957
I did fresh installation of 2019 server and there it worked straight away.

[2019-01-11 14:52] slobo80 commented on #955
If that worked for you, then we should re-open the issue to remove the port.

[2019-01-11 16:48] jackpoz commented on #915
@Robert-Becker how did you install Hyper-V on Windows 10 Home ?

[2019-01-12 01:07] daschott commented on #944
@ksubrmnn FYI

[2019-01-13 15:57] MisotheisticYHWH opened #964 "The differences between the two container orchestrators aren't clear at all."
I've read through both descriptions twice and they honestly just come across as little more than jargon filled marketing blurbs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b1cd55-0f91-e97c-06d3-afe54fb909d4
* Version Independent ID: db485580-9c27-da7d-26f9-a60449cb5773
* Content: [About Windows Containers](https:

[2019-01-14 09:59] slobo80 commented on #955
I did run it on 1809 and it was giving me:
Error: "1809: Pulling from windows/nanoserver
no matching manifest for unknown in the manifest list entries"

I then realized that docker was not switched to run windows containers. Switching to run win containers resolved the issue.
I wish the error message was meaningful.

[2019-01-14 15:12] #798 closed

[2019-01-15 17:30] StefanScherer commented on #955
Working on it moby/moby#38574

[2019-01-16 04:41] yinyuhang opened #966 "an error"
** Description**

Link to doc:

[2019-01-16 04:42] #966 closed

[2019-01-16 04:43] yinyuhang commented on #966
create by mistake

[2019-01-16 08:43] zevanreg opened #968 "Instructions for Flannel are outdated"
The most recent Flannel manifest does not contain kube-flannel-ds DaemonSet. Instead, it contains kube-flannel-ds-amd64, kube-flannel-ds-arm, kube-flannel-ds-arm64, kube-flannel-ds-ppc64le and kube-flannel-ds-s390x.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 444389cf-f12d-0144-6651-95b874fae2dd
* Version Independen

[2019-01-16 11:57] mega6382 opened #969 "Typo"
It should be "Features required for Hyper-V will not be displayed." rather than "Features required for Hyper-V are not be displayed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 604d834f-6f94-0a37-12b6-a10dcf7c9fa3
* Version Independent ID: 4bd4ce05-bdde-f450-ee68-9fcd2cbca48e
* Content: [Windows 10 Hyper-V System R

[2019-01-16 18:34] turb0chrg opened #971 "Cannot access Internet"
Thanks for this, transparent networking between guests and other Azure VMs is a must. Having to create PAT rules using NAT isn't very scalable.

However, following the article I cannot get the nested guests to be able to access the Internet, Azure DNS, etc. The nested guests are able to access Azure VMs and vice-versa without issue. The host can access the Internet without issue. Also, a couple of

[2019-01-18 02:15] antxgit commented on #959
Run "Get-VMSwitch" Cmdlet.

[2019-01-18 07:54] ngluva commented on #821
Well the whole lot worked but I have no idea how to make my own.

[2019-01-19 12:57] NeoBeum opened #972 "Include 17763 and 17163 features and api references to Virtualization Documentation"
Update to Documentation to provide relevant information reflecting Windows Optional Features available for:
OS Build and Feature Name

17163.1+
- HypervisorPlatform

17763.1+
- VirtualMachinePlatform

Document https://docs.microsoft.com/en-us/virtualization/api/ indicates addition to April 2018, however no references are made to the Windows 10 Virtualization API Doc from index pages/root document

[2019-01-19 19:42] mrajess commented on #971
Yea, that's my fault. The original article didn't account for internet connectivity and just enabled nested VMs to communicate with Azure VMs directly. That was due to the initial scenario that I came up with this for. I then tried hamstringing in internet connectivity, didn't test everything and here we are. I've now solved for this. I'm going to redo the write up today, but you'll end up needing

[2019-01-20 01:44] recklessop commented on #969
Created pull request with a fix https://github.com/MicrosoftDocs/Virtualization-Documentation/pull/973

[2019-01-21 09:28] ShortyCM opened #975 "grammar and typo"
Most computers will run Hyper-V however each virtual machine is a completely seperate operating system.

Most computers will run Hyper-V.  However, each virtual machine is a completely separate operating system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223b9ea7-e2c0-4c6b-6d55-9125274d26ce
* Version Independent ID

[2019-01-27 10:59] hasan419 opened #976 "Worker swarm error"
Hi
After created docker swarm, in the worker node i have "information" and "error" in event viewer periodically and after reset my server that have win server 2019(1809), docker service not run:

"information":
The description for Event ID 1 from source docker cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You

[2019-01-27 23:53] johnwc commented on #924
@ngie-eign Sounds like your WMI db is corrupt or just missing what it needs to talk to Hyper-V. Run the following in a elevated command prompt, it should get everything back to normal.

mofcomp.exe %SystemRoot%\System32\WindowsVirtualization.V2.mof

[2019-01-28 01:53] trendytofu opened #977 "TLFS v5.0c, Section 3.7 Hypercall Inputs Variable header size field inconsistency."
26:17
Variable
header size
(9 bits)

This field should be 10 (26-17+1) bits in size instead of 9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d1cb91-eae1-4d2b-50ea-3ea63a962141
* Version Independent ID: 25b37867-f480-a7c2-1256-138569ea750d
* Content: [Hypervisor Specifications](https://docs.microsoft.com/en-us/vir

[2019-01-28 17:20] TheJayMann opened #978 "Add CredentialSpec to PowershellGallery"
Currently, the documentation for using a gMSA with a container suggests downloading CredentialSpec.psm1 and importing the module to make use of the New-CredentialSpec cmdlet.  I would like to suggest that this module be published to PowershellGallery (or another public psget repository) so that it can be installed as a single simple command `Install-Module CredentialSpec` rather than the multiple

[2019-01-28 21:51] trapier commented on #921
What you have described is expected behavior for swarm.  If you want to "rebalance" a replicated service after server1 reboots, you'll need to reschedule the service yourself by scaling or `docker service update --force servicename`.

If what you're interested in is one-task-per-node, then look into mode global services:

[code]

[2019-01-29 09:45] xiaochaosu commented on #924
@ngie-eign Maybe you can try to set your Hyper-V storeage path is share to Administrator .

[2019-01-30 21:54] turb0chrg commented on #971
Thanks for your response!

[2019-01-31 14:01] viniciusxyz commented on #945
I tried on Docker 17.06.2-ee-16 and get this error:

C:\Program Files\Docker\docker.exe: Error response from daemon: container 32903a90a5cc2e7d38960c3f71495cde5cc89971ed5b529ae2ebf00106267a00 encountered an error during CreateContainer: failure in a Windows system call: The request is not supported. (0x32) extra info: {"SystemType":"Container","Name":"32903a90a5cc2e7d38960c3f71495cde5cc89971ed5b52

[2019-02-01 12:22] viniciusxyz commented on #945
I ran out of ideas on how to work around the problem.
I think we'll need the help of someone closer to the core of docker windows.
@StefanScherer sorry mark you here, but I feel that this discussion is important and I always follow your work and I know you are an authorized figure in the subject, I would like your opinion on this problem, if it is not for your area, pardon me.

[2019-02-01 19:53] viniciusxyz commented on #945
I just tested with Windows Server Standard Evaluation, when I run the command docker run -ti mcr.microsoft.com/windows/nanoserver cmd or docker run -ti mcr.microsoft.com/windows/nanoserver powershell the below error is displayed:

C: \ Program Files \ Docker \ docker.exe: Error response from daemon: CreateComputeSystem 1fb7a0f964f35092a7650bbf560375686db62951ae906eb37682ec038eab3bcd: The operating

[2019-02-01 20:13] cwilhit commented on #945
@viniciusxyz Hyper-V Server 2019 is a free product that contains the Windows hypervisor, a Windows Server driver model, and core virtualization components. If you would like to run containers, we recommend upgrading to one of our Windows Server products to leverage that feature.

Regarding your latest comment where you're running Windows Server Eval, you need to make sure the container image tag m

[2019-02-01 20:19] andrewleech commented on #945
Hi @cwilhit, I am running 1809 in a separate vm, on a KVM system with nested virtualisation enabled.
Hyperv server 2016 works perfectly well in a separate vm alongside it.

[2019-02-01 20:52] cwilhit commented on #945
Ah, therein lies the issue. We do not support running Hyper-V on top of KVM--you may be able to get it partially working, but it can lead to undefined behavior. Just want to be clear that this is a configuration that we do not support.

[2019-02-01 21:07] viniciusxyz commented on #945
What are the versions that actually contain containers? I will test the execution by explicit tag 1809 to see what happens

[2019-02-01 21:14] cwilhit commented on #945
All versions of Windows Server since Windows Server 2016 are capable of running containers. You can find the full tag-listing for containers on [Docker Hub](https://hub.docker.com/_/microsoft-windows-nanoserver)

[2019-02-01 21:15] StefanScherer commented on #945
@viniciusxyz I'm already watching this repo and especially this thread ;-)

I tried it running the Windows Server Datacenter 2019 Eval in VMware Fusion and it works with both process and hyperv isolation. I haven't tried the 2019 Hyper-V ISO.

[2019-02-01 21:22] andrewleech commented on #945
Looking into my copy of Windows Server Datacenter 2019 Eval further, I didn't realise it installs with the hyper-v feature disabled. Enabling that has fixed the hyperv isolation for me too.

[2019-02-01 21:47] viniciusxyz commented on #945
It's a shame that there is no support for Hyper V Server 2019, I figured as a virtualization platform this functionality would also be deployed, I'll test again with Windows Server 2019 Standart using the correct images and warning me if hyper v is active. Can you tell me if containers are also supported on Windows server 2019 essentials? I ask this question because it is separate from the other v

[2019-02-02 08:34] ASHWINI-GUPTA opened #980 "Missing Doc Referance for Windows Server version 1809 Docker Support"
As Windows Server 1809 supports Linux containers on Window but not able to find any reference for how to enable or run Linux containers on version 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624cb26b-d0b2-4731-1e93-2aa7a7585e34
* Version Independent ID: 76eea0fe-678a-04cc-1467-69ab22a58461
* Content: [Configur

[2019-02-04 06:46] tscottg76 commented on #971
Hi. Has this document been updated based on your last comment? Basically I have everything setup where my nested VM in Hyper-v can access other Azure VMs and the Internet. But my Azure VM's cannot access my nested VM's on Hyper-v.
My Azure VM that is a hyper-v host only has one nic and the one virtual switch.

Also, instead of creating route tables in the Azure portal for the Azure VM to access th

[2019-02-04 16:41] viniciusxyz commented on #945
Testing with Standard and everything happened as expected when using the 1809 tag, I did not know that there was a breach of compatibility with previous versions, I also tested with Essentials and I came to the conclusion that it does not really work in this version, I will continue closing the issue, but again containers in Hyper V Server 2019 would be warmly welcomed.

[2019-02-04 16:41] #945 closed

[2019-02-04 16:43] cwilhit commented on #945
Appreciate the feedback--thanks!

[2019-02-05 00:16] yamauchikazu opened #981 "Docs need update: Process isolation mode support on Windows 10 ver 1809"
Docker desktop 2.0.0.2 for Windows (Docker Stable Engine 18.09.1) can run servercore:1809 and nanoserver:1809 images by process isolation on Windows 10 ver 1809.

Docker Engine 18.09.1 release note (https://docs.docker.com/engine/release-notes/) says "Windows: allow process isolation on Windows 10 docker/engine#81".

Docs need update:
https://docs.microsoft.com/en-us/virtualization/windowscontaine

[2019-02-05 06:39] yamauchikazu commented on #981
I confirmed that Windows 10 ver 1809 host clod run servercore:1809 and nanoserver:1809 images by process isolation mode. And Windows 10 ver 1803 host failed to run nanoserver:1803 image by process isolation mode. Error response from daemon: "Windows client operating systems earlier than version 1809 can only run Hyper-V containers".

[2019-02-05 22:44] juangps96 commented on #921
We can create services but with randoms ports, we need to define a range of ports and deploy it in order.
We need to create a service with replicas in a range of ports (8081 - 8084) for example, --publish mode=host,target=80 but we need to define a range like: --replicas 4 --publish mode=host,target=80,publish=8081,8082,8083,8084 or 8081-8084

[2019-02-07 13:35] viniciusxyz opened #984 "Windows Server 1809 - Kubernetes Tutorial does not work"
I'm trying to create a Hybrid Kubernetes cluster based on the document: https://docs.microsoft.com/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows, I can create the cluster and when I use kubectl get nodes my windows node is there with "Ready" state, however when trying to perform the first deploy through the example described in the manual the created pods are runni

[2019-02-07 16:29] stgraves commented on #862
The script does not check for images pulled down from mcr.microsoft.com/…. so it throws an error because it cannot find a Microsoft/windowsservercore or Microsoft/nanserver image.

[2019-02-07 17:49] #862 closed

[2019-02-07 17:49] cwilhit commented on #862
@ekitagawa - can you open a new issue for the VM-Switch on 1803 issue?

[2019-02-08 12:43] gszecsenyi commented on #800
For me only a `sudo apt-get update` was missing.

[2019-02-08 16:31] ekitagawa commented on #862
@cwilhit I can do that.  But if it's fixed for Win 2019, I wouldn't bother you too much over this given that 1803 is on a semi-annual channel...  We could document this and ask customers to upgrade.  Majority of our customer used 1709 and 1803 because 2016 engine lacked many critical functionalities.  Generally speaking, customer prefer long term channel.

[2019-02-12 10:12] doctordns commented on #775
Get-VMSwitch is a cmdlet in the Hyper-V module. You can install the Hyper-V RSAT tools in a variety of ways (depending on the edition of  Windows 10). The recommended method of getting this command is to install the RSAT tools for Hyper-V.  See: https://support.microsoft.com/en-us/help/2693643/remote-server-administration-tools-rsat-for-windows-operating-systems

[2019-02-12 11:18] davidhoward74 commented on #971
Can you advise when this re-write will be available?  I have been trying to follow previous and updated guidance on how to enable communications between nested VM's and other machines on the vNet in Azure and on-prem, but without success.

[2019-02-12 14:21] mrajess commented on #971
https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/master/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network.md

It hasn't been merged into Live yet, but is available at the Master linked above.

[2019-02-12 16:46] davidhoward74 commented on #971
Thanks for the link.. However, I have been unable to get this working successfully. At what point does the fourth Subnet described in the 'End State Configuration' come into play? Previous steps, do not seem to refer to this.
Would you be able to provide a diagram to show how the subnet and routing config should work?

[2019-02-12 17:04] jds80021 commented on #587
This issue seems to be back. Running Windows 10, version  10.0.17763.0. Everything was working fine after update Version 1809 Build 17763.134. After installing the latest update windows-10-update-kb4476976 the problem is now back. Anyone else seeing this ?

[2019-02-12 17:40] ggirard07 opened #986 "Networking differences between MobyVM and LCOW with Hyper-V containers"
EDIT: Not sure this is on the right article...

I started to tinkle a bit with LCOW and I am having an hard time to understand the differences in networking between LCOW running with Hyper-V isolation and default MobyVM.

MobyVM used to take advantage of WinNAT to expose a single bridge network between the host and the containers. But when switching to LCOW, running command `Get-NetNat` doesn't re

[2019-02-12 23:14] daschott commented on #949
@adagioajanes Rough instructions on how to set this up will be included in the next docs update. We will take some of the functionality out of start.ps1 and move it into a install.ps1 script so that you can run
1 .\install.ps1 <configuration options>
2. .\register-svc.ps1 <configuration options> or .\start.ps1 <configuration  options>

For now, assuming you have run start.ps1 previously, you can r

[2019-02-13 01:11] jevdemon commented on #946
Needed to use the force option when removing the image.  It may be worth noting this if future readers run into it:
docker rmi -f <user>/iis-dockerfile

[2019-02-13 01:12] jevdemon commented on #946
Correction:
docker rmi -f <user>/iis-dockerfile step

[2019-02-13 22:05] daschott commented on #944
@tjackprime can you use flannel version v1.11 ?

[2019-02-14 02:16] ahmedramadan45 opened #987 "Windows virtual machine"
I need these

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9452426d-ae96-0c49-badf-cfdd91ebed11
* Version Independent ID: 5e23c69b-b0ae-4cd8-6862-9b595857b436
* Content: [Create a Virtual Machine with Hyper-V](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/create-virtual-machine)
* Cont

[2019-02-14 08:42] Leon99 opened #988 "Error running WindowsContainerNetworking-LoggingAndCleanupAide.ps1 under PS6"
Works fine when running under PS5. With PS6:
[code]

[2019-02-14 16:21] danhoeger commented on #924
I'm having the same issue described here.  Hyper-V is installed and the service is running it is enabled in the BIOS and I'm a member of the Hyper-V Administrators group but I can't connect to the computer from Hyper-V manager even from a the Hyper-V host.  I tried running the MofComp.exe command and that didn't help.  I checked to make sure there wasn't any firewall or Local Security policy rules

[2019-02-14 18:45] scooley commented on #987
Thanks for the feedback!  We're actively looking at growing the number and types of VMs in the gallery.

[2019-02-15 16:08] Flodu31 opened #990 "Left, not right"
"On the right hand side of the Routing and Remote Access management panel you will see an icon with your servers name next to it, right click this and select "Configure and Enable Routing and Remote Access"."

It's not on the right hand side but left.

Florent

[2019-02-18 00:34] BowlingX commented on #855
In my case I was using windows server 2019 and I had to adjust the Dockerfile to use the `1809` tag. Otherwise creating pods would throw `The container operating system does not match the host operating system. kubernetes windows` errors.

[2019-02-19 10:10] Flodu31 commented on #971
Hi All,

Everything work for me based on the github article, except Internet. I've no internet access for my nested VMs.

Florent

[2019-02-21 19:19] solvingj commented on #851
@scooley.  At the company where I work, and in my OSS work, we do extensive cross-platform development and large-scale devops with C and C++.  LCOW provides tremendous value for our build infrastructure (many physical build machines with server 2019), and supporting our developers local machines (windows 10).  It is the cornerstone of several of our production build pipelines. Just wanted to share

[2019-02-21 19:34] ngie-eign commented on #924
This suggestion would make my system less secure, not more secure. I will try this, but in the event this works, Hyper-V is broken.

[2019-02-21 22:21] BrandonSharp commented on #924
I've been struggling with this same issue. I've tried all the fixes: checking BIOS, Hyper-V Admins group, MofComp, etc. Even spent ~90 minutes on the phone with a MS support tech earlier to no avail. Even stranger is that it doesn't work for me, but works for my manager, who's using the same model of laptop, and setup with the same group policy in the domain. The only notable difference is that I

[2019-02-22 10:55] supareno opened #993 "SSL / TLS error with apache-http Dockerfile"
Hello,

I had a SSL/TLS problem with the apache-http Dockerfile.
When i launched the `docker build -t apache-http-win:latest` (i called my image apache-http-win because i have linux apache image), i had the following error:
[code]
To resolve the problem, you should add the following line:
`[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12;`

to each powershell command

[2019-02-22 14:39] danhoeger commented on #924
I was able to get this to work on my machine by doing the following:

1, Open "Window Security"
2, Open "App & Browser control"
3, Click "Exploit protection settings" at the bottom
4, Switch to "Program settings" tab
5, Locate "C:\WINDOWS\System32\vmcompute.exe" in the list and expand it
6, Click "Edit"
7, Scroll down to "Code flow guard (CFG)" and uncheck "Override system settings"
8, Start vmcom

[2019-02-22 15:59] ngie-eign commented on #924
@danhoeger: that makes sense! Thank you for sharing that!

I wish I could verify this process without reinstalling windows 10 or using system restore

[2019-02-22 22:36] virtxx opened #994 "Hypervisor Platform API documentation"
** Description**
It is really great the HyperV Platform API is now available. However, I think the description of the error codes and pre-conditions for the functions could be improved. For instance, I am right now facing a problem with the WHvRequestInterrupt() function. My intention is to use this function to inject a interrupt into the guest (not via APIC but just the "raw" interruption of the

[2019-02-23 21:32] Legends opened #995 "Download speed of virtual machines"
We are writing year 2019.
Twelve years ago it took about 5 hours to download a virtual machine.
In year 2019 it's still that slow. What is happening in the highly praised Microsoft Cloud?

Ok, relax, take your time. I wouldn't be that annoying if the download would continue where it left off when the connection fails or whatever it is that makes the download to fail in the middle of the 14 GB down

[2019-02-25 16:34] stehufntdev commented on #994
Thanks for reporting the issue.  We recently started discussing improvements for the WHP documentation and documenting the interrupt behavior is on the list.

In the meantime, can you enable apic emulation through WHvPartitionPropertyCodeLocalApicEmulationMode and retry your code - https://docs.microsoft.com/en-us/virtualization/api/hypervisor-platform/funcs/whvpartitionpropertydatatypes?  Today W

[2019-02-25 16:36] stehufntdev commented on #951
Thanks for reporting the issue. We recently started discussing improvements for the WHP documentation and we add notes around possible failure codes.

If you are seeing WHvCreatePartition, I would suspect it is due to a lack of hyper-v or an older processor that doesn't support the unrestricted guest feature.

[2019-02-25 18:36] #995 closed

[2019-02-26 17:06] jberezanski-mdg opened #997 "Example DSC configuration"
Here is an example DSC configuration for enabling container support and installing Docker:

[code]
(add the Hyper-V feature if you need Hyper-V isolation support)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a44120-01fd-11ca-9d51-21ac35609f11
* Version Independent ID: 75a53123-64be-1caf-fd67-7e7bef3b0aa0
* Content:

[2019-02-26 21:10] virtxx commented on #994
Hi thanks yes this solves it - at least I no longer get an error when calling the function. I still don't see the interrupt being delivered but I have not investigated the reason for that yet (probably APIC issue). I think it would be useful if the documentation could state how to use the function in case one wishes to simulate a "good old 8259A PIC-based CPU" (which is necessary to support older

[2019-02-26 21:10] #994 closed

[2019-02-26 22:08] virtxx commented on #994
Just one more note: I actually figured out how to do this using the PendingInterrupt registers (thus bypassing the APIC completely) but it took a lot of guess-work to figure out. So maybe you could document those as well :-)

[2019-02-27 17:43] stehufntdev commented on #994
Thanks for the follow-up.  Yes, we are planning on documenting injecting interrupts with and without WHvRequestInterrupt.  Please let us know if you hit any other issues.

[2019-02-27 22:29] daschott commented on #775
Can't this be done via `dism /Online /Enable-Feature /FeatureName:Microsoft-Hyper-V /All /NoRestart` ?

[2019-02-28 17:18] daschott commented on #968
@zevanreg The relevant section has been updated.  A new sample .yaml manifest has also been uploaded for v0.11 that is patched for `-amd64`. You can always use this sample .yaml when the upstream flannel version becomes incompatible with the docs.

[2019-02-28 17:19] #968 closed

[2019-02-28 17:19] daschott commented on #916
Added, thank you!

[2019-02-28 17:19] #916 closed

[2019-02-28 17:21] daschott commented on #800
This issue can be avoided by updating your Linux master machine. This is added in the instructions here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/creating-a-linux-master#initialization-using-kubeadm thank you!

[2019-02-28 17:23] daschott commented on #960
added, thanks.

[2019-02-28 17:23] #960 closed

[2019-02-28 17:25] daschott commented on #944
This issue is resolved with flannel v0.11. Please re-open this issue if you are still seeing problems.

[2019-02-28 17:25] #944 closed

[2019-02-28 17:27] daschott commented on #949
@adagioajanes Rough instructions for this have been added here now: https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/kube-windows-services

[2019-02-28 17:29] daschott commented on #855
Which Windows version is being used? This shouldn't be an issue after WS1803.

[2019-03-01 12:22] doctordns commented on #775
You can certainly use DISM. I find using native PowerShell cmdlets to be superior. And if you are going to add Hyper-V, presumably you want to manage VMs later. All the more reason to install PowerShell cmdlets and move on.

Oh - and just a small comment. If you enable Hyper-V on a host, you have to reboot the machine. The reason for this is that when you are running Hyper-V on a host, the parent

[2019-03-01 12:23] doctordns commented on #990
Do you have a document reference or URL?

[2019-03-01 12:25] Flodu31 commented on #990
This: https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiIgZf-9-DgAhUBxxoKHfpUDREQjRx6BAgBEAU&url=http%3A%2F%2Ftechgenix.com%2Fconfigure-vpn-windows-server-2012-r2%2F&psig=AOvVaw0a21ki52KMzgK27YrZOcQY&ust=1551529510905299

[2019-03-01 12:28] doctordns commented on #990
WEll - that is a third party site.
I suspect you mean https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization-azure-virtual-network
I found it, corrected it!

[2019-03-01 12:55] Flodu31 commented on #990
Oh yes sorry, you’ve right. It’s on this thread. I just mentionned the screenshot to confirm that it’s on left and not right.

[2019-03-01 16:29] doctordns commented on #975
resolved in #1001

[2019-03-01 23:15] bplessis commented on #839
So basically your issue did not have anything to do with this guide.

Also, sorry to break your delusions but yeah, people do care about grammar and/or spelling, on the internet as on anything else.

Oh, and when your having any issues with an OC system, "computer 101" is to try without OC

[2019-03-02 11:45] doctordns commented on #578
Is this issue still open? It's nearly 2 years ago!

[2019-03-02 14:09] doctordns commented on #997
Nice configuration!

One question: In order to use the PS Gallery to download packages, you have to have the nuget provider added in too. Interactively, one gets prompted to allow it (IIRC). I am not sure that the configuration adds this - or am i misremembering Do you need a separate resource to install it - just before adding in the DockerMsftProvider ? Just asking!

[2019-03-04 13:45] Dra-Knight commented on #839
How on earth is "Enabling a Tickbox" not good enough instructions, this took me mere seconds to follow.

There is no way enabling Hyper-V would cripple your PC after a simple reboot.

[2019-03-04 14:03] jberezanski-mdg commented on #997
That is why I'm specifically referencing a modern version of the PackageManagement module (here 1.3.1 - latest stable release), which already has the NuGet provider built-in.
In my prototype implementation I'm installing the PackageManagement module files (by simple file copy) in a prior machine provisioning step, before invoking DSC. I imagine the module could also be delivered automatically from

[2019-03-07 13:17] scse-l opened #1006 "mysqld is not working"
I'm trying to install mysql 5.7 on a windows server core referring to the example of mysql.However, I got a problem while installing mysql as a service.
"Start-Service : Cannot find any service with service name 'mysql'."
The reason is that the command "mysqld.exe --install ; " is not working. I've tried a lot to solve the problem, including writing a my.ini file and create a new folder named 'dat

[2019-03-07 18:06] jonkuhn opened #1007 "Broken Link: https://msconfiggallery.cloudapp.net/packages/xHyper-VBackup"
The https://msconfiggallery.cloudapp.net/packages/xHyper-VBackup link is broken.  I would like to see this example code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2716f18-20cc-4ed9-863d-c45c419dfbd0
* Version Independent ID: 8dcb57e1-4eae-2eeb-c68d-4c482d94e2a4
* Content: [Hyper-V Backup Approaches](https://docs.

[2019-03-08 00:45] tracker1 commented on #868
POWERSHELL: (Admin)

[code]

CMD.exe (Admin)

[code]

[2019-03-08 07:56] praveenenzoo commented on #494
Hi All ,

How can we use distributed transaction on windows sql container via linked server and also giving you an example as

BEGIN DISTRIBUTED TRAN
select count(*) from [linkedServerName].master.sys.databases with (NOLOCK);
ROLLBACK TRAN

This query should work from different sql container on same host OR with standalone SQL server (which is in domain).

[2019-03-08 08:07] ramraj4k commented on #971
Has Internet connectivity is accessible on Nested VM inside the Hyper-v Console ? ...noticed still there is an issue to access the internet. Any advise ??

[2019-03-08 11:52] scse-l commented on #1006
The problem has been solved!!
The problem above is caused by lacking of msvcr120.dll & msvcp120.dll. I copied these two files from my machine(windows 10) to container, then run the command "mysqld.exe --initialize". It worked!
It seems that mysql5.7 are built by using Visual Studio 2013 and the server doesn't have Visual Studio 2013 installed, so the server is lack of the dlls mysql57 needs. So th

[2019-03-08 11:52] #1006 closed

[2019-03-12 11:51] Stannieman opened #1009 "How to run UI tests in windowsfamily/windows containers?"
Hello

According to [this](https://blogs.technet.microsoft.com/virtualization/2018/06/27/insider-preview-windows-container-image/) post it should now be possible to run UI apps like WPF apps in the new windowsfamily/windows containers, and indeed this kind of apps do launch.

UI testing is explicitly mentioned in the post, however I (and according to the reactions on that post some other people as

[2019-03-12 22:49] remote-specialist commented on #1009
I also played a bit with automation without any luck.

Container : docker pull mcr.microsoft.com/windows:1809
Steps to reproduce:
1. Run notepad inside container
2. Run console utility which uses AutomationElement.RootElement.FindAll (System.Windows.Automation) to find notepad window by name.

Actual results:
Element was not found in 2 minutes period with retries each 100 milliseconds.

Expected r

[2019-03-13 00:00] GOVYANSONG opened #1010 "K8S on Windows server 2019: example not working"
Trying to follow instructions given at https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows. I was able to setup master on ubuntu. While the Windows server 2019 (v1809) VM was trying to start up, I got following error:

E0312 16:51:54.394060    1808 server.go:730] Kubelet needs to run as uid `0`. It is being run as -1
**E0312 16:51:58.2653

[2019-03-13 10:23] StefanSchoof opened #1011 "VT-c vs VT-x"
In this document is VT-c as requirement for Hyper V mentions:

Wikipedia says VT-c is a Network_virtualization (https://en.wikipedia.org/wiki/X86_virtualization#Network_virtualization_(VT-c))

Is really VT-c and not VT-x required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 604d834f-6f94-0a37-12b6-a10dcf7c9fa3
* Ver

[2019-03-13 19:25] GOVYANSONG commented on #1010
Rebuild K8S cluster

Note: to eliminate any incompatibility among docker, kubernetes, linux/windows, Hyper-V.

Host

Windows 10 v1809
Azure VM size: D8_v3

VM#1

Windows Server 2019 Standard Evaluation v1809 build 17763
Architecture: amd64
docker: Docker CE for Windows v18.09.2 (bundled k8s: not installed, swarm: inactive, experimental: false)
K8S binaries for node: v1.13.4
Feature Hyper-V: enable

[2019-03-13 19:27] GOVYANSONG commented on #1010
But, I got following error in the powershell output screen for kube-proxy:

E0313 12:25:55.321446    7684 proxier.go:1041] Endpoint information not available for service default/win-webserver:. Not applying any policy

[2019-03-13 23:26] cwilhit commented on #1009
Thanks for opening this issue and thanks @remote-specialist for the repro instructions. @Stannieman Regarding below:

What framework or API are you trying to use to get the window handle? Same for the mouse controls. I think the best path forward at this point would be to get an idea of which frameworks are attempting to be used, what applications are attempting to be interacted with, etc.

[2019-03-14 07:30] Stannieman commented on #1009
For me it's a WPF app with WinAppDriver and Appium.

For the window handle: Starting notepad.exe or winver.exe and then running (Get-Process notepad).MainWindowHandle or (Get-Process winver).MainWindowHandle returns a valid handle on my real machine, however in the container both cases return 0. I figured this is probably related because WinAppDriver also times out telling me it cannot the find ou

[2019-03-14 15:07] alfredmyers opened #1012 "UAC vs. Authenticode(?) issue"
For some reason I still haven't figured out, following the steps outlined in the article brings up an UAC consent dialog bot that states VMCreatee.exe is from an unknown publisher.
I did some digging (signtool.exe, CAPI2 event logs) and found out that timestamp used for signing has since gone outdated.
From what I understood from "signtool verify /v VMCreate.exe" output the file is correctly signe

[2019-03-14 16:06] GOVYANSONG commented on #1010
after a restart, now i received the same error posted originally:

E0312 16:51:54.394060 1808 server.go:730] Kubelet needs to run as uid 0. It is being run as -1
E0312 16:51:58.265321 1808 remote_runtime.go:96] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = failed to start sandbox container for pod "kube-proxy-98n6n": Error response from daemon: network host not found

[2019-03-14 20:44] GOVYANSONG commented on #1010
I run docker network ls and saw the entry for cbr0 l2bridge

[2019-03-15 22:56] saunderslink opened #1013 "After launching start.ps1, Flanneld is stuck in "Waiting for the Network to be created""
I'm receiving this error when running start.ps1 but the resolution/workaround steps do nothing. Another error that shows

"Error registering network: failed to acquire lease: node "WINDOWS NODE" pod cidr not assigned"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d162332-10db-b9f2-92cc-19475ca448ed
* Version Independ

[2019-03-16 04:35] khajali opened #1014 "p"
** Description**

Link to doc:

[2019-03-16 21:05] MythreyaK opened #1015 "Log in as User in container"
With either LCOW or with containers using MobyVM, how does one login as a user instead of the default root user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87364a28-e1df-eda3-2480-11556ac578be
* Version Independent ID: eebcf9e0-2ff4-d3b5-687f-682adf0b005b
* Content: [Linux Containers on Windows](https://docs.micros

[2019-03-18 01:14] shannon247 opened #1016 "Where is it after I close it."
I created a Linux machine. However, now that I've closed it, where is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10344c5d-274e-de75-ecb6-11d53a377986
* Version Independent ID: 4cea53b8-1864-f12b-f0d9-f208743475c8
* Content: [Create a Virtual Machine with Hyper-V](https://docs.microsoft.com/en-us/virtualization/

[2019-03-18 08:40] MythreyaK commented on #1016
It should show up in the `Hyper-V Manager` (sidebar on the left, under your hostname)

![image](https://user-images.githubusercontent.com/26112391/54517289-4e9f8300-4987-11e9-93c4-cc63c3dcd43f.png)

[2019-03-18 09:42] MythreyaK commented on #986
I'm not sure, but [this](https://blogs.technet.microsoft.com/virtualization/2016/05/25/windows-nat-winnat-capabilities-and-limitations/) might help shed some light as it talks about HNS and Docker a little.

[2019-03-18 13:20] ggirard07 commented on #986
@MythreyaK Thanks for the link, I saw it but it didn't help at the time.
As I mentioned in my post, `Get-NetNat` returns nothing when using LCOW, which means to me all of the article no longer seem to apply when using LCOW...

[2019-03-19 09:10] hopewing opened #1017 "win10安装docker不能远程访问2375端口"
在win10上安装docker不能远程访问2375端口,只能本机127.0.0.1访问,别的电脑不能通过ip访问,为什么呢

[2019-03-19 16:48] bnuttall opened #1018 "Must run MMC in administrator mode to connect to local Hyper-V services"
The error message you get when you try to connect when you're not administrator says you need to be admin, but it's not immediately obvious. Might be nice to have a callout in this document mentioning the restriction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10344c5d-274e-de75-ecb6-11d53a377986
* Version Independ

[2019-03-19 21:45] jzabroski commented on #253
@StefanScherer  Can you update https://hub.docker.com/r/stefanscherer/registry-windows/ - it says that single machine docker container doesnt work right still.

[2019-03-19 21:50] jzabroski opened #1019 "windows-server-container-tools should be a PowerShellGallery module"
https://github.com/MicrosoftDocs/Virtualization-Documentation/tree/898cf22aef90fe920ac12c787d70595540374d9f/windows-server-container-tools - why is this just buried in documentation and not available as a powershell module.

[2019-03-20 13:38] mikerodrick opened #1020 "VMC connection"
When I initially launch a VM from Hyper-V manager by double-clicking the VM, VMC connection settings are applied (full screen, mapped drive).
Once logged in, there isn’t an option to switch to another user account (from the start menu, user icon)
So I must log out to switch users.
When I log out, the VM exits full screen mode.
Log in  (as a different user or the same user) and the VM stays in wind

[2019-03-20 22:10] remote-specialist commented on #1009
@cwilhit, thanks a lot for looking at this issue.
@Stannieman, good way to reproduce issue and nice point about resolution. It would be great to have larger resolution by default.

[2019-03-21 18:35] swieder opened #1021 "Links not rendering"
Links on this page are not rendering, just plain text pointing back to source.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07e835b4-908e-4566-7420-b5f3cefffa91
* Version Independent ID: 19a908fc-3526-eec2-85c6-d9c7a04e97db
* Content: [Hyper-V on Windows 10](https://docs.microsoft.com/en-us/virtualization/hyper-v

[2019-03-24 07:03] dreschner commented on #919
I experience exactly the same problem when using the `-force` option. Would be great to get a fix for that as the workaround is kind of silly.

[2019-03-25 11:54] daniel-kun commented on #888
Yes, this is a major headache. Docker for Windows and VirtualBox can't be used on the same machine without a reboot ;-(

[2019-03-25 16:11] RichyP7 commented on #921
I think it would be acceptable to use the dnsrr  until the mesh work is finished, but i would really appreciate to get an working example anywhere in the docs with an compose file and stack deploy like an real world application... It´s not very easy to get swarm windows examples.

[2019-03-26 10:32] ezzkht commented on #929
You can change the escape character and use backslashes in your paths.

[2019-03-27 04:43] JasonNoonan commented on #1009
I'm running into a similar issue, using PowerShell with the UIAutomation module (uiautomation.codeplex.com).  Our application is built using WPF with DevExpress framework for MVVM controls.

On my laptop, I can completely automate the startup wizard for this application (for instance), but inside of a container, I can see that the process has started but no controls return a Name element.  None of

[2019-03-27 08:58] mrzinger opened #1025 "Look for our HNS APIs and schema to be published soon."
** Description**
It has almost year passed since the article was edit and no updates on this matter yet. Either remove this row or provide the corresponding link

Link to doc:

[2019-03-27 15:45] RichyP7 commented on #921
i figured it out. it worked with an external network and host mode port. Be careful about the "Tips & Insights" section . I deleted the standard overlay network and created an own overlay network.
 If you use a compose file and swarm stack deploy you can specify the mode in the file with:
`    ports:
      - target: 80
        published: 62xxx
        protocol: tcp
        mode: host
    networks:

[2019-03-29 17:29] bearkat2173 opened #1026 "Characters inadvertently trimmed off credential spec file name"
https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/1715411ac2768159cd9c9f14484a1cad5e7f2a5f/windows-server-container-tools/ServiceAccounts/CredentialSpec.psm1#L256

[2019-03-29 18:38] #1020 closed

[2019-03-29 18:39] mikerodrick commented on #1020
Posted in wrong location

[2019-03-31 13:13] spottedmahn opened #1027 "Can I do this on Server 2016?"
The first few paragraphs mention doing this on Server 2016 but then the prerequisites say:

&gt;One computer system (physical or virtual) running Windows Server 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a44120-01fd-11ca-9d51-21ac35609f11
* Version Independent ID: 75a53123-64be-1caf-fd67-7e7bef3b0aa0
* Conte

[2019-03-31 13:16] spottedmahn opened #1028 "Where am I in the left-hand menu?"
Where am I in the left-hand menu?

![image](https://user-images.githubusercontent.com/14079228/55289503-aa113e00-5395-11e9-9342-979474630f1e.png)

## Shouldn't the menu on the left be **highlighted** like this:

![image](https://user-images.githubusercontent.com/14079228/55289513-c319ef00-5395-11e9-84ec-5ec26bdc96d0.png)

https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/

--

[2019-04-02 14:20] patobelardo commented on #494
I worked in a PoC with SQL VMs and a client app running into containers (2016 or 2019), using Transactionscope. In case someone is interested, here are the [notes](https://github.com/patobelardo/dtconcontainers/blob/master/README.md)

[2019-04-02 15:38] ekitagawa opened #1029 "Probably need an update"
The table on top is really helpful!  Still, I noticed that all 2019 tags are marked as unsupported, and I see this article was written last year.  Maybe, the table could use some update?  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47037c4-4b2e-b41c-64a3-d82ec79c18c4
* Version Independent ID: 947b1d95-3c

[2019-04-04 18:10] raymak23 opened #1030 "Unble to run windows container version 1809"
Hi everyone,

I am opening this issue based upon this [documentation](https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/common-problems):

I joined windows server 2019 datacenter edition to my Kubernetes 1.14 version cluster and I am getting below error when I deploy it from [here](https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/deploying-res

[2019-04-05 02:49] raymak23 commented on #1030
I figured it out and was able to resolve it by fixing image for kubewin/pause and yaml file.

https://blog.tekspace.io/setup-windows-node-with-kubernetes-1-14/

[2019-04-05 03:06] raymak23 commented on #1010
I was able to successfully join windows node to join Kubernetes 1.14 cluster. Check this tutorial out: https://blog.tekspace.io/setup-windows-node-with-kubernetes-1-14/

[2019-04-05 11:42] GOVYANSONG commented on #1010
although I still saw error messages in kubelet PowerShell window, the cluster itself with windows node actually works fine. I can run the sample win web server without any issue. Just remember to use docker enterprise on win2019 server.

[2019-04-05 11:43] GOVYANSONG commented on #1010
Closing

[2019-04-05 11:43] #1010 closed

[2019-04-05 15:25] mountswolmore commented on #815
I'm pretty sure these issues started after 1607.

W10-1607 Everything fine. 1703 and newer, starting VMs kills parity storage space.
I had 8 2tb disks in a parity space on 1607 and everything was great.

Windows update forced 1703 on me and things broke. When starting the VMs, they sit at a black screen with the space at 100% activity moving 0 data until the storage space goes offline due to criti

[2019-04-05 19:24] ElanHasson opened #1031 "Remove red squiggles from images"
Example: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/media/docker-on-linux.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7207c603-8e9d-3ade-18c6-a04fd9537b2e
* Version Independent ID: b0f2df64-6d9f-2429-d4f3-5d192196c4fe
* Content: [Windows container platform](https://docs.m

[2019-04-10 15:19] #1030 closed

[2019-04-11 15:05] jzabroski commented on #295
@robertoandrade  Do you have a dockerfile or docker image I can look at for SSRS?

[2019-04-11 18:32] w-biggs commented on #915
How does that link indicate in any way that Hyper-V works on Win10 Home?

[2019-04-11 23:14] Robert-Becker commented on #915
Hyper-V is installed natively on Windows 10 home all you have to do is activate it.(Default is turned off) I am coming from a win7 with the free upgrade to win10home. I am not sure if that makes a difference. I don't have my screen shots on this computer anymore but I used that link, had 2 different VM instances running at the same time and I'm using win10home. If you enter the command "systeminfo

[2019-04-12 00:15] jamiesondunne commented on #915
The link literally says repeatedly that hyper-V is only available on the "pro , and "enterprise" editions

[2019-04-12 00:18] jamiesondunne commented on #915
![image](https://user-images.githubusercontent.com/11201336/56003905-05e19e00-5c97-11e9-81e3-37c4572ab137.png)

[2019-04-12 00:55] w-biggs commented on #915
I incredibly highly doubt you actually got it working on Home. Can you paste your results when running `systeminfo`?

[2019-04-12 05:52] jackpoz commented on #915
@Robert-Becker could you write here the steps to enable it on Home, even better with screenshots ?

[2019-04-12 17:57] Robert-Becker commented on #915
Guys... seriously.... did you run the command in command prompt? Did you see "hyper-v requirements"? If you did... did you follow the steps in that link I posted? If you did then we wouldn't be having this conversation right now.

Jaime, bravo on reading 2 sentences and giving up. You'll be a tech master in no time with that attitude!
Also once you follow the steps and realize what you just posted

[2019-04-12 18:42] jackpoz commented on #915
![image](https://user-images.githubusercontent.com/1153754/56058826-d0a28200-5d62-11e9-9f23-f4a96379dd65.png)

![image](https://user-images.githubusercontent.com/1153754/56058838-dac48080-5d62-11e9-998e-6bea0b190327.png)

![image](https://user-images.githubusercontent.com/1153754/56058867-f16ad780-5d62-11e9-8233-7695d65690c2.png)

I meet all the requirements but there's no Hyper-V available in "Tu

[2019-04-13 16:42] sowsan opened #1033 "Docker container not running as network service as per the documentation"
When I run the docker container as per the documentation as network service its always throwing an error. Can you validate this, please ?

PS C:\Users\sowmyans.CONTOSO> **docker run --security-opt "credentialspec=file://contoso_webapp01.json" -d --hostname webapp01 --user "NT AUTHORITY\NETWORK SERVICE" -it mcr.microsoft.com/windows/servercore:ltsc2016 powershell**
1310e9426a5c70e6f0fa820fa5f58aec5