[2016-09-28 21:22] jhowardmsft commented on #358
We think we understand this now. There was a compatibility break with the 9D package. While 9D is available on server, the client 9D package hasn't yet been released. My understanding (out of my control as to when/how) is that it should be available later this week (probably tomorrow) through Windows update. Once that is applied, all should be good once more on client as well.

[2016-09-28 21:50] MichaelSimons opened #394 "Container Host - Nano Server documentation should use Invoke-WebRequest on Nano Server"
The _Container host deployment - Nano Server_ documentation says

It appears that the latest version of Nano Server now supports the Invoke-WebRequest cmdlet.  The documentation should make use of this as it would make the setup steps simpler.  Downloading on a remote system and coping the contents to the Nano Server is a pain.

@neilpeterson

[2016-09-28 22:12] neilpeterson commented on #394
@MichaelSimons thanks. Can you reply with the OS Version of you Nano instance? I am not seeing the command on mine.

[code]

Thanks

neilp

[2016-09-28 22:35] MichaelSimons commented on #394
@neilpeterson

Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      14393  0

[2016-09-28 22:41] neilpeterson commented on #394
Got it, applied updates, and there it is. I will get this updated ASAP.

Thanks again.

neilp

[2016-09-29 01:36] bilberry79 opened #395 "Deploy first container fails"
Hi,

I followed the instructions as described here:
(https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10)
from step 1. to step 4. Deploy Your First Container without any problems.

If I try to run: `docker run -it microsoft/nanoserver cmd`
A svchost.exe process starts and constantly consumes 25% CPU and nothing happens. The container doesn't start.

[2016-09-29 01:46] jhowardmsft commented on #395
Yes known. There is an update due out tomorrow I believe. Run Windows Update and life should be good after. It'll be a big one, some 800MB. Sorry, don't have KB number though yet.

[2016-09-29 01:53] bilberry79 commented on #395
Great. Thanks for the quick reply. I'll wait then.

[2016-09-29 02:43] friism commented on #388
@ezeeetm you can also check out the compose example mentioned at the bottom of this blog post: https://blog.docker.com/2016/09/build-your-first-docker-windows-server-container/

[2016-09-29 02:59] friism commented on #394
Hallelujah!

[2016-09-29 04:59] neilpeterson commented on #394
Doc has been updated, thanks again for raising the issue.

https://msdn.microsoft.com/en-us/virtualization/windowscontainers/deployment/deployment_nano

[2016-09-29 04:59] #394 closed

[2016-09-29 05:48] AzCii commented on #358
@StefanScherer That i correct i use Windows 10, if this is still a known error on Windows 10 and only solved in Server 2016, i wonder why this have been closed, the original question clearly states Windows 10 and not Server 2016, @PatrickLang any chance this can be reopned until it's solved?

My PC is , as far as i can see, 100% up to date, but i am behind a WSUS server, so i could be mistaken.
Lo

[2016-09-29 05:51] StefanScherer commented on #394
@MichaelSimons Wow, that are good news! Shrinking a file download in a Nanoserver Dockerfile from [11 lines of code](https://github.com/Microsoft/Virtualization-Documentation/blob/df9723e3a9d9ada778d01d43dcb36c99813dea8f/windows-container-samples/nanoserver/golang/Dockerfile#L10-L20) into a single line again! 💯

[2016-09-29 06:09] StefanScherer commented on #358
@AzCii It worked on Win10 back in August for a while. And I'm happy that there will be a Windows update in near future. Thanks @jhowardmsft for that information.

[2016-09-29 06:34] PatrickLang commented on #358
Normally I'd say we should have opened a new issue, but we have all the info here. @enderb-ms or I can l close it again when the Windows Update is out and the docs reflect it.

[2016-09-29 18:29] CodedBeard commented on #358
Looks like the patch is out for windows 10. I was having the same issues, then my machine just installed KB3194496 and now everything's working correctly for nano and server core.

[2016-09-29 18:36] StefanScherer commented on #395
As mentioned in #358, there is a Windows Update KB3194496 for Windows 10 which should fix that. Just trying this myself.

[2016-09-29 18:42] jhowardmsft commented on #358
Closing as KB is now available.

[2016-09-29 18:42] #358 closed

[2016-09-29 19:15] StefanScherer commented on #395
Yes, it works after installing the update KB3194496.

[2016-09-29 23:44] bilberry79 commented on #395
I can confirm this. It works after installing update KB3194496.

[2016-09-29 23:44] #395 closed

[2016-09-30 05:54] AzCii commented on #358
I can confirm that after installing KB3194496 from "Microsoft Update" this morning, it works for me

[2016-09-30 07:47] WolfspiritM commented on #181
Can this be the reason localhost port binding doesn't work on Windows 10, too?
I can access the containers via IP but they don't expose their port to localhost.

What does work however is:
Getting the IP of the container via "docker inspect" and then doing:
```C:\Program Files\docker>docker-proxy.exe -container-ip 172.23.57.95 -container-port 80 -host-port 8123```
After that it works, but I assume

[2016-09-30 08:00] woutersmit commented on #358
Maybe unrelated, but after the update it no longer freezes, but I get the following error:
(win10, and I **do** have features 'containers' and 'hyper-v' installed)

PS C:\WINDOWS\system32> docker run -it microsoft/nanoserver cmd
C:\Program Files\Docker\docker.exe: Error response from daemon: container 58e1475a072b9c7b5f3bb4aafb80074c8b7aa0e09364c4
7d21ee446b05798314 encountered an error during Cre

[2016-09-30 08:19] dorinf commented on #358
After installing KB3194496 from Microsoft Update, running "docker run -it microsoft/nanoserver cmd" does not freeze anymore.

But I can't start a container. I still have errors...

The error "Le système de calcul s’est fermé de façon inattendue" can be translated by something like "computing system closed unexpectedly".

Any idea ?

E:\Dev\Docker\docker.exe: Error response from daemon: container 8

[2016-09-30 09:10] pbering commented on #181
Is there any news on this? I have the same issue on Windows 10 with latest Docker 1.13 beta...

[2016-09-30 09:54] rs38 commented on #319
how does this behave in hyper-v Win10 1607 containers?

[2016-09-30 15:10] friism commented on #358
@woutersmit are you on Windows 10 Pro/Enterprise/Education with Hyper-V enabled (also check your  BIOS for whether CPU vt-x extensions and so on are turned on)

[2016-09-30 15:11] friism commented on #181
Pinging @JMesser81

[2016-09-30 15:55] StefanScherer commented on #319
Works in Server 2016

[code]

as well as  on Win 10 1607 with nanoserver

[code]

[2016-10-01 00:03] aphophas commented on #355
I was able to get around this by just adding a folder exclusion for "C:\ProgramData\docker" in SEP on my box. Once I did that, the temp file being locked was released, and I was able to successfully pull, extract and view the image on my box. I hope this helps out, as I agree that fully uninstalled SEP or any AV product is not a valid workaround.

[2016-10-01 07:26] msnelling commented on #355
@aphophas I tried the same thing and it didn't help in my case, only a full uninstall did the trick unfortunately.

[2016-10-01 07:42] dorinf commented on #358
Finally, I successfully started docker. After rebooting 3 times my computer, stop/start docker and hyperv services and updated the image, everything works fine.

[2016-10-01 09:32] GreatVincy opened #398 "Can not run a nano server container on Windows10(Build14936);Info:The JSON document is invalid. (0xc037010d)."
When I try to run the nano server container on Windows10 with command below in the PowerShell,an error occured.
【docker run -it microsoft/nanoserver cmd】
【C:\Program Files\Docker\docker.exe: Error response from daemon: container 9f2b64b04eac871767cd4014352ca921824676def806b4
14a0c9570b0a5c3076 encountered an error during Start failed in Win32: The JSON document is invalid. (0xc037010d)】
I have tri

[2016-10-01 09:51] alexellis commented on #356
I have the exact same issues.

I've tried removing the nat switch but it's made things worse. I've removed container + hyperv feature over and over again and nothing has been able to restore Docker to a working state.

Can someone please make a suggestion for resetting this to a working state?

[code]

[2016-10-01 12:12] StefanScherer commented on #398
What is the output of `docker version` and `docker info`?
Do you have all Windows updates installed, especially KB3194496?

[2016-10-01 13:21] GreatVincy commented on #398
Thank you for your answer！
docker info:
![info](https://cloud.githubusercontent.com/assets/17567321/19014237/3ddc877e-881a-11e6-9de5-a22488edb172.PNG)
docker version:
![version](https://cloud.githubusercontent.com/assets/17567321/19014238/3ddd5f8c-881a-11e6-9f6f-50fb0dac977c.PNG)
I think I have installed KB3194496,because my OS version is  newer than _Version1607_ .It is a _InsiderPreview_ version

[2016-10-01 14:53] erichexter commented on #356
After yesterdays update, I was able to load the IIS image from a windows 10
pro machine. It seems like it is working with the current releases of
docker, fully patched win 10 and the Ga server releases.

Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

On Sat, Oct 1, 2016 at 4:51 AM, Alex Ellis <notifications@github.com> wrote:

[2016-10-01 15:47] rs38 commented on #358
KB3194496 does not install on every computer.  [-> see here ](http://answers.microsoft.com/en-us/windows/forum/windows_10-update/kb3194496-fails-to-install-on-windows-10-pro/8f78af8e-6802-464c-8228-27e4f1486dca?auth=1)

I get (Win10Pro x64)
Error 0x800F0922 when it tries to install by automatic Windows Update
Error 0x80246010 when I tried to install the .cab file manually with DISM.
did not find a

[2016-10-01 20:55] JMesser81 commented on #181
It is well documented that container endpoints attached to a Windows NAT network cannot be accessed using the external (host) IP and port. Instead, if you're trying to access a container endpoint from the container host itself, you must use the internal (NAT) IP and port. This limitation is being fixed in the next release of Windows.

[2016-10-01 22:59] rs38 commented on #181
@JMesser81 what next release? Server? Win10?

[2016-10-02 17:07] rs38 opened #399 "part of first steps in Windows Containers on Windows Server missing"
Virtualization-Documentation/virtualization/windowscontainers/quick_start/quick_start_windows_server.md

where is the part gone that shows how to pull the image(s) from docker?

[2016-10-02 17:20] neilpeterson commented on #399
When running ‘docker run’ an image will be pulled if not already present. For this quick tutorial, ‘docker pull’ pull is not necessary.

This one goes a bit more into images, and includes push and pull:

[Container Images on Windows Server](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_images)

Here is the in-depth documentation for images on [docs.docke

[2016-10-02 17:21] neilpeterson commented on #392
Cc. @scooley

[2016-10-02 17:23] neilpeterson commented on #377
Yep, this is not supported, I will close the issue.

[2016-10-02 17:23] #377 closed

[2016-10-02 17:25] neilpeterson commented on #392
PR - https://github.com/Microsoft/Virtualization-Documentation/pull/393

[2016-10-02 18:57] FeodorFitsner commented on #398
Getting the same error since today's morning while running `docker run -it microsoft/windowsservercore cmd`:

[code]

Looks like something's broken in the latest Windows 10 update. I'm on `Version 1607 (OS Build 14936.1000)`.

[2016-10-02 19:05] rs38 commented on #399
simply compare the same section in the windows 10 topic. That's more straight forward there....
For you, who deals with it everyday it may not be so obvious.
I left focussing on windows container after tp3 or tp4 and come back I initially I do not get much of it :)
e.g. what happened to the powershell interface to containers like start-container etc.? there is no side by side docker and powershell

[2016-10-03 05:40] pbering commented on #181
@JMesser81 you write "cannot be accessed using **external** IP and port" but I can't use "localhost" or 127.0.0.1 to access local containers, is that the same issue?

[2016-10-03 09:04] KevinJCandlert commented on #358
@rs38 Try this; https://answers.microsoft.com/en-us/insider/forum/insider_wintp-insider_update/release-preview-14393222-cu-available-and-possible/7b63eb85-3320-4a4b-bc71-bb4de869b13f?page=26&auth=1

It worked for me :) I had issues that windows update couldn't install updates and was "undoing changes".

[2016-10-03 09:06] rs38 commented on #358
@KevinJCandlert yes, that works for getting the update run through... thx

[2016-10-03 09:40] rs38 commented on #399
next issue I get when being confused whether to install latest docker for windows beta as suggested by @StefanScherer (which seems to be server version 1.12) or if I stick on getting it with the 1.13dev like in the docs. neither way currently runs on my Win10 machine

[2016-10-03 14:07] rs38 commented on #399
after all I need to apologise: I wasn't aware that docker run also pulls sth. I could not try more because auf troubling with latest Win10 Fix and/or find out which version of docker is right for me. also I got stuck with an older virtula nat switch which blocked me until I found out to remove it with ver_ContainerNetzworks commandlets.

[2016-10-03 14:07] #399 closed

[2016-10-03 16:05] neilpeterson commented on #399
@rs38 no apologies necessary, your initial feedback is very valid. I will look into adding some clarifying text around docker run as it pertains to pulling images.

Thanks

neilp

[2016-10-03 16:18] rs38 opened #400 "example from Step 3 Windows Server quick start does not work"
`docker run -it -p 80:80 microsoft/iis cmd`

whoch loads image from repo and extracts but then stucks when running interactively by only showing "service w3svc started" instead of cmd.exe prompt.
Tried with different machines.
Entrypoint and running process seems to servicemonitor.exe

any idea?

exactly reproducable by quitting with ctrl-c and restarting with `docker start name -a`

[2016-10-04 00:37] erichexter opened #401 "Guidance on deploying and packaging legacy applications"
I have been working through the steps to productionalize our .net 4.6 SaaS solution. I am trying to rationalize the notion that containers should be immutable with the fact that we have different configuration files for environments and tenants. I am wondering if this is a topic you would address under this documentation or if you are looking to us to handle this under community blogs.

[2016-10-04 03:47] Shuliyey opened #402 "Why is the docker version (url link) on the Windows Server 2016 and Windows 10"
Hi

This is a question in regard to the windows native docker version on Windows Server 2016 and Windows 10

On Windows native docker on Windows Server 2016 https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server

it's currently

https://download.docker.com/components/engine/windows-server/cs-1.12/docker.zip

On Windows native docker on Windows 10 h

[2016-10-04 04:30] friism commented on #401
It'd be neat if someone wrote a web-config util that could be invoked at container boot to run a web.config transform that replaces appsetttings and connectionstrings that have matching environment variables (passed in through Docker with `-e`).

 * http://stackoverflow.com/questions/2915329/advanced-tasks-using-web-config-transformation/3674169#3674169
 * https://blog.appharbor.com/2012/07/27/cus

[2016-10-04 05:36] Shuliyey opened #403 "I don't think the latest version docker works"
I don't believe the below 2 docker engine are working

https://download.docker.com/components/engine/windows-server/cs-1.12/docker.zip

and

https://master.dockerproject.org/windows/amd64/docker-1.13.0-dev.zip

are working

I tried running the latest microsoft/windowsservercore

[code]

The process just hangs, after it created the hash tag for the docker container
[code]

if i open up another comm

[2016-10-04 06:38] jhowardmsft commented on #403
You don't have all Windows updates applied.

[2016-10-04 06:38] #403 closed

[2016-10-04 09:32] rs38 commented on #319
I had similar errors which also showed up as unremovable VSwitch in Hyper-V manager and probably came from previous container tests in earlier stages.
for me this was very helpful:[-> link to container networking]( https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking)

finally this helped (in a similar scenario)
Get-ContainerNetwork | Remove-ContainerNe

[2016-10-04 09:44] rs38 commented on #402
also curious about an official or better explanation, but there is at least for the engine one big difference: Windows10 is hyper-v containers only.
the docker client is a different thing.
it also gets even more confusing if you also try to get it working with the Docker for Windows betas with some GUI flavor.

[2016-10-04 13:19] erichexter commented on #401
I am using this as a working example of what could be done..
https://gist.github.com/erichexter/587337b7d4001d47f85e1ef72c0a9548

I wrote a wrapper around the ms library that does config transforms a while
back.. https://www.nuget.org/packages/WebConfigTransformRunner/ you could
use that, pulling it down from a nuget feed.

Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.c

[2016-10-04 13:32] friism commented on #401
[Haven't we all...](https://github.com/appharbor/appharbor-transformtester) :-)

An example showing how to build with Octopus would be cool. Another thing to look into is using the builder-pattern (with a container with msbuild) and copying that to a cleaner container for deployment: https://github.com/SteveLasker/BuildASPDotNetInAContainer/pull/1/files#diff-04c6e90faac2675aa89e2176d2eec7d8R8

[2016-10-04 20:03] ferrx commented on #370
This info was so hard to find! Thanks

[2016-10-05 04:39] Shuliyey commented on #403
Oh cool thanks, updating the Windows Server 2016 worked.

But the Windows 10 native docker still didn't work after update

https://master.dockerproject.org/windows/amd64/docker-1.13.0-dev.zip

[2016-10-05 05:21] jhowardmsft commented on #403
Not work as in...?

[2016-10-05 07:02] Shuliyey commented on #403
I get the below error, I'm sure i had all the update applied

![image](https://cloud.githubusercontent.com/assets/4773348/19103952/b6e011be-8b25-11e6-8ee1-fe0653f0cafb.png)

I get the below errors

[code]

[2016-10-05 11:50] rs38 commented on #400
meanwhile I can probably understand the sense of servicemonitor.exe (instead of ping to keep the IIS running) but there will be no interactive session possible as explained in the docs. probably docker images change too fast currently...

[2016-10-05 11:52] rs38 commented on #369
give it a new try with updated host OS, updated docker engine and updated docs!

[2016-10-05 11:54] rs38 commented on #340
tried removing old virtual nat switches?
check for remove-containernetworks and also retry with current updates to win10 and conainer engine.

[2016-10-05 15:12] jhowardmsft commented on #403
Client runs containers as Hyper-V containers. This error indicates you don't have Hyper-V enabled, or that you do and the Hypervisor isn't running due to incorrect hardware settings on your machine firmware to allow the Hypervisor to run (e.g. VT).

[2016-10-05 21:25] PatrickLang commented on #402
I'm checking into this

[2016-10-05 23:08] Shuliyey commented on #403
I see, thanks. I am running Windows 10 in Virtualbox with VT-x/AMD-v enabled

![image](https://cloud.githubusercontent.com/assets/4773348/19134925/c69d826c-8bac-11e6-8bd6-840644913f77.png)

But I did notice hyper-v have some problems. I will take a look and get back thanks :smile:

[2016-10-06 15:45] JohnPAguirre commented on #181
Looking for more documentation Windows 10 container endpoints attached to the host issue on what is normal and/if there is a game plan on what is going to be fixed.  Just started with docker engine for windows but this is honestly a surprise and this thread is what comes up on google about this issue.

[2016-10-06 17:56] rs38 opened #407 "the new container samples TOC linking in the live site is not up2date"
Virtualization-Documentation/virtualization/windowscontainers/TOC.md seems correct but live it show dead links like
https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-container-samples/windowsservercore

[2016-10-06 18:15] PatrickLang commented on #407
Ping @taylorb-microsoft

[2016-10-06 20:48] JMesser81 commented on #181
@pbering - not sure I understand. Are you trying to access a container endpoint from the host using 127.0.0.1 or loopback? Or, are you trying to access the host from a container using 127.0.0.1 or loopback?

[2016-10-06 20:50] JMesser81 commented on #181
@JohnPAguirre  - Here's a blog article I wrote about WinNAT capabilities and limitations. Most of the limitations I mention will be fixed in the next release.

@rs38 - Server and client are now merged so they're essentially one and the same release. Hoping to see some improvements in Windows Insider Preview (WIP) builds and possibly Windows Server previews (TBD) sometime in the new year.

[2016-10-06 22:08] Shuliyey opened #409 "I don't find the default host network"
windows native docker doesn't provide default host network

If  I do **docker network ls**

I only see 2 network, I'm looking for the host network. It doesn't exist, so I can't create containers with the **"--net=host"** parameter (which specifies the same network settings as the host)

[code]

[2016-10-07 06:50] pbering commented on #181
@JMesser81 I'm trying to access a container endpoint **from** the host with localhost:8000.

[2016-10-07 06:54] pbering commented on #181
@JMesser81 could you also throw the link to the blog post about "WinNAT capabilities and limitations. " that you mentioned?

[2016-10-07 07:37] dermeister0 opened #410 "Workstation service does not work"
I tried to install RabbitMQ inside container, but it depends on the Workstation service, which does not work in the Server Core image.

[code]
##

[code]
##

[code]

[2016-10-07 10:48] mlapierre commented on #340
Yeah, updates since I opened this issue have fixed it. It works now.

I did try removing old virtual nat switches. And all other network-related configuration. Whatever the problem was it's all good now.

[2016-10-07 10:48] #340 closed

[2016-10-07 11:05] rs38 commented on #410
can confirm this behaviour on Win10Pro.
The same image runs fine though on a ServerCore VM.
Only difference I can figure out is hyper-v container on Win10 and native on Server Core

[2016-10-08 22:41] dguidara commented on #355
I can confirm that Unintalling Norton fixes it. Would like to be able to have norton installed though.

[2016-10-09 15:57] jouniheikniemi opened #411 "Windows 10 Container Tutorial adds Docker twice to system path"
In https://github.com/Microsoft/Virtualization-Documentation/blob/live/virtualization/windowscontainers/quick_start/quick_start_windows_10.md, you're adding Docker to the system path twice. First you're updating $env:Path, then you're setting the path again with catenation of the Docker path at the end.

Also, would perhaps be better practice to get the system version of the path variable when set

[2016-10-09 21:49] neilpeterson commented on #411
I believe all of these steps (installation and configuration) will soon be updated with a much more simple process.

@enderb-ms , @taylorb-microsoft for progress on the Docker package provider.

Thanks

[2016-10-10 16:17] jonstelly opened #412 "//./pipe/docker_engine: Access is denied - after following Windows 10 guide"
I've followed the [Windows Containers on Windows 10 quick-start](https://msdn.microsoft.com/virtualization/windowscontainers/quick_start/quick_start_windows_10) on 3 different machines and at the end I always end up with the same result...

An error occurred trying to connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.23/containers/json: open //./pipe/docker_engine: Access is denied.```

It's W

[2016-10-10 16:29] JMesser81 commented on #181
https://blogs.technet.microsoft.com/virtualization/2016/05/25/windows-nat-winnat-capabilities-and-limitations/

Accessing a container endpoint from the host using localhost is not supported. You must use the internal IP address/port of the container endpoint.

[2016-10-10 16:53] jhowardmsft commented on #412
Do you get access denied if you run the client elevated (running on a named pipe, not TCP)

[2016-10-10 18:37] jonstelly commented on #412
Odd, I had definitely tried that several times last week (might have been against docker 1.12?) and it didn't work but it's working now if I run as elevated.

Thanks for the quick help, I should have tried that again.

[2016-10-10 18:37] #412 closed

[2016-10-10 19:02] jhowardmsft commented on #412
By default, the named pipe is only accessible to administrators. There's no ACLing on TCP ports, anyone can access them regardless of elevation. You can control the named pipe behaviour to allow users to access the pipe using the `-G` parameter to dockerd (or updating the `daemon.json` similarly).

@neilpeterson Is ^^ documented somewhere?

[2016-10-10 23:10] dongyuzheng commented on #411
The first one is to set the path for the current shell, which will not persist when you open new shells.
The second one is for the path to be set when you open new shells - which doesn't affect the current one you're working on.

[2016-10-11 13:23] bqstony commented on #358
@KevinJCandlert thx!!! works for me too. Bad Windows 10 Enterprise update ...

[2016-10-11 14:25] rs38 opened #413 "cannot use docker on remote WinRM Powershell session"
[code]
error: **docker : the input device is not a TTY.**

remoted to server 2016 RTM trial. docker client and server is 1.12 beta rc1.
it does not matter if run in ISE or normale ps host.

[2016-10-11 14:34] jhowardmsft commented on #413
Fully expected. Poweshell remoting does not expose a (fake as there's not really any such thing as a tty on Windows) tty. To interact -it that way from docker client, connect the client remotely using -H or set DOCKER_HOST. Alternately run single commands as opposed
to cmd and don't use -it from inside the remote session.

[2016-10-11 14:34] #413 closed

[2016-10-11 23:16] darrenstahlmsft commented on #373
@xied75 is correct. microsoft/dotnet is a Linux image, and will not run on Windows containers. There was a bug in Docker that failed to check if an image was compatible with the host OS before attempting to unpack it. It has since been fixed to give the correct error message in the latest Docker versions (both 1.12.1 and 1.13-dev have the fix).

If you want to use Dotnet in a Windows container, tr

[2016-10-11 23:31] xied75 commented on #410
Not only the WorkStation service doesn't work, the Server one also refuse to start, this is "by design" at least for now. This is to do with how the base OS image was made.

[2016-10-12 02:33] ardentm opened #415 "Can't use docker commands like "docker images" on Windows 10 14393.222"
Hello, I upgraded my OS and setup the environment following the document (https://msdn.microsoft.com/en-us/virtualization/windowscontainers/docker/configure_docker_daemon). It worked for the first time but after rebooting the computer, I have the error message below.

error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.25/images/json: open //./pipe/docker_engine: The system cannot f

[2016-10-12 03:06] friism commented on #415
Can  you check that the docker engine is running? `Start-Service Docker` to start it.

[2016-10-12 04:31] ardentm commented on #415
It returns the same result :)

[2016-10-12 04:44] friism commented on #415
What's in your daemon.json? Try removing that, and make sure that the daemon service started correctly and is running.

[2016-10-12 16:29] rs38 opened #418 "The module 'NanoServerPackage' cannot be installed because the catalog signature in 'NanoServerPackage.cat' does not match the hash generated from the module"
trying to go this through:https://msdn.microsoft.com/en-us/virtualization/windowscontainers/deployment/deployment_nano

Nano RTM fully patched!
tried on 2 instances...

I stuck at:
`
Install-PackageProvider NanoServerPackage -force -verbose
-----------------------
AUSFÜHRLICH: Using the provider 'Bootstrap' for searching packages.
AUSFÜHRLICH: Finding the package 'Bootstrap::FindPackage' 'NanoServ

[2016-10-12 18:19] PatrickLang commented on #415
Can you try downloading all the files here https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost and running

[code]

[2016-10-12 18:45] jhowardmsft commented on #415
The most common cause here is that you are running the client from a non-elevated command prompt.

[2016-10-12 19:21] PatrickLang commented on #303
Sorry I missed this report earlier. We just fixed the installer in #419

[2016-10-12 19:21] #303 closed

[2016-10-12 19:23] PatrickLang opened #420 "Error in DockerCertificateTools.ps1 - WARNING: can't open config file: /usr/local/ssl/openssl.cnf"
I'm getting an error about a configuration file, also mentioned in #303

[code]

[2016-10-13 06:59] rs38 commented on #413
@jhowardmsft Are this similar reasons why I cannot nest PS remoting?

[2016-10-13 07:43] jhowardmsft commented on #413
I don't know. Not my area.

[2016-10-13 12:28] tutnes commented on #355
I can confirm that temporarily disabling BitDefender mitigated the issue.

[2016-10-13 13:41] rs38 commented on #418
the error seems to being fixed in the last 1-2 hours?!

the next step then fails:
Install-NanoServerPackage -Name Microsoft-NanoServer-Containers-Package
with Error: Add-WindowsPackage failed. Error code = 0x800f0922
but luckily there is a workaround:
https://github.com/OneGet/NanoServerPackage (last paragraph)

[2016-10-13 13:41] #418 closed

[2016-10-13 16:16] rs38 commented on #413
but this all means, when hosting my Nanoserver with Docker in Azure the only way to control Docker from outside Azure, I need to expose the unsecured Port 2375 to the world and everyone can take over my docker deamon?

[2016-10-13 16:42] jhowardmsft commented on #413
2376 and TLS?

[2016-10-13 21:08] arun-gupta commented on #411
Really hoping the process is simplified. The steps listed at https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server?f=255&MSPPError=-2147217396 are quite daunting. Not sure how many first time users will drop out because of this.

[2016-10-13 21:10] friism commented on #411
@arun-gupta https://github.com/Microsoft/Virtualization-Documentation/pull/423 :-)

[2016-10-14 06:17] StefanScherer opened #425 "Debug-ContainerHost.ps1: Improve VSmbDisableOplocks check"
I just had a support case where the `Debug-ContainerHost.ps1` script complained about the `VSmbDisableOpslock` key. So I told the user to set it to 0:

[code]

But running the debug script again it still complains:

[code]

So if the reg property exists the script should check the value.

[2016-10-14 17:32] rs38 commented on #413
will have a view on it. thx!

[2016-10-14 17:34] friism commented on #413
I don't understand this problemspace well, but would the powershell for Docker commandlets work better? https://github.com/Microsoft/Docker-PowerShell

[2016-10-14 17:35] jhowardmsft commented on #413
@friism Not really as these use the docker.exe client under the covers.

[2016-10-14 17:36] friism commented on #413
@jhowardmsft I don't think that's the case. The commandlets call the dockerd HTTP rest API, if I'm not mistaken.

[2016-10-14 17:38] jhowardmsft commented on #413
Ah yes, sorry thinking of something else which does wrap the client.

[2016-10-14 17:39] jhowardmsft commented on #413
That said, it's still the same problem...

[2016-10-14 21:11] rs38 commented on #425
this means if the key is deleted, VSmbDisableOplocks = 0?

[2016-10-14 22:38] PatrickLang commented on #425
Yes, if the key is not present, Windows defaults that setting to 0.

1 was only needed as a temporary workaround because of changes made between Windows Server 2016 TP5.

I added a PR that will pass the test if the value is set to either 0, or missing altogether

[2016-10-15 13:56] rs38 opened #427 "messing up with Windows For Docker vs. manual install"
that should be clarified somehow and somewhere.
docker was running quite fine with the latest oneget install, but docker-compose was very hard to get it running.
If you try and install **Visual Studio Tools for Docker**, which looks so nice in Mr. Hanselman latest blog, the new problems begin, even if you skip the linux part.
Even without installing Docker for Windows(DfW) you get first into strug

[2016-10-15 18:31] 13thirteen commented on #402
In the meantime, the Windows Server download link has been changed to cs-1.12**.2** in commit 17b6c9ae6c0b424e7c75c768337406d8c7788b8a .
However, the Windows 10 download link is still the old one.
Please update also the Windows 10 download link to the same version.
The currently linked version 1.13.0-dev fails to pull the [latest base OS images](https://social.msdn.microsoft.com/Forums/en-US/54e36

[2016-10-15 20:10] friism commented on #402
@enderb-ms @PatrickLang If you feel comfortable, you could update the guide to tell people to install the beta channel of Docker for Windows, and include a direct download link to the beta channel installer.

Docker for Windows currently ships the same CS build as on Server (which admittedly is a little confusing on its own), and it appears to have worked ok over the past week.

[2016-10-17 04:43] donnib opened #428 "Is it possible to install .NET 4.5 in the docker container ?"
Hi,
Simmilar to the sample where .NET 3.5 is installed in the container can i install .NET 4.5 ? I am intersted in building .NET 4.5 apps inside a windows docker container for CI purposes.

/donnib

[2016-10-17 04:44] friism commented on #428
Yes, there's a good example here: https://github.com/alexellis/aspnet-voteservice

Dockerfiles:

 * https://github.com/alexellis/aspnet-voteservice/blob/master/src/Dockerfile.build
 * https://github.com/alexellis/aspnet-voteservice/blob/master/src/Dockerfile

[2016-10-17 04:57] donnib commented on #428
Sorry if i misunderstand. What i want is to be able to build a normal WPF .NET application inside a docker container. The link you sent talks about ASP.Net. Will that work for the above mentioned example ?

[2016-10-17 07:25] rs38 commented on #410
this answer is not really satisfying....

[2016-10-17 11:37] sasiezilmadhavan opened #430 "Unable to ping containers created with transparent network from other hosts"
Environment : Windows Server 2016 in Azure

Docker Version : 1.12.2-cs2-ws-beta

Kernel Version: 10.0 14393 (14393.321.amd64fre.rs1_release_inmarket.161004-2338)

---

I have created a transparent network with

docker network create -d transparent trans

and created two containers say A and B in the same network.  I am able to ping A from B and vice versa.  But i am NOT able to ping the containers

[2016-10-17 13:59] friism commented on #428
GUI apps are not supported with Windows containers.

[2016-10-17 14:01] donnib commented on #428
@friism I know that, i don't need to launch them but build them essentially what i want to do is use a container as a build machine.

[2016-10-17 14:07] friism commented on #430
ping @JMesser81

[2016-10-17 16:25] artisticcheese opened #431 "Update to documentation to include (Import-PackageProvider DockerMsftProvider)"
In documentation one step is missing for pulling images. Once you install package provider you need to import it which is missing.

[2016-10-17 17:01] jhowardmsft commented on #410
https://github.com/docker/for-win/issues/124#issuecomment-253628340

[2016-10-17 17:23] JMesser81 commented on #430
Hi Sasi - could you let me know why you want to create a transparent container network on Azure? What is your use-case?

Generally speaking, we only support the nat network / driver on WS2016 Azure VMs

[2016-10-17 19:13] friism commented on #431
Are you thinking about the `docker run microsoft/sample-dotnet` step? Docker will pull the images automatically as part of the run.

[2016-10-17 19:16] artisticcheese commented on #431
No. On this page
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server

[2016-10-17 20:33] #425 closed

[2016-10-17 20:54] PatrickLang commented on #413
Docker-PowerShell should work. It has console redirection code in there.

[2016-10-17 22:40] PatrickLang commented on #410
Did you try this workaround that John mentioned?

[code]

[2016-10-18 05:49] sasiezilmadhavan commented on #430
Thanks @JMesser81 for quick response,

Our use case is to containerise our existing enterprise platform and applications so that it seamlessly work in our customer's Enterprise data centres (private cloud) and in the long run should naturally fit-in when we evolve to Saas model of our products.  In our exploration, theoretically Docker with Swarm mode is promising for our needs.  That's our long s

[2016-10-18 07:33] ardentm commented on #415
Thank you guys for many replies. Unfortunately, I couldn't resolve the issue. Running the script above returned errors below. (sorry for a few Korean words, I translated some of them)

please give me ideas / experiences :)
___________________________________________________________________________________________________________

Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anni

[2016-10-19 06:35] rs38 commented on #413
@PatrickLang when I am remoting to a nanoserver, I need to install DockerPS module on it?
It comlains about a JSON dependency missing, so I cannot try out right now

[2016-10-19 21:47] StefanScherer commented on #420
@PatrickLang I don't get that warning running the script inside a Docker container.
I'm using this [Dockerfile](https://github.com/StefanScherer/dockerfiles-windows/blob/19dafb579e28ada514ad1c32993ffcce2f0b5798/dockertls/Dockerfile) and have used the following commands to create the certs

[code]

The warning might disappear due to the fact that I use Chocolatey to install [openssl.light](https://

[2016-10-19 21:49] PatrickLang commented on #420
@swernli @jhowardmsft do either of you use this script regularly?

[2016-10-19 21:57] swernli commented on #420
@PatrickLang I've used it myself, but I also have GitHub for Windows installed, which came with openssl.  So it's possible that install process set something else up in a way that allows these commands to succeed for me.

When you hit this error, are you trying the scripts on a clean system?

[2016-10-19 22:18] jhowardmsft commented on #420
Nope, never used it.

[2016-10-20 12:40] elohmeier opened #433 "Docker for Windows Server 2016 requires update KB3176936"
I want to install Docker on a physical Windows Server 2016 Datacenter Evaluation (Version 14393). I tried following the instructions from [Quick Start Windows Server][1] but installation fails:
[Error message][2]

The docker installer requires update KB3176936, which I installed then. Even after rebooting, the error message persists and I can't install docker.

I've enabled the Container feature a

[2016-10-20 13:55] elohmeier commented on #433
Solved! Requires an update.
http://stackoverflow.com/questions/40154582/docker-for-windows-server-2016-requires-update-kb3176936

There is a [pull request](https://github.com/Microsoft/Virtualization-Documentation/pull/390/) targeting this issue on github.

[2016-10-20 13:55] #433 closed

[2016-10-20 17:44] JMesser81 commented on #409
Sorry for the delay on this. We do not support the **host** network driver on Windows today. Can you let me know why you want to connect your containers to a host network?

If you just need your containers to be on the same physical network as the host, you can use the **transparent** network driver.

[2016-10-21 13:01] rs38 commented on #413
Docker-Powershell does not work neither:

@PatrickLang
`Get-Container | Attach-Container`

Attach-Container : The handle is invalid. (Exception from HRESULT: 0x80070006 (E_HANDLE))
    + CategoryInfo          : NotSpecified: (:) [Enter-ContainerSession], COMException
    + FullyQualifiedErrorId : Docker Client Exception,Docker.PowerShell.Cmdlets.EnterContainerSession

Attach-Container : The handle

[2016-10-21 13:24] yorickdocter opened #434 "Nano Server (RTM) Docker deployment issue"
When following the guide to implement Nano on WS2016 NanoI get the following error when performing the Docker installation `Install-Package -Name docker -ProviderName DockerMsftProvider`.

Any thoughts on this?

[code]

[2016-10-21 13:50] friism commented on #434
ping @jayshah-msft

[2016-10-21 16:47] rs38 opened #435 "cannot get container listening as expected"
I tried it on Win10 and also native (no VM) server2016 Eval.
disabled firewall and recreated NAT, VMSwitch, container networks.
Also I am aware of that bug(?) that localhost is not working.
But right now I can ONLY connect from a different computer. which luckily can be a VM.

what am I missing?

nothing that is mentioning the caveeats here:
https://msdn.microsoft.com/en-us/virtualization/windowsc

[2016-10-21 19:43] StefanScherer commented on #435
@rs38 Have a look at @sixeyed's blog post https://blog.sixeyed.com/published-ports-on-windows-containers-dont-do-loopback/

And use same port on host as in container, that might help.

[2016-10-21 19:50] rs38 commented on #435
I had a look before. was even trying some of his Dockerfiles.
using same port did not help also. very weird, but I do not completely understand all pitfalls regarding explained in https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking
yet

[2016-10-21 20:01] StefanScherer commented on #435
Ok, just tried `docker run -p 5000:80 microsoft/iis` and can access IIS from outside the Win2016 machine on port 5000 and from within the Win2016 machine using the container's IP and port 80.
So using different host:container port mapping works.

Can you see if your web server is running inside the container and listening to 0.0.0.0:80?

[code]

[2016-10-21 20:44] rs38 commented on #435
of course it does, otherwise I could not reach it from other computers.
here is the output.

[code]

thanks for the tip with either EXEC and first digits of the ID, did not know that tricks before.

[2016-10-21 20:55] rs38 commented on #435
ahhhhhhhhhhhhh....

I cannot believe I mixed up that with local and container port mapping. Now I understand your suggestion to take the same port.

You can easily see my mistake in the first post. I mapped it with docker run -d -p 80:5000 and was testing on port 80 on the inside of the container.

big sorry and thank you.

[2016-10-21 20:55] #435 closed

[2016-10-22 11:25] ericwj commented on #427
Completely agree. I think there are two separate issues here. I'd like to be able to read about the status of things and understand what is causing those issues. And to have an idea where this is headed and how it might be working when everything is done. Not the details but the goals and perhaps a bit of a timeline.

The first issue being that docker right now seems to require a newer version not

[2016-10-22 11:48] ericwj opened #436 "Cannot run Nanoserver container on Windows Insider Preview (10.0.14931.1000)"
Running `docker run -it microsoft/nanoserver cmd` on Windows Insider Preview (10.0.14931.1000):

`C:\program files\docker\docker.exe: Error response from daemon: container b807f2(...) encountered an error during CreateContainer: failure in a Windows system call: The system cannot find the path specified. (0x3) extra info: {(...)}: Are you trying to mount a directory onto a file (or vice-versa)? Ch

[2016-10-22 22:29] rs38 commented on #431
Friism is perfectly right, but I also ran into that misunderstanding like cheese, some weeks ago.
Voting for close

[2016-10-23 15:36] mmaster23 opened #437 "Can't install the Server-Media-Foundation feature"
Crosspost: https://social.msdn.microsoft.com/Forums/en-US/b646b841-c9fb-4f39-9662-5b59f02279ab/installing-servermediafoundation-in-a-docker-container?forum=windowscontainers

Trying to install the Windows version of Plex inside a Windows Server 2016 container. Our results thusfar:https://www.reddit.com/r/PleX/comments/5746vh/pms_installation_in_windows_server_2016_docker/
Server and client:

Versi

[2016-10-24 15:57] WouterDeKort commented on #398
Is there some fix or workaround for this? I'm still running into the same issue.

[2016-10-24 16:00] jhowardmsft commented on #398
@PatrickLang Sounds like something is broken on the latest insider flight in HCS incompatibility with the daemon. Is this known and being tracked internally?

[2016-10-24 16:31] eliassal opened #439 "Windows cannot start the Docker Engine service on local computer error 1067"
Hi I have a win10 with HYper-V already enabled I have followed instructions at
 https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10
Docker Engine is not starting, in event viewer it says:

fatal: Error starting daemon: open C:\ProgramData\docker\docker.pid: The system cannot find the path specified

I created a Docker directory in ProgramData, docke

[2016-10-24 16:34] jhowardmsft commented on #439
See https://github.com/Microsoft/Virtualization-Documentation/pull/438#issuecomment-255765173. Working on a fix.

[2016-10-24 16:34] #439 closed

[2016-10-24 17:02] friism commented on #439
I've sent a pull to not make people install some random CI build: https://github.com/Microsoft/Virtualization-Documentation/pull/440

[2016-10-24 17:26] PatrickLang commented on #398
Yes, this is a known problem on 14931 and 14936. This should be fixed in a future Windows Insider build. I see Windows Insider - Fast has a newer build, so I'm asking if that fixes it. I'll post back when I know more.

[2016-10-24 17:40] PatrickLang commented on #436
Sorry about the trouble here. Builds 14931 and 14936 have bugs and can't run containers. This will be fixed in a future Windows Insider build.

[2016-10-24 17:40] #436 closed

[2016-10-24 17:44] eliassal commented on #439
Thanks, Can you please let me know where those containers are stocked when we do a docker pull or run in windows? I imagine that they are created in the c drive

[2016-10-24 17:48] jhowardmsft commented on #439
They follow the root directory of the daemon configuration. By default that's c:\programdata\docker. From the command line you can do something like `dockerd -g c:\somepath` to relocate to somewhere else, or you can use the `graph` option in the daemons json configuration such as

[code]

[2016-10-24 18:28] eliassal commented on #439
Thanks,
I looked into `%programdata%\docker\config\ no daemon.json file exists omly keys.json
 I searched all my C drive no file exists with the name daemon.json
Regards

[2016-10-24 18:32] eliassal commented on #439
Also another question if you allow, I did an ipconfig on the microsoft/nano, I get
IPv4 Address. . . . . . . . . . . : 172.31.7.184
Subnet Mask . . . . . . . . . . . : 255.255.240.0
Default Gateway . . . . . . . . . : 172.31.0.1
I would like that my containers have the same subnet details where my other test machines run 192.168.1.0, how this cna be changed? how those networking details are attrib

[2016-10-24 18:36] PatrickLang commented on #439
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking#network-creation

You can create a different network or reconfigure it to use another IP space

[2016-10-24 19:15] eliassal commented on #439
The article is clear but feedback is not possible there, when I do Get-NetAdapter, I get

Name                                     InterfaceDescription
----                                         --------------------
vEthernet (HNS Interna...          Hyper-V Virtual Ethernet Adapter #2
vEthernet (Internal Et...             Hyper-V Virtual Ethernet Adapter #3
vEthernet (External)

[2016-10-24 19:19] eliassal commented on #439
Patrick, I am also facing another issue on a win2K16 (a VM) where I have followed instructions at
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server

I started dockerd on the server which started fine but issuing the commande
docker run -it microsoft/nanoserver cmd

I get

Unable to find image 'microsoft/nanoserver:latest' locally
latest: Pulli

[2016-10-24 19:24] eliassal commented on #439
Hi, hold a moment, just issued the command  Get-ContainerNetwork, I have

Name     Id                                   Subnets         Mode        SourceMac DNSServers DNSSuffix
----     --                                   -------         ----        --------- ---------- ---------
nat      ff909283-0245-4a82-a407-a37fbc872fbb {172.31.0.0/20} NAT
External 52ba3cec-f2a4-41d8-af88-21cd9086ebde

[2016-10-24 19:29] jhowardmsft commented on #439
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking#transparent-network

[2016-10-25 02:43] liiujinfu opened #442 "What is the equivalent of /var/run/docker.sock in Windows container?"
I'm intend to capture all commands from docker, so that I can do service discovery, like [registrator](https://github.com/gliderlabs/registrator), for windows, it's may be not a right way, so how can I do like that, any ideas?
thanks

[2016-10-25 02:50] friism commented on #442
Docs here: https://docs.docker.com/docker-for-windows/faqs/#/how-do-i-connect-to-the-remote-docker-engine-api

[2016-10-25 16:31] StefanScherer commented on #442
Just out of curiosity. I know that `docker run -v npipe:////./pipe/docker_engine:npipe:////./pipe/docker_engine ...` does not work right now. But would it be possible to hand over the named pipe into a container?

[2016-10-25 16:39] jhowardmsft commented on #442
No, not possible in the platform. Windows isn't 'file based' in the same way that Linux is.

[2016-10-25 16:52] friism commented on #442
@StefanScherer if you make the daemon listen on TCP, you can access it through the container default gateway: http://i-py.com/docker-on-windows-2016-container-introspection-via-docker-daemon-api/

It'd be a cool demo if you could combine this with your SSL work.

[2016-10-25 18:31] jhowardmsft commented on #439
Original issue fixed by https://github.com/docker/docker/pull/27690

[2016-10-25 18:48] eliassal commented on #439
Thanks, on win 10 it is working like a charm but not on win 2K16 without HYper-V, still getting

PS C:\Users\salam> docker pull microsoft/windowsservercore:10.0.14393.321
10.0.14393.321: Pulling from microsoft/windowsservercore
error pulling image configuration: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/93/93a9c37b36d03323f7b8fd
d7f0302f7e487a0e8b31ccd8e6

[2016-10-27 10:39] DarwinJS commented on #394
@friism - when I do "get-command invoke-webrequest" on a freshly booted Nano RTM box (with no extras installed) I get "...not recognized as the name of a cmdlet..." - is there a nano package install required to have invoke-webrequest?

[2016-10-27 13:49] MichaelSimons commented on #394
@DarwinJS - Have you installed the available updates on this machine?  This may be a requirement.

[2016-10-27 14:08] DarwinJS commented on #394
Good point.  I have not.  However, I also do not want to.

This is for the script I have created that allows automated install for anyone to use - so I don't want to force any updates or optional components onto their Nano build just to get an install done.

Also when people just want to try the automated install, they probably won't install updates for a quick kick the tires and then assume it do

[2016-10-27 17:02] rvka commented on #141
I wonder why this issue has been closed by a totally unrelated commit?

The problem is still there: none of the tlfs documents has bookmarks.

[2016-10-27 21:45] kallie-b commented on #361
As a follow up, the partitions for any new/custom NAT networks must be created under the larger internal NAT networking prefix. You can find the prefix by running the following PowerShell command then referencing the "InternalIPInterfaceAddressPrefix" field.

`PS C:\> get-netnat`

[2016-10-27 22:25] PatrickLang commented on #437
Thanks for the heads up on the crosspost. I'm happy to continue this discussion on the forum. Since we don't have a specific documentation issue, I'm going to close this for now. We're using the forums for discussion & support, and issues for problems with the documentation and samples in the repo.

[2016-10-27 22:25] #437 closed

[2016-10-27 22:38] #107 closed

[2016-10-27 22:38] kallie-b commented on #107
Closing issue due to lack of activity.

[2016-10-27 22:39] kallie-b commented on #102
Closing issue due to lack of activity.

[2016-10-27 22:39] #102 closed

[2016-10-27 22:41] kallie-b commented on #137
Closing issue due to lack of activity.

[2016-10-27 22:41] #137 closed

[2016-10-27 22:42] kallie-b commented on #162
Closing issue due to lack of activity.

[2016-10-27 22:42] #162 closed

[2016-10-27 22:43] kallie-b commented on #170
Closing issue due to lack of activity.

[2016-10-27 22:43] #170 closed

[2016-10-27 22:44] kallie-b commented on #171
Closing issue due to lack of activity.

[2016-10-27 22:44] #171 closed

[2016-10-27 22:44] kallie-b commented on #172
Closing issue due to lack of activity.

[2016-10-27 22:44] #172 closed

[2016-10-27 22:45] kallie-b commented on #176
Closing issue due to lack of activity.

[2016-10-27 22:45] #176 closed

[2016-10-27 22:48] kallie-b commented on #188
Closing issue due to lack of activity.

[2016-10-27 22:48] #188 closed

[2016-10-27 22:49] kallie-b commented on #193
Closing issue due to lack of activity.

[2016-10-27 22:49] kallie-b commented on #193
Closing issue due to lack of activity.

[2016-10-27 22:49] #193 closed

[2016-10-28 17:09] kallie-b commented on #430
Hi Sasi, apologies for the delay.

It's awesome to hear that you're interested in using Docker with Swarm mode and Windows/Azure to get your containerized applications running on the cloud. It's true that Swarm is promising for your scenario, and the issue that you're describing would be a classic use case for overlay networks with Service Discovery (as well as the other features that will be avai

[2016-10-29 18:41] rs38 commented on #430
Can we get this worthy information somewhere in the right place in the right docs?

[2016-10-31 14:29] rs38 opened #453 "Invoke-WebRequest to docker binaries not possible from Nano server /image"
very strange:

`Invoke-WebRequest "https://master.dockerproject.org/windows/amd64/docker-1.13.0-dev.zip" -OutFile "$env:TEMP\docker-1.13.0-dev.zip" -UseBasicParsing
`

leads to

**`Object reference not set to an instance of an object.`**

even:
`iwr https://master.dockerproject.org/windows/amd64/docker-1.13.0-dev.zip.md5`
-> same error

whereas:
`iwr https://master.dockerproject.org/static/folder.

[2016-10-31 16:29] eliassal opened #455 "error pulling image configuration"
I have a fresh new win2K16 with containers enabled as well as hyper-v is turned on. Whenever I tru to issue the tes cmmand as indicated to test (firewal disabled, no proxy.....)
docker pull microsoft/windowsservercore:10.0.14393.321

I get

error pulling image configuration: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/
93/93a9c37b36d03323f7b8fdd7f0302f7e487

[2016-10-31 16:34] PatrickLang commented on #453
Can you share the update version for your Nano hosts in each environment? I'm not sure if it's related but it's a good first step since I don't have access to EC2.

[code]

[2016-10-31 16:43] rs38 commented on #453
you don't need EC2 to repo! this was my first guess that they behave defferently, but obviously not

easiest may be Win10 machine:
Win10 docker host:UBR:351  and docker nano image which has the iwr problem: UBR:206.
both show iwr of version 3.1.0.0    Microsoft.PowerShell.Utility

[2016-10-31 16:48] PatrickLang commented on #455
I'm sorry you're having difficulties, but can you open an issue at https://github.com/docker/docker/issues ? That is the best place to track problems with the Docker engine used to manage containers including `docker pull`. This repo is used for documentation and samples only.

[2016-10-31 16:48] #455 closed

[2016-10-31 17:20] rs38 commented on #453
you should very likely able to reproduce.

also tested with UBR 321 of nanoserver image.
@alexellis was very probably facing the same issue with other binary repos like Redis.
there was also some evidence that redirection to a CDN may not work as expected in other cases.

[2016-10-31 18:01] eliassal commented on #455
OK Patrick, I did, here is the link
https://github.com/docker/docker/issues/27911

[2016-10-31 23:56] CarmenAPuccio commented on #427
@ericwj or @rs38 did either of you manage to get this working? I've been trying to build a solution using 1.12.2-cs2-ws-beta on Windows 2016 with the latest version of Visual Studio Community installed with the Visual Studio Tools for Docker (I don't have access to a Windows 10 box).

If I take any project and add Docker Support I can't get it to build because linux can't be used on this platform

[2016-11-01 14:51] rchhatwal commented on #355
Added folder exclusions for "C:\ProgramData\docker" & "C:\ProgramData\docker". Still getting the same error:
_failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\docker\windowsfilte
r\f78c774278a7fd05393db8b6e9d3b66b74cf635cab5fcf1c1a570628ccf12a92\UtilityVM: The process cannot access the file because it is being used by another process.__

[2016-11-02 00:07] thebagel commented on #257
This link is still present and broken - does the script have a new home? The copy of the script in this repository does not match the one available on the TechNet gallery (https://gallery.technet.microsoft.com/scriptcenter/Convert-WindowsImageps1-0fe23a8f).

[2016-11-02 06:15] sasiezilmadhavan commented on #430
@kallie-b Thank you for the update.  I have gone through the [article ](https://blogs.technet.microsoft.com/virtualization/2016/10/18/use-docker-compose-and-service-discovery-on-windows-to-scale-out-your-multi-service-container-application/)   by you and was able to successfully run multi-containers in single host using docker-compose.

[2016-11-02 09:44] cniweb opened #457 "Missing ContainerSetup.ps1"
The installation gide for Container PowerShell Cmdlets is missing:
https://msdn.microsoft.com/virtualization/windowscontainers/quick_start/inplace_setup
and
https://msdn.microsoft.com/virtualization/windowscontainers/quick_start/manage_powershell

The URI for ContainerSetup.ps1: http://aka.ms/setupcontainers is also missing!

Thanks,
Chris

[2016-11-02 09:51] rs38 commented on #427
I did not try that again with DfW. installing windows-only docker was much more relaible for me

[2016-11-02 09:54] cniweb commented on #400
I have the same issue!

[2016-11-02 10:04] rs38 commented on #400
as I understood: the microsoft/iis images is build with a docker file that uses  ENTRYPOINT ["C:\\ServiceMonitor.exe", "w3svc"] at the end. This is not overridable with the docker run, as it would be with dockerfile created with CMD instead of ENTRYPOINT. the exact purpose of choosing either way should be explained by more experienced experts.  I will put this as an issue/question in the repo of t

[2016-11-02 10:14] rs38 commented on #400
to workout the next steps in the docs you can do it e.g. with `docker exec <iis-container-ID> cmd del C:\inetpub\wwwroot\iisstart.htm`

[2016-11-02 12:29] cniweb opened #460 "CreateContainerImageUsingPowerShell not work"
The Parameter CreateContainerImageUsingPowerShell in script:
https://github.com/Microsoft/Virtualization-Documentation/blob/master/windows-container-samples/nodejs/HybridInstaller.ps1
did not work on Windows Server 2016.

[2016-11-02 12:53] cniweb commented on #460
Error:
[code]

[2016-11-02 16:50] PatrickLang commented on #460
Hmm - that script looks like it hasn't been updated since TP5.

Can you try one of the Dockerfiles here if you're looking for Node?
https://github.com/StefanScherer/dockerfiles-windows/tree/master/node

[2016-11-02 16:52] PatrickLang commented on #460
@mylesbkeating1993 since there are better community-supported Node containers in progress, can you remove the broken NodeJS sample files and have the README.md point to Stefan's work in progress?

[2016-11-02 16:59] PatrickLang commented on #457
Where were these linked from? The table of contents on the left of the site points to https://github.com/Microsoft/Docker-PowerShell which has the right setup steps

[2016-11-02 18:54] testphreak commented on #214
Hi @scooley, any update on this request? We really Edge and IE Docker images for test automation, similar to what we already have for Chrome and Firefox [here](https://hub.docker.com/r/selenium/).

[2016-11-03 00:27] schmunk42 commented on #214
Not a Docker solution, but [this rough tutorial for VMs](https://github.com/dmstr/docs-phd5/blob/master/guide/tutorials/testing-internet-explorer.md) might also help.

[2016-11-03 02:21] dhirschfeld commented on #434
I'm seeing this same error when trying to install docker on Windows Server 2016 following the instructions  at:
https://blog.docker.com/2016/09/build-your-first-docker-windows-server-container/

[2016-11-03 07:40] rs38 commented on #453
not able to repro?

[2016-11-03 08:59] cniweb commented on #457
You can found it here:
https://github.com/search?q=http%3A%2F%2Faka.ms%2Fsetupcontainers&ref=reposearch&type=Code&utf8=%E2%9C%93

[2016-11-03 09:44] cniweb commented on #460
Hi @PatrickLang,

I think, that´s a good idea!
@StefanScherer do you think, too?

Chris

[2016-11-03 18:54] StefanScherer commented on #460
Sure, the proposals for the official node images are
* https://github.com/nodejs/docker-node/pull/222
* https://github.com/nodejs/docker-node/pull/223

[2016-11-03 20:17] PatrickLang commented on #214
There are Vagrant images published for Edge and IE, but there are no plans to publish container images. We don't support running Windows 10 in a container, and don't have the ability to use a UI from a container. If UI support is added later, we can see if IE/Edge can happen

[2016-11-03 20:17] #214 closed

[2016-11-03 20:46] PatrickLang commented on #453
I haven't been able to look at it yet unfortunately

[2016-11-03 20:47] PatrickLang commented on #453
ping @enderb-ms can you check this out if you have time?

[2016-11-03 21:45] PatrickLang commented on #457
Ah, I see. We reorganized the documentation and also deprecated that script since it was specific to the technical preview. It's best to always link to http://aka.ms/windowscontainers as a durable link because things change frequently. We're aiming to reduce duplication between that site and docs.docker.com, so links will probably break again at some point.

One of these guides should have the ins

[2016-11-03 21:45] #457 closed

[2016-11-04 00:13] testphreak commented on #214
That's disappointing to hear. I was hoping either for a Windows Docker image with Edge or Edge coming to Linux, so we could build the Docker image on our own. Neither sounds like it's going to happen.

Explains why all the developers/testers I know prefer to work with Chrome and/or Firefox due to them being cross-platform and only test against IE/Edge as an afterthought.

[2016-11-04 12:52] gsmachado commented on #214
@testphreak: I know that this comment does not help, but, I want to spit it out. Well, that's Microsoft. When we think that they are going to a different direction, being more open, flexible, and making life easier (and better) to developers on different platforms, they punch you back by saying "no, we are not planning to support this, period". Anyway, finger crossed to at least have it planned fo

[2016-11-04 13:36] rs38 commented on #214
what is the sense of promising a container with UI based browser stuff, as long as the base of containers, images and docker is so brand new, that it feels like pre beta stage? Let the guys do their work and keep or increase the great velocity of the last years.  Container are such a big thing in many cases, that you can truly keep your IE+Edge UI Tests running on VMs, as there is not such a big b

[2016-11-07 00:30] ericwj commented on #171
Yeah I consider this resolved. I don't right away recall whether this is because PSDirect is better now, or the script that creates the image, or that NanoServer can just be reached after setup. I had no issues at least last time I went through setting up a new server. Thanks

[2016-11-07 00:32] ericwj commented on #436
Thanks for the response

[2016-11-08 22:15] cniweb commented on #457
Hi @PatrickLang,

but the link http://aka.ms/windowscontainers do not work!

Chris

[2016-11-08 22:44] rs38 commented on #457
It does here

[2016-11-09 02:30] RyanNewsom commented on #355
+1 for me. Tried disabling Norton, but of course is still had running processes. Had to fully uninstall it, then redid the pull and it worked.
Docker: 1.12.3

[2016-11-10 22:53] PatrickLang opened #477 "Document how memory settings and heuristics work for Windows containers"
See https://github.com/docker/docker/issues/27892

Memory Settings
- How to find available memory inside Windows Server Container
- How to find available memory inside Hyper-V Container
- How to set each

CPU Settings - what works / doesn't
- `--cpu-count`
- `--cpu-shares`
- `--memory`

If we can document on docker/docker, we should. Otherwise, document it here

[2016-11-10 23:11] PatrickLang opened #478 "Make sure manual setup steps use v1.13 now that it's in code freeze"
We should make sure the docs are pointing to v1.13 which is in code freeze so we can get more testing on it. That build should work great on both Windows 10 and Windows Server 2016.

See https://github.com/Microsoft/Virtualization-Documentation/pull/469 for some background info

[2016-11-12 08:44] StefanScherer opened #479 "Proposal: Put language packs into Windows Update layers"
I've seen that there are multiple languages for the microsoft/windowsservercore base image available at Docker Hub.

As you replace the Windows Update layer on top of the base layer to minimize downloads, what about putting the language pack into these Windows Update layers so everybody pulls the 3,7GByte base image only once, regardless the language to be used.

`docker pull microsoft/windowsserv

[2016-11-12 22:21] ic3guy commented on #400
This entry covers another workaround http://stackoverflow.com/questions/40391896/cannot-launch-interactive-session-in-windows-iis-docker-container

docker run --entrypoint powershell -it -p 80:80 microsoft/iis

[2016-11-12 22:23] ic3guy commented on #400
Yes @rs38 the documentation is still incorrect. I only found the solution at http://stackoverflow.com/questions/40391896/cannot-launch-interactive-session-in-windows-iis-docker-container
definitely not obvious for a docker newbie.

[2016-11-13 10:30] rs38 commented on #400
the according PR is open for many days and stuck for unknown reasons :(
https://github.com/Microsoft/Virtualization-Documentation/pull/458

[2016-11-13 11:16] rs38 commented on #453
@enderb-ms  @PatrickLang
could it belong to this:
https://github.com/PowerShell/PowerShell/issues/2667

[2016-11-13 17:39] ic3guy commented on #400
Given that Docker containers for Server 2016 is still quite "bleeding edge", I don't mind the wait.

[2016-11-15 17:30] PatrickLang opened #481 "Clarify CredentialSpec file contents"
@mpwagne asked for some clarifications on CredentialSpec on https://github.com/docker/docker/pull/23389#issuecomment-260684838

- Do you have a good example of the structure of the file content itself?
- The doc doesn't seem to go into details of the full credentialspec value to use. Is this correct? docker run ... --security-opt credentialspec=file://gMSA_Prod.txt myimage powershell (and the gMSA

[2016-11-15 17:37] PatrickLang opened #482 "Sample needed for user authentication flow"
From https://github.com/docker/docker/pull/23389#issuecomment-260684838

"Does this feature help us with the opposite flow, inbound access to an iis app running in the container using windows auth for example? Or accessing a SQL server in a container using windows auth (mainly for local dev setup help)?"

We need to get samples showing user auth - with & without AD

[2016-11-15 19:18] kallie-b commented on #430
Great, I'm glad I could help!

@rs38 For now our best sources are these:

- [Container networking doc](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking#multiple-nat-networks)

- [Docker Compose and Service Discovery blog post](https://blogs.technet.microsoft.com/virtualization/2016/10/18/use-docker-compose-and-service-discovery-on-windows-to-scale-o

[2016-11-15 20:57] PatrickLang commented on #477
pinging myself as a test

[2016-11-15 20:58] PatrickLang commented on #477
with right syntax this time @patricklang

[2016-11-15 21:01] PatrickLang commented on #428
like this? http://blog.alexellis.io/3-steps-to-msbuild-with-docker/

[2016-11-15 21:05] PatrickLang commented on #428
I'm going to close this since there's not a specific issue that we need to fix. I hope those links help, and we're always open to PR's with new samples on this site and also at https://github.com/docker/labs

[2016-11-15 21:05] #428 closed

[2016-11-15 21:08] PatrickLang commented on #442
Yeah, TCP (with or without SSL) is the only way to access a Docker Engine from a Windows container. I looked briefly at registrator, and it looks like it does read DOCKER_HOST.

I'm closing this out since it's not tracking a specific doc issue. We're always happy to take PRs though if you want to add samples later at this repo or at https://github.com/docker/labs

[2016-11-15 21:08] #442 closed

[2016-11-15 21:14] PatrickLang commented on #366
We're not planning on tracking registry issues here, so I'm going to close this out. The [registry](https://hub.docker.com/r/library/registry/) v2 and higher support Windows container images. Issues are tracked at https://github.com/docker/distribution

[2016-11-15 21:14] #366 closed

[2016-11-15 21:16] PatrickLang commented on #369
If there are problems with the current version and docs - please go ahead and open a new issue. I'm closing this due to inactivity. Thanks!

[2016-11-15 21:16] #369 closed

[2016-11-15 21:19] PatrickLang commented on #370
Closing - we added a compose sample a few weeks ago. This lab is also excellent:
https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

[2016-11-15 21:19] #370 closed

[2016-11-15 21:21] PatrickLang commented on #234
Closing since this refers to old builds. If you have problems with Docker commands failing in the future, please go ahead and open a new issue at https://github.com/docker/docker since we have developers tracking Windows issues there too. Thanks!

[2016-11-15 21:21] #234 closed

[2016-11-15 21:25] PatrickLang commented on #205
That script shouldn't be needed anymore. The new installation steps don't set or require a scheduled task. I'll close this out

[2016-11-15 21:25] #205 closed

[2016-11-15 22:01] PatrickLang commented on #392
This was fixed in Windows updates, and clarified in the docs. Closing

[2016-11-15 22:01] #392 closed

[2016-11-15 22:14] PatrickLang commented on #228
Closing this out - we have images that are ready to run containers on Azure for both Windows Server

[2016-11-15 22:14] #228 closed

[2016-11-15 22:18] PatrickLang commented on #300
Closing - please try one of the links above

[2016-11-15 22:18] #300 closed

[2016-11-15 22:19] PatrickLang commented on #254
Closing - these workarounds were for TP5. Now you can use docker pull / docker save / docker load to handle images offline.

[2016-11-15 22:19] #254 closed

[2016-11-15 22:36] mud5150 opened #483 "Convert-WindowsImage"
The readme [here](https://github.com/Microsoft/Virtualization-Documentation/tree/master/hyperv-tools/Convert-WindowsImage) says this code is going to be moved to its own repo. The link to the new repo doesn't work and I'm not getting any response from the email address listed. Is this going to be moved? I'd like to be able to put in a pull request but wasn't sure what the plan is for this code.

[2016-11-16 23:29] kallie-b commented on #483
@mebersol -- Do you know who might be able to get this link fixed up?

[2016-11-17 21:00] eyem4usf opened #484 "How to get terminal into microsoft/iis container"
I've used the microsoft/iis image in a docker file that creates a site and copies files into the site's directory.  Whenever I run the container I get a 404 file not found.  I want to look into the container and see if something got messed up with the file copy.  I use the command:

docker run -it -p 80:8000 microsoft/iis:2.0

to run the container.  If I use the same command and put "cmd" or "powe

[2016-11-17 23:03] PatrickLang commented on #484
Right now that container doesn't have an interactive CMD or PowerShell prompt. Normally you could override and run that as `docker run -it -p 80:8000 microsoft/iis:2.0 cmd`, but the way the IIS image was created that's not possible. There's some more discussion over at:
https://github.com/Microsoft/iis-docker/pull/9

As a workaround, you can use `docker exec -it <containerid> cmd` to get an intera

[2016-11-17 23:46] PatrickLang opened #485 "Missing info: ReFS not supported"
See https://github.com/docker/docker/pull/25509

[2016-11-17 23:49] PatrickLang opened #486 "Missing info: Changing users"
See https://github.com/docker/docker/issues/28027

[2016-11-18 01:24] PatrickLang opened #487 "Debug-ContainerHost.ps1 should check for "Containers" role"
From https://github.com/docker/docker/issues/28327

This script should check that the Containers role is installed. Need a new check added
https://github.com/Microsoft/Virtualization-Documentation/blob/live/windows-server-container-tools/Debug-ContainerHost/Debug-ContainerHost.ps1

[2016-11-18 18:31] taylorb-microsoft opened #489 "Add Uservoice to container links"
https://windowsserver.uservoice.com/forums/304624-containers

[2016-11-18 18:42] PatrickLang commented on #434
@enderb-ms can you move this to the OneGet repo?

[2016-11-18 18:44] PatrickLang commented on #431
@enderb-ms can you take this?

[2016-11-18 18:50] PatrickLang commented on #319
Closing - those doc links look right

[2016-11-18 18:50] #319 closed

[2016-11-18 18:51] PatrickLang commented on #486
This should go into docker/docker if possible

[2016-11-18 18:51] PatrickLang commented on #485
This may need to go in Docker docs repo instead

[2016-11-18 18:55] PatrickLang commented on #484
@enderb-ms can you include example of getting command line as suggested?

[2016-11-18 18:56] PatrickLang commented on #427
@enderb-ms can you close this with a link to how to correctly set up DfW & VS?

[2016-11-18 18:57] PatrickLang commented on #398
Closing - known issue on older builds.

[2016-11-18 18:57] #398 closed

[2016-11-18 18:58] PatrickLang commented on #453
@enderb-ms can you see if anything needs to be done here or close if its resolved already?

[2016-11-21 09:47] InkUisitor opened #493 "Error when using Nano Server Image Builder"
Hello,
I don't know if it's the good place to talk about that program but I have a problem when I use this program in order to build a vhd for nanoserver. When I use the region French (France), i got the problem. Everything is right when I try with English (United States).
You will find the report created after the failure in attached.
[Report.wer](https://github.com/Microsoft/Virtualization-Docum

[2016-11-21 13:39] InkUisitor commented on #369
@PatrickLang @rs38 It works better with the last version of Windows Server 2016 and the updated soft. Just something wrong with Nano Server Image Builder. I opened ticket #493 for that. Thanks

[2016-11-22 12:22] dimitarivanov opened #494 "Service running inside of a container cannot participate in distributed transaction"
I am trying to migrate a .Net application to be deployed into containers. It consists of several Windows services, SQL Server and IIS websites. Currently, distributed transactions are used and for that reason it depends on MSDTC service running inside the container. Unfortunately, it seems that DTC is not functional inside containers because of problem with the BFE service.

I had set up a test co

[2016-11-22 19:06] gravufo opened #497 "Can't mount a volume if the folder already exists in the container"
I'm trying to create a container using a simple nginx image and I want to be able to mount the html folder to insert my own html pages. The same setup works on linux. When mounting a folder in a container and that folder already exists, it gets mounted on top (aka the previous one is "hidden" and the host folder gets mounted instead). There is no documentation on volumes specific to Windows on aka

[2016-11-22 23:03] StefanScherer commented on #497
The volume mounts in Windows container are only working with empty directories at the moment. So add eg. the following line to your `Dockerfile` before the `WORKDIR`:

[code]

Now you can run

[code]

[2016-11-23 04:21] #305 closed

[2016-11-23 05:39] paul-green opened #498 "svchost runs high CPU and never completes"
Hello,

I have Windows Server 2016 - Build 14393.rs1_release 160715-1616 running as a Hyper V machine.

I've installed docker version 14;
Client:
 Version:      1.14.0-dev
 API version:  1.26
 Go version:   go1.7.3
 Git commit:   e308f6b
 Built:        Tue Nov 22 18:15:55 2016
 OS/Arch:      windows/amd64

Server:
 Version:             1.14.0-dev
 API version:         1.26
 Minimum API version: 1.

[2016-11-23 21:40] gravufo commented on #497
It indeed worked. It would be nice if it had been documented instead of pointing to the official docker documentation where we assume that it works the same as linux.

Thanks for the support, though!

[2016-11-23 21:40] #497 closed

[2016-11-23 22:15] jhowardmsft commented on #497
@gravufo See https://github.com/docker/docker/pull/28778

[2016-11-24 04:26] friism commented on #498
@paul-green did you figure out what the problem was?

[2016-11-24 04:29] paul-green commented on #498
For some reason I had to manually install KB3200970 (http://www.catalog.update.microsoft.com/Search.aspx?q=KB3200970) to fix the issue. Neither sconfig/6/A nor using the Windows Update UI would detect that updates were needed.

[2016-11-24 04:29] #498 closed

[2016-11-24 05:38] paul-green commented on #498
....And the reason for that is (I just found out via some nifty registry monitoring) is that the place I work for has it's own Windows Update server - which hasn't got any of the updates for Server 2016 on it! D. O. H.!

[2016-11-28 13:22] rs38 commented on #489
This uservoice Container section is extremely outdated. Would be very useful to close or remove many of the uncommented voices that makes no sense after one year....

[2016-11-28 16:43] taylorb-microsoft commented on #489
@rs38 I agree - I'll try to do that this week before we add it to the docs

[2016-11-28 17:24] CaveJ opened #500 "Win10 1607 14393.447 + Docker 1.14 hangs"
Hello,
just like in issue 358, running `docker run -it microsoft/nanoserver cmd` in an elevated shell (PS or CMD) will just hang. Running `docker ps` in another elevated shell will hang, too. In the task manager, one CPU core is consumed to 100% (15% on a quad core with HT) by a process called _vmwp.exe_, while the rest of the system remains stable.

As the title says, I'm using Win10 Pro Version

[2016-11-28 17:44] jhowardmsft commented on #500
That certainly sounds like that very well known old issue which was fixed for GA. Are you certain you have the latest images as well? Can you, from an elevated PowerShell prompt:

- `docker inspect -f "{{.OsVersion}}" microsoft/nanoserver` and provide the output. It should be at least .447 and matching the host.
- Provide output of `docker info`
- Provide output of `docker version`
- Provide outpu

[2016-11-28 17:45] PatrickLang commented on #500
Can you try the script here? Log locations are also documented on this page too:
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/troubleshooting

For general support, we're focusing on the MSDN forums https://social.msdn.microsoft.com/forums/en-us/home?forum=windowscontainers, and using issues here for things that need documentation changes.

[2016-11-28 19:26] PatrickLang commented on #486
https://github.com/docker/docker/issues/28585 too

[2016-11-28 20:02] sterns commented on #500
Hey,

thanks for the quick reply. Here's the log messages you wanted, I'll go and try to set debug modes for client and server and see if I can get more out of it. The log at the end is from the computer startup. So far I haven't got any new log entries when calling `docker run`, but I'll keep an eye on it. If there's anything more you'd like to see or that might help you to help me, let me know.

[2016-11-28 20:13] PatrickLang commented on #493
Thanks for reporting - it looks like they're tracking problems with that tool [here on uservoice](https://windowsserver.uservoice.com/forums/295068-nano-server). Can you open an issue there? I don't think there is anything we can do in the documentation to work around this problem.

[2016-11-28 20:13] #493 closed

[2016-11-28 20:21] sterns commented on #500
I've created a post in the msdn forums:
https://social.msdn.microsoft.com/Forums/en-US/6314ccad-fe1f-4659-9c54-8ba539c84024/win10-1607-14393447-docker-114-hangs?forum=windowscontainers

[2016-11-28 20:22] jhowardmsft commented on #500
That looks OK.

Try doing `net stop docker`, then just run the daemon from a command line in debug mode with `dockerd -D`. That can get the daemon logs.

Next, clean out any containers you have: `docker ps -a` and `docker rm containerid`.

Then can you provide the output of `docker images -a`. If there are any images, do `docker rmi imageid` and/or `docker rmi imagename:latest` to get to a clean s

[2016-11-28 20:30] sterns commented on #500
Hm. Currently trying to follow your steps. He won't let me delete the image:

Error response from daemon: rename C:\ProgramData\docker\windowsfilter\e4fe42e794e835aaeb04bf7e72a10b5b47d1be965de501b865fcef6cb12761cf C:\ProgramData\docker\windowsfilter\e4fe42e794e835aaeb04bf7e72a10b5b47d1be965de
501b865fcef6cb12761cf-removing: Zugriff verweigert (access denied).

I had the same trouble when did the f

[2016-11-28 21:07] sterns commented on #500
Here's the log output in the debug daemon so far. The command is stuck just like before, the CPU usage now flips between 12% and 13%, which makes sense, given that it's using one of eight HT cores. I can't find anything suspicious in the log, though, but maybe there's something interesting in it for you. I'll call it a day and see if there's anything I can test or try tomorrow.

Cheers,
Stefan

[l

[2016-11-28 22:14] StefanScherer opened #502 "Debug-ContainerHost.ps1 does not show logs"
After working with a Win2016 Docker VM I saw a lot of errors in event log. I tried to extract them with the `Debug-ContainerHost.ps1` but got no messages, the csv files is also empty.

![bildschirmfoto 2016-11-28 um 22 58 37](https://cloud.githubusercontent.com/assets/207759/20688149/eab2717a-b5bf-11e6-8b09-4c18c5ea820f.png)

It seems that the dockerd in my VM is not registered to the EventLog ser

[2016-11-29 00:09] PatrickLang commented on #502
Hmm, I wonder if this is a recent bug. Did you create the service with `dockerd.exe --register-service` ? It should have created that regkey

[2016-11-29 05:20] StefanScherer commented on #502
I've started the available Win2016 Datacenter + Containers VM template in Azure, then copied the script [update-docker-rc.ps1](https://github.com/StefanScherer/docker-windows-box/blob/master/swarm-mode/scripts/update-docker-rc.ps1) into a PowerShell terminal to update to 1.13.0-rc2. But this script only stops and starts the service.
I haven't checked if the previous version of dockerd was correctl

[2016-11-29 08:37] InkUisitor commented on #493
@PatrickLang Thanks for the link ;)

[2016-11-29 18:51] PatrickLang commented on #502
@enderb-ms can you look at this?

@friism have you seen any issues like this?

[2016-11-30 00:26] enderb-ms commented on #502
@StefanScherer You're right that the issue is that docker is not registered in the EventLog service. You can extract the event logs by creating a file called "docker-events.reg" with these contents:

`Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\EventLog\Application\docker]
"CustomSource"=dword:00000001
"EventMessageFile"="C:\\Program Files\\docker\\d

[2016-11-30 17:24] dschilling commented on #355
I was having this same issue.  I have Symantec Endpoint Protection - and it's password protected so I can't uninstall or change it's exclusions.  However, the problem went away after I upgraded to Docker 1.14!  https://master.dockerproject.org/windows/amd64/docker-1.14.0-dev.zip

    PS C:\WINDOWS\system32> docker version
    Client:
     Version:      1.12.1
     API version:  1.24
     Go versio

[2016-11-30 18:19] jplonghi commented on #355
@dschilling do you have instructions or link on how to perform the upgrade?

[code]

[2016-12-01 01:27] artisticcheese opened #504 "Can Microsoft stop emphasizing using docker command line vs Powershell"
Bearing in mind there is perfectly usable Powershell cmdlets in dealing with containers, why all Microsoft samples and tutorials are emphasizing using docker executable instead. Not sure what will be the advantages of using archaic interface compared to nicely built fully complaint powershell cmdlet. I understand underlying is just REST calls back to docker but powershell interface samples shall b

[2016-12-02 01:39] PatrickLang commented on #494
Thanks for reporting the issue! I'm sorry that you ran into this problem, and thanks for sharing the code that shows the problem. I dug into this, and we don't have MSDTC working right in containers. The documentation needs to have a clear list of roles that work / don't work. I'll keep this open until the docs have that list available.

[2016-12-06 08:50] renerchen opened #508 "How to install software base on microsoft/windowsservercore"
I want to build a docker image base on microsoft/windowsservercore with installing some software.  Fistly I run docker command :
 docker run -ti microsoft/windowsservercore cmd
then I enter container and execute xxx.exe, it doesn't work.
why?

[2016-12-06 09:13] SleeperSmith commented on #504
+1

[2016-12-06 16:59] artisticcheese commented on #504
Example below. How to delete all running containers? Searching Internet provides some examples how to do it from bash etc with bunch of obscure switches etc. Anybody knowing powershell will come up with answer below without even going to any documentation. Not only that but anybody who can basic computer skill will probably figure out what syntax doing below unlike docker based commands. We went o

[2016-12-06 17:50] friism commented on #504
This works fine in PowerShell and in Bash: `docker rm $(docker ps -aq)`.

[2016-12-06 17:56] StefanScherer commented on #504
I just had an interesting discussion about Docker CLI vs. PowerShell bindings here at `#msts2016` - I think there will need for both. Windows admins using and having understood PowerShell, and others that really are used to the Docker CLI, coming from Mac/Linux (and Windows) and using it for all their platforms.

[2016-12-06 17:57] artisticcheese commented on #504
Yes it works in both cases just fine. Question is why 90% of Microsoft documentation relies on docker.exe for container management instead of Powershell. This will be pretty steep dislearning curve for any Powershell programmer go back to try to figure out all the switches and parameters for docker.exe as opposed with essen

[2016-12-06 17:58] StefanScherer commented on #508
Do you have a `Dockerfile` to share? Something like

[code]

[2016-12-06 19:18] PatrickLang commented on #504
I don't think we can move everything to PowerShell only because we also have people familiar with Docker but not PowerShell. Do you have any suggestions on how to balance both? Would having duplicate documents or samples be confusing?

[2016-12-06 19:25] artisticcheese commented on #504
Well I don't know how to fix the issue but current setup where all samples/documentation/demos are almost entirely based on command line is detrimental in learning. MSDN frequently for .NET samples provide documentation in 3 different languages (VB.NET, C#, F#).  So probably providing examples in Powershell will fix the gap but as you said, but it will be more confusing. In genral I'd prefer reall

[2016-12-06 21:18] PatrickLang opened #509 "Update Debug-ContainerHost & docs to check ACLs"
Per https://github.com/docker/docker/pull/28274, the `c:\programdata\docker` folder should have a specific ACL `D:P(A;OICI;GA;;;BA)(A;OICI;GA;;;SY)` set. If someone used an older version of dockerd.exe, then this ACL could be wrong. The Debug-ContainerHost.ps1 script and docs should show everyone how to fix it.

[2016-12-07 00:23] PatrickLang commented on #504
How do you feel about pages with language switchers like this?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy

[2016-12-07 00:28] PatrickLang commented on #508
@renerchen have you looked at the samples in this repo such as https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-container-samples/python ?

[2016-12-07 01:40] artisticcheese commented on #504
Yes, this will work or it can be done in tabs like MSDN does instead of line by line like below.

https://msdn.microsoft.com/en-us/library/windows/apps/system.io.windowsruntimestreamextensions(v=vs.105).aspx

[2016-12-07 02:36] renerchen commented on #508
@PatrickLang I had read the windows-container-samples. For example, the python Dockerfile is:

FROM microsoft/windowsservercore
LABEL Description="Python" Vendor="Python Software Foundation" Version="3.5.1"
RUN powershell.exe -Command \
    $ErrorActionPreference = 'Stop'; \
    wget https://www.python.org/ftp/python/3.5.1/python-3.5.1.exe -OutFile c:\python-3.5.1.exe ; \
    Start-Process c:\pyth

[2016-12-07 02:36] jabbera commented on #355
@jplonghi if you figure that out let me know please.

[2016-12-07 03:09] friism commented on #508
@renerchen if the software doesn't have a silent or quiet way to install, it's probably going to be hard to install in a Dockerfile.

For inspiration on whether a particular piece of software has quiet installer, Chocolatey is a great resource: https://chocolatey.org/

[2016-12-07 05:33] StefanScherer opened #510 "Windows 10, translated docs still show 1.13.0-dev.zip"
It seems that the translated docs are still lagging behind. For example the page

https://msdn.microsoft.com/de-de/virtualization/windowscontainers/quick_start/quick_start_windows_10

still shows the installation steps for 1.13.0-dev.zip which is no longer downloadable.

The original page

https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10

already

[2016-12-07 05:37] StefanScherer commented on #355
To download the latest zip file have a look at https://msdn.microsoft.com/en-us/virtualization/windowscontainers/docker/configure_docker_daemon#manual-installation

[2016-12-07 05:48] StefanScherer commented on #508
@renerchen You are lucky as there already is an official python Docker image for Windows. So you don't have to care about how to install such runtime Have a look at https://hub.docker.com/_/python/ and there at all the windowsservercore (and maybe nanoserver) tags.

So your example would look like

[code]

You can manage your Python sources on your host to put it into source control and COPY deplo

[2016-12-08 04:03] renerchen opened #511 "Could not establish trust relationship for the SSL/TLS secure channel in windows container"
I have got a windows image with Chocolatey. Because behind a proxy , so  firstly I set the proxy as following：
  choco config set proxy http://xxx:port
  choco config set proxyUser 'xxx'
  choco config set proxyPassword 'xxx'

Then I install winrar， it works！
When I install python， it has the error：
C:\>choco install python --force
Chocolatey v0.10.3
Installing the following packages:
python
By in

[2016-12-08 06:34] StefanScherer commented on #511
It seems you have a certificate installed on your host for that proxy.
Adding a pfx cert in a VM I have used this code
[code]

Haven't tried this inside a container, but I thinks you need something like that to add the cert to the trusted store.

[2016-12-08 12:47] renerchen commented on #511
@StefanScherer  I had import cer with the fowllowing commands：

 $file = (Get-ChildItem -Path C:\test\software\CER\AddTrust.cer)
 $file | Import-Certificate -CertStoreLocation cert:\localMachine\Root
 $file = (Get-ChildItem -Path C:\test\software\CER\goDaddyClass2.c
 $file | Import-Certificate -CertStoreLocation cert:\localMachine\Root

It doesn't work！

[2016-12-08 18:02] philofinfinitejest commented on #355
I am getting the same behavior with version 1.14

**Version**

Client:
 Version:      1.14.0-dev
 API version:  1.26
 Go version:   go1.7.3
 Git commit:   e308f6b
 Built:        Tue Nov 22 18:15:55 2016
 OS/Arch:      windows/amd64

Server:
 Version:             1.14.0-dev
 API version:         1.26
 Minimum API version: 1.24
 Go version:          go1.7.3
 Git commit:          e308f6b
 Built:

[2016-12-08 18:04] jabbera commented on #355
I had to uninstall SEP

[2016-12-08 19:15] jplonghi commented on #355
Upgrade to 1.14.0-dev, but still the problem

[code]

[2016-12-09 21:21] gickis commented on #355
Please share any information how to deal with this issue. I can't uninstall symantec by corporate policy.

[2016-12-12 13:40] Bhargav108 commented on #355
It didn't worked even after uninstalling Symantec Endpoint Protection.
Kindly share any information how to deal with this issue.

[2016-12-12 15:21] werwolfby commented on #355
The same for me, it doesn't work

[2016-12-13 18:06] masoud-al commented on #355
Same problem here, but Unfortunately I cannot disable or uninstall the Antivirus in the my Corporate laptop.

Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 1.13.0-rc3
Storage Driver: windowsfilter
 Windows:
Logging Driver: json-file
Plugins:
 Volume: local
 Network: l2bridge l2tunnel nat null overlay transparent
Swarm: inactive
Default Isolation: hyperv
Kernel Version:

[2016-12-13 18:57] m-kostrzewa opened #516 "HNS Delete+Create transparent network"
Hello,

I encountered an issue with HNS when working with hnsshim, here's the original issue: https://github.com/Microsoft/hcsshim/issues/95 . I replicated it using powershell so it seems like a problem with HNS itself, so I'm posting it here.

Deleting a HNS network and then creating another one immediately after doesn't work:

[code]

It also seems that it only occurs with *transparent* networks

[2016-12-15 16:43] ecornell commented on #355
Same issue here and I have Symantec SEP (12.1.7004.6500) installed.  Its a work laptop, so I can not uninstall the antivirus solution.

--

`λ docker pull microsoft/nanoserver
Using default tag: latest
latest: Pulling from microsoft/nanoserver
bce2fbc256ea: Extracting [==================================================>] 252.7 MB/252.7 MB
10bf725c5388: Download complete
failed to register layer: r

[2016-12-16 08:55] m-kostrzewa commented on #516
[code]
PS C:\go_workspace\src\github.com\codilime\contrail-windows-docker\tests> Get-NetAdapter                                                                                                                                                      Name                      InterfaceDescription                    ifIndex Status       MacAddress             LinkSpeed
----                      ---------

[2016-12-16 23:20] PatrickLang commented on #516
I think that other repo was the right place. This issue tracking is for Hyper-V and container documentation, not code bugs. If there's a bad sample or doc in this repo, please reopen the issue and link to it. Thanks!

[2016-12-16 23:20] #516 closed

[2016-12-17 15:28] aadennis commented on #355
I am also getting the "...cannot access the file..." message. I have had the same symptom on 1.12, 1.13, and now the manual download of the latest 1.14:
![image](https://cloud.githubusercontent.com/assets/11707983/21287852/ae5a8472-c46c-11e6-967a-314df351b801.png)

![image](https://cloud.githubusercontent.com/assets/11707983/21287845/86315232-c46c-11e6-9e5f-37294598bc3e.png)

![image](https://clou

[2016-12-19 16:16] viertaxa commented on #355
I am also experiencing this issue running the latest Windows 10 build with the 1.13-RC3 build of Docker. I am only running Windows Defender. I've tried adding exclusions for all of the docker related folders I could find on the system.

[2016-12-19 19:43] heynickc opened #520 "Windows Server 2016 on Azure cannot start docker service via build script"
Hello,

I've been dealing with an issue in a scenario where we are using Docker inside of a TeamCity build agent to run integration tests.  TeamCity deploys VMs from SysPrep'd VHDs, for which I've set up a base image that has Windows Server 2016 Containers, Docker running, base images installed, etc. everything working fine when RDP'd into the VM.

The issue happens when a new VM is deployed for t

[2016-12-19 21:10] tnedrow commented on #355
I also was able to install only after removing Symantec Endpoint Protection.

[2016-12-19 23:31] PatrickLang commented on #509
In testing:
[code]

[2016-12-20 10:45] shadercode commented on #355
I am also running docker version 1.14.0-dev with no success, after trying 1.13.  I have Symantec Endpoint Production as well, and I cannot disable it.  Even if I could, corporate VPN would block my access due to bad "posture".  I have tried disabling Auto-Protect, which it _appears_ to let me do.  Nothing works.  I cannot kill the symantec processes.  I have spent an entire day trying to get a con

[2016-12-20 15:50] viertaxa commented on #355
After updating to the latest beta that got pushed out today, I am receiving the following message:

failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilter\de4364db28f6e9c930804ce9896afb260cd6432616657c48a82a89469d1dca5d\UtilityVM: The parameter is incorrect.

[2016-12-20 18:34] PatrickLang commented on #510
Unfortunately the localized docs will be out of date for a few more weeks. We're making some adjustments on the publishing backend and they'll start updating those docs once it's completed early next year.

[2016-12-20 18:36] PatrickLang commented on #478
Forgot I left this open. The docs point to v1.13-rc4 now

[2016-12-20 18:36] #478 closed

[2016-12-20 18:39] PatrickLang commented on #411
The current steps make a change in the current PowerShell session, and also apply it to the system. This prevents the need to start a fresh PowerShell session or logout for it to take effect.

[code]

[2016-12-20 18:46] jouniheikniemi commented on #411
At least @dongyuzheng and @PatrickLang seem to have misread my original report. I wasn't complaining about why there are two separate path additions - that is obvious and necessary.

My original point still stands: The system environment path gets Docker directory added twice (i.e. my path ends with "c:\program files\Docker;c:\program files\Docker" which is both ugly and harmful from a perf standp

[2016-12-20 18:48] jouniheikniemi commented on #411
On second thought, I would like to point out that my secondary comment of getting the system path before setting it also has merit, and hence my "obvious fix" is probably the wrong thing to do. The current approach can accidentally hoist other process-level path changes to system configuration. The user isn't probably intending to commit those to permanent use.

[2016-12-20 18:51] PatrickLang commented on #411
Oh yes, you're right. I misread that. I'll fix it. Thanks!

[2016-12-20 19:18] PatrickLang commented on #411
PR created and open for review

[2016-12-21 00:17] geethaRam commented on #214
Got really excited when docker announced windows compatibiloty to be able to implement the use case listed this requezt. It is really a pain area to maintain the test infra for ui tests. Just when aws ecs announced beta support for windows, i started to dig this deeper since the possibility of solving this problem is much higher. It is so unfortunate to have to realize that this is not supported,

[2016-12-21 00:32] PatrickLang commented on #214
Can you share this feedback on the User Voice site? We're using it for tracking and gathering feature requests and comments. 
https://windowsserver.uservoice.com/forums/304624-containers

[2016-12-21 00:34] PatrickLang commented on #411
Alright, just merged fix. It's on its way through the publishing pipeline.

[2016-12-21 00:34] #411 closed

[2016-12-21 01:14] gsmachado commented on #214
I  created an "idea" in the forum related to this issue/thread:
https://windowsserver.uservoice.com/forums/304624-containers/suggestions/17506354-provide-an-internet-explorer-docker-container-ena

Please, if people here could provide some comments/feedback it would be also great. Don't  forget to up vote it. :-)

[2016-12-21 12:22] StefanScherer commented on #510
No problem. So if you are tracking this internally it's also fine to close this issue.

[2016-12-22 18:14] anweiss opened #523 "Issue executing Windows auth requests in ASP.NET app in container with gMSA"
Configuring service accounts with a Windows container per https://github.com/Microsoft/Virtualization-Documentation/blob/live/windows-server-container-tools/ServiceAccounts/README.md. All tests complete successfully, but getting error when a user attempts to login to the ASP.NET app (have replaced the actual FQDN/domain and container hostname with placeholders):

[code]

The host is domain joined.

[2016-12-22 18:15] anweiss commented on #523
@StefanScherer ^

[2016-12-22 18:57] JimMullennix commented on #523
More details:
NLTEST results from container host which hosts same asp.net app properly:
PS C:\> nltest /parentdomain
domain.local. (1)
The command completed successfully
PS C:\> nltest /dclist:domain.local
Get list of DCs in domain 'domain.local' from '\\DOMAIN-DC.domain.local'.
    DOMAIN-DC.domain.local [PDC]  [DS] Site: Default-First-Site-Name
The command completed successfully
PS C:\> nltest /

[2016-12-22 18:58] JimMullennix commented on #523
Same tests run from inside the container:
PS C:\> nltest /parentdomain
domain.local. (1)
The command completed successfully
PS C:\> nltest /dclist:domain.local
Get list of DCs in domain 'domain.local' from '\\DOMAIN-DC.domain.local'.
    DOMAIN-DC.domain.local [PDC]  [DS] Site: Default-First-Site-Name
The command completed successfully
PS C:\> nltest /whowill:domain.local test
Cannot write netlogo

[2016-12-22 19:02] JimMullennix commented on #523
Also:  I have successfully connect to a SQL Server using the gMSA within the ASP.NET application when running with anonymous authentication.  The app doesn't care who the user is on the home page, and it successfully retrieves data from the database.  This seems to indicate that the Group Managed Service Account at least works for the SQL Server authentication scenario documented in this GitHub Re

[2016-12-22 19:03] JimMullennix commented on #523
PS.  I am working with anweiss.  We are discussing the same issue.

[2016-12-22 19:54] philb32 commented on #355
I had the same problem on Windows 10 Pro, but disabling McAfee active scanning solved it. Before was getting this :
PS C:\Users\philb\tmp> docker build -t penv/1.0 .
Sending build context to Docker daemon 3.072 kB
Step 1/3 : FROM microsoft/nanoserver
latest: Pulling from microsoft/nanoserver
bce2fbc256ea: Pull complete
10bf725c5388: Extracting [==================================================>]

[2016-12-22 21:10] StefanScherer commented on #523
I really like to see this work, but I also just started with the service accounts docs recently.
I think that this is not possible right now to do the authentication inside a container.

[2016-12-23 13:01] JimMullennix commented on #523
That is extremely disappointing.  This scenario is a major one for the "lift & shift" of applications into Windows Containers.  Most ASP.NET applications running on-premises, utilizing Integrated Windows Authentication (the prevailing method for legacy on-premises ASP.Net business applications) would run in a container unmodified if Windows Authentication worked.  Having to modify the code to util

[2016-12-23 13:37] jabbera commented on #355
I've been upgraded to SEP 14.0.1904.0000 and all seems well.

[2016-12-27 15:23] xied75 opened #524 "Two issues of IIS Express v10 on microsoft/windowsservercore:10.0.14393.576"
I was trying to install IIS Express v10 on the latest (as of 27/12/2016) windowsservercore image:

[code]

Then looking at the installation log, we got errors like this:

[code]

But on a pretty old TP5 image we don't have this, instead the log look like this:

[code]

After looking at the msi with Orca, if I run manually:

[code]

So this is issue one, that we got incomplete install of IIS Expres

[2016-12-27 19:50] friism commented on #524
@xied75 the `Web-WHC` is probably a change in default from TP5, you should add it as part of the Dockerfile if you need it.

I can repro the msi problem. It doesn't look like there's an MSI parameter to turn of that feature.

cc @PatrickLang

@xied75 out of curiosity, why are you wanting to run IIS express vs. full IIS (for which there are Microsoft-maintained base images).

[2016-12-27 20:45] viertaxa commented on #355
Just applied the latest cumulative update to my machine from MS. Ran the following:

failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilter\ae244b2b50fe6431bc1abc947283994b6c7b2b00891960fcdce0e7c609e94933\UtilityVM: winapi error #3489661090

[2016-12-28 00:06] StrongMonkey commented on #430
Will Docker Swarm support the following features for Windows Server 2016 in the **future**?
1. Service-discovery on multiple host for both nat and transparent network mode.
2. Overlay-Network

[2016-12-28 08:00] StefanScherer opened #525 "Proposal: Shorter link to Debug-ContainerHost.ps1 script"
Just an idea as I can't remember the whole link to the `Debug-ContainerHost.ps1` script. What about a shorter link that forwards to the GitHub download link?

[code]

Preview:

<img width="1141" alt="bildschirmfoto 2016-12-28 um 08 58 33" src="https://cloud.githubusercontent.com/assets/207759/21517060/17e5266e-ccdc-11e6-8fb4-876d39636a90.png">

[2016-12-28 12:07] eliassal opened #526 "No Gateway attributed when doing inspect container"
Hi, I spin a container (docker on win 10, not win for docker), container gets up and running and can access it in the browser using its internal IP. I did a
Docker inspect mycontainer
I don't see that it has a gateway as you can notice in the details hereunder, is this normal?

Networks": {
   "nat": {
       "IPAMConfig": null,
       "Links": null,
       "Aliases": null,
       "NetworkID": "c5

[2016-12-28 12:48] kolbasik commented on #453
It does not work for me as well. I have attached the NanoServer to Hyper-V and tried to install docker inside of it:
[code]
[code]

[2016-12-28 14:08] hmdhasani commented on #356
@erichexter which version solved your problem? I have the exact same problem and did not fixed on 12.5 or even 13.0.-rc4

[2016-12-29 22:44] PatrickLang commented on #356
I'm going to close this issue out as the original report was on the technical preview.
@hmdhasani can you start a thread with the error you're hitting on https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers ?

I think it would also be worth trying to match the version of the container to that of the host. eg: if `(Get-ComputerInfo).WindowsBuildLabEx` returns ...14393.576, tr

[2016-12-29 22:44] #356 closed

[2016-12-29 22:51] PatrickLang commented on #453
I'm setting up a Nano based cluster tomorrow, I can give it a try then

[2016-12-29 22:53] PatrickLang commented on #526
Can you `docker exec ... ipconfig /all` for the container and see if Windows reports a gateway or not? I think this will probably need to be filed at https://www.github.com/docker/docker/issues

[2016-12-29 23:06] PatrickLang commented on #525
Got PR #527 open. The aka.ms link is live, can you give it a try?

[2016-12-29 23:22] PatrickLang commented on #523
From my understanding this should be possible, but I don't have a sample written up yet. I have another team that's working on a proof of concept and I'll see what their progress is.

[2016-12-29 23:52] rs38 commented on #453
Albert Einstein said: "the definition of insanity is doing something over and over again and expecting a different result" :sunglasses:

[2016-12-30 08:42] StefanScherer commented on #525
Tried it with the https link and it works fine! Thank you.

[2016-12-30 11:57] eliassal commented on #526
Here is the output of 2 machines
- **Docker inspect details**

- **ipconfig Details**

Here is the details for the 2nd machine
- **docker inspect details**

- **ipConfig details**

[2016-12-30 14:09] JimMullennix commented on #523
Thank you.  Getting this figured out will be a significant boost for our efforts.

[2016-12-30 18:33] PatrickLang commented on #525
Done. Thanks!

[2016-12-30 18:33] #525 closed

[2016-12-30 20:17] PatrickLang commented on #453
Alright, I definitely got confused on this one. `Invoke-WebRequest` was missing on some older builds (TP5 and maybe UBR < 206?). It's there now, and you're right it doesn't work with the missing content-type headers.

I'll add an alternate step to the [manual install steps](https://github.com/Microsoft/Virtualization-Documentation/blob/live/virtualization/windowscontainers/manage-docker/configure-

[2016-12-30 21:16] PatrickLang commented on #453
Here's an interesting workaround - thoughts?

Temporary hack - update to Docker master branch
[code]

[2016-12-31 09:26] StefanScherer commented on #453
Another way is to use the release candidate, this download works in Nano Server with `Invoke-WebRequest`

[code]

[2017-01-03 08:01] johnvanloon commented on #355
As said in https://github.com/docker/for-win/issues/363 I'm also getting this error. Tried with Docker 1.13 and 1.14.
At the time I'm getting the error in docker I'm also getting a error on hpdskflt (see other issue for details) and I'm getting a warning in the event viewer:

An error was detected on device \Device\Harddisk1\DR2 during a paging operation.

[2017-01-03 13:09] xied75 commented on #524
@friism I went back to TP5 and checked, there is no WHC enabled there. So it's something else. In any way IIS Express should work by itself without rely on some magic components, nothing mentioned in its documentation for this.

Regarding the msi problem, it does not affect the website running; the compatibility database is just a bunch of HKLM keys, but it might worth finding out why it doesn't w

[2017-01-03 19:00] PatrickLang commented on #524
Ping @shirhatti - do you know someone that could help with this one? I'm not familiar with IIS Express. We should get a code sample published in this doc repo

[2017-01-03 20:16] PatrickLang commented on #526
Yeah, that's definitely a Docker bug. Can you file this in https://www.github.com/docker/docker/issues ? I can't find a matching issue there.

Thanks!

[2017-01-03 20:46] eliassal commented on #526
Done Patrick

[2017-01-03 22:05] PatrickLang commented on #477
The current heuristic to calculate the size of the utility VM (--isolation=hyperv) is <configured memory for the container> + 256 MB, rounded up to the next full 512 MB. For a container setting of 512 MB this turns out to be 1 GB, which is also the default if you don’t specify a memory setting.

[2017-01-04 01:48] josephgardner opened #529 "Can't start docker service on windows server VM"
I'm moving this issue from docker/for-win#365 as instructed by @friism.

I also ran the script to reset the networking, and it said completed. This is the debug output from running the service after a restart

[code]

[2017-01-04 01:55] PatrickLang commented on #529
Ping @JMesser81 who was updating these scripts

[2017-01-04 09:50] StefanScherer commented on #502
Fixed with #503

[2017-01-04 09:50] #502 closed

[2017-01-04 19:12] scooley commented on #510
Updating to say we are working on this (keeping localized content in sync with en-us).

Thank you, @StefanScherer

[2017-01-05 22:43] PatrickLang commented on #523
I'm still trying to get some answers on this. I have someone internally that's trying to get a sample working with user authentication & authorization

[2017-01-09 06:58] JanneRantala commented on #355
I'm also having the same issue. Everything was working fine few weeks ago, I didn't update Docker or anything and then suddenly last week I started getting this error. Tried updating Docker to 1.13.0-rc4 with no luck.

[2017-01-10 07:23] JanneRantala opened #530 "Docker pull fails"
Hi,

I've faced an issue when trying to build or pull images since last week. I was on a holiday for couple of weeks and before I left, everything was working just fine. But now, I can't pull base images anymore or create new images.

When pulling for example microsoft/nanoserver, I'm getting this error
`$ docker pull microsoft/nanoserver
Using default tag: latest
latest: Pulling from microsoft/na

[2017-01-10 19:06] PatrickLang commented on #523
Still waiting on my side. Hope to have more details soon

[2017-01-10 19:20] PatrickLang commented on #529
Ping @JMesser81 @kallie-b should the script fix this? This issue was opened after the last PR from Jason

[2017-01-10 21:20] PatrickLang commented on #520
If you update to a recent KB (November or later), then the Headless fix is already included. You don't need to change any regkeys.

Have you tried this with a new KB yet? If so, please post the updated Debug-ContainerHost.ps1 output so we can check it out.

There's also a chance that you're missing the containers role since that regkey is missing. See #487 for a bug in Debug-ContainerHost.ps1

Tha

[2017-01-10 22:33] kallie-b commented on #529
Ping @viaror -- do you see what could be going wrong here?

And just to be thorough, you should restart your machine right after running this script. Have you been doing that?

[2017-01-10 22:36] josephgardner commented on #529
Yes I ran the script, rebooted as it suggested, and ran dockerd to get that output.

[2017-01-10 23:31] viaror commented on #529
can you share me the output of below cmdlets:-
get-vmswitch
get-netnat
get-containernetwork

[2017-01-10 23:31] viaror commented on #529
@josephgardner

[2017-01-11 00:41] josephgardner commented on #529
@viaror, thanks for the reply. Those each return no response:

[code]

[2017-01-11 01:54] viaror commented on #529
can you please take the back up of file C:\ProgramData\Microsoft\Windows\HNS\HNS.data, then rune below commands:-

net stop hns
del C:\ProgramData\Microsoft\Windows\HNS\HNS.data
net start hns

Please let me know, if this resolve the issue.

[2017-01-11 02:28] josephgardner commented on #529
[code]
Now if I run dockerd:

[code]

So then I have to kill it with `ctrl+c` and I get this

[code]

If I run dockerd again:

[code]

[2017-01-11 10:58] Guelbud opened #533 "container with Hyper-V isolation and static IP address"
Hi,

I'm having an issue when I try to run a container with hyper-v isolation and a static IP address in a vLAN doing DHCP. When I enter the command :

`docker run -it --ip 10.XX.YY.ZZ --network vSwitch01 --isolation hyperv --name static_ip_test microsoft/windowsservercore`

And I try to ping `10.XX.YY.ZZ` from another machine while launching the previous command, it pings for a moment, but then,

[2017-01-11 18:36] PatrickLang commented on #533
@kallie-b can you help with this one? Is there a VLAN sample posted?

[2017-01-11 18:41] kallie-b commented on #533
Checking on this...

[2017-01-11 19:38] #487 closed

[2017-01-12 13:52] fungos commented on #355
Same here. 1.13 and 1.14-dev. Disabling SEP does not work.

[2017-01-13 21:48] DSakura1987 opened #534 "IP assigned to container but is not shown when inspected"
Hello,

I am working on containerizing some of our services. Today I tried to create Redis node in docker. I used a transparent network. When the node runs, it has IP assigned but when I inspect the container, the container does not have an IP.

I noticed that the network does not have IP range and mask, but it can work. Do I need an IPAM for it?

Besides, I can ping it from the host, but not on a

[2017-01-13 22:12] kallie-b commented on #529
Ping @viaror -- making sure this reply is still on the radar :)

[2017-01-14 01:09] kendrahavens commented on #181
Related issue requesting a timeline for this fix: https://github.com/Microsoft/aspnet-docker/issues/13

[2017-01-17 12:12] gaurarpit12 commented on #520
I am trying to run a docker command from VSTS 2017 on Windows Server 2016 Azure machine, under the "Run a Docker Command" build step.
But I am getting the following error :-

error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.25/containers/json?all=1: open //./pipe/docker_engine: Access is denied.

Please help me out with that.

[2017-01-17 19:00] johnvanloon commented on #355
Tried the workaround in https://github.com/docker/for-win/issues/292#issuecomment-266816403 . No luck, still having the same problem.

[2017-01-17 19:36] PatrickLang commented on #520
ping @glennc do you have any resources on building from VSTS?

[2017-01-18 01:28] shanselman commented on #477
Ping...hit the limit today @PatrickLang

[2017-01-18 18:20] drnybble commented on #355
Tried with the latest 1.14-dev and it did not help. Tried disabled SEP 12.x and Windows Defender, no luck. This is a major blocker! How to get some attention for this issue...

[2017-01-18 18:40] PatrickLang commented on #520
@glennc has done demos using VSTS to build in containers, and also build container images

Here's his session from the MS Ignite event:
https://myignite.microsoft.com/videos/3122

[2017-01-18 23:44] philb32 commented on #355
For what it's worth, I just upgraded from Docker 1.13.0-rc4-beta34 to
1.13.0-rc7-beta37 on Windows 10 pro, and it still seemed to be working ok.
Then I enabled McAfee realtime scanning again and tried 'docker build ...'
which failed with 'Access is denied' error, disabled McAfee realtime
scanning and 'docker build ...' worked ok. So it is definitely the McAfee
software which is preventing docker f

[2017-01-19 02:07] philb32 commented on #355
Try using sysinternals procmon to see exactly what the problem is ... maybe
will help ...

On 18 January 2017 at 23:44, Philip Boucherat <philb32@googlemail.com>
wrote:

[2017-01-19 14:52] drnybble commented on #355
I did use ProcMon, I couldn't see any obvious errors.

[2017-01-19 22:32] adrianvillanueva commented on #355
I'm having the same issue.

Software Versions:
Windows 10.0.14393
SEP 12.1.7004.6500
Docker 1.13.0-rc7-beta37 (9733)

Has anyone tried SEP 14?  According to [https://support.symantec.com/en_US/article.TECH235458.html](url), "Symantec Endpoint Protection 14 is fully supported on Windows 10 Anniversary Edition and Windows Server 2016".

Additionally, "To use Symantec Endpoint Protection 12.1 RU6 MP6

[2017-01-20 14:11] gaurarpit12 commented on #520
@PatrickLang he has used linux environment there. But I am using Windows environment.
I don't have much idea of Linux, so help me with that.

[2017-01-20 14:59] drnybble commented on #355
I have downloaded and installed the trial version of SEP 14 onto a clean Server 2016 VM. I am able to pull docker images without error. It does not appear that docker needs to fix anything but that you must be running the latest version of your AV software (or hound them to fix the problem).

[2017-01-20 18:02] JanneRantala commented on #355
@drnybble I have also been able to install Docker on Windows Server 2016 but that still doesn't help me with issue on my development machine. I'd really like that Microsoft would tell what is the real issue with Docker on these pull/load/build problems and what we should do about those.
And btw, I'm using McAfee on both Windows 10 and 2016 server (corporate policy, not that easy to remove ) and I

[2017-01-21 15:52] JanneRantala commented on #530
My setup is Dell XPS 15, 1TB NVMe SSD, TPM enabled, running Windows 10 Anniversary Edition with latest updates. McAfee Agent version 5.0.3.316, McAfee VirusScan Enterprise + AntiSpyware Enterprise version 8.8.0 (8.8.0.1445). Is there anything else I should check, @StefanScherer?

[2017-01-22 02:44] artisticcheese opened #547 "credentialspec.psm1 module shall respect "graph" settings in docker"
If docker is configured to store images in alternative location via "graph" settings. For example ` "graph": "d:\\images",` then CredentialSpec module shall respect that and put resulting credentialspec file in proper location. Right now it puts it in default location of `C:\ProgramData\Docker\CredentialSpecs`

[2017-01-22 16:26] StefanScherer commented on #530
Thanks @JanneRantala. Enough information right now for me. I'll try to get a Win10 machine next week, I think we also have McAfee at work.

[2017-01-22 16:54] friism commented on #530
@JanneRantala Did you try disabling McAfee - many people are reporting problems with anti-virus software.

[2017-01-22 17:33] JanneRantala commented on #530
@friism That's the problem, I can't disable that because of a corporate policy. Even if I could, is that really a proper solution for this? I mean even if it would help, people can't just go and disable their antivirus for good to get Docker working? And does it still doesn't explain why it was working fine for couple of months? I really don't know, that's why I'm asking.

[2017-01-22 17:38] JanneRantala commented on #530
@friism Would it help if I try to get Docker's folder excluded in McAfee's scans?

[2017-01-22 18:00] StefanScherer commented on #530
That might help. If you can try this would be good.

[2017-01-22 18:13] JanneRantala commented on #530
@StefanScherer I can always ask if security department is willing do that :) Also noticed that there's newer version of McAfee's VSE which is supposed to support Windows 10's Anniversary Edition. I'm trying to get that updated too. Hopefully one of those helps.

[2017-01-23 11:17] JanneRantala commented on #530
@StefanScherer @friism Before installing version of McAfee which supports Windows 10 Anniversary edition I uninstalled McAfee completely. So I didn't have either McAfee Agent or VirusScan Enterprise installed on my laptop but I still got that Docker error message. And needless to say, the same error appeared also after McAfee was updated. So at least in my case it doesn't seem to be McAfee's fault

[2017-01-24 20:46] drnybble commented on #355
Sorry to report that with SEP 14.0.1094.0000 while I could pull images, **docker run** hangs and never completes.

[2017-01-25 05:11] kallie-b commented on #430
@StrongMonkey

Apologies for the delayed reply--I missed your comment until now.

We're unable to discuss our feature plans before they are officially announced, but certainly keep an eye on our announcements in the near future ;)

We'll be using our new Twitter handle, @Microsoft_SDN, to make container networking/orchestration related announcements in the future so that's an easy place for you to

[2017-01-25 18:33] arasheedu commented on #355
Hi All,

Having faced with same issue as many people here with SEP and DOCKER on Windows 10, I rebuilt the daemon myself (dockerd-1.14.0-dev.exe) and did some debugging on my own.

Here's what I changed in code before the call to ProcessUtilityVM in docker daemon:
Sleep for about 2 minutes (Just in case SEP is still processing the files just extracted and created )
Implemented a directory walker t

[2017-01-26 06:53] JanneRantala commented on #355
Nice work, @arasheedu! I would certainly hope that someone from Microsoft would start taking these issues seriously and start fixing them, these are major blockers at them moment.

[2017-01-26 07:24] johnvanloon commented on #355
We have been investigating this issue yesterday again. We already tried excluding the specified folders from Windows Defender earlier without luck.

We used a clean laptop, exactly same model, but without our policies and without joining it into our domain. On that machine everything worked as expected. We then joined this machine to our domain and then the issue also appeared on this machine.

Fo

[2017-01-26 15:33] viertaxa commented on #355
@johnvanloon

I can second your experiences exactly, however we don't have any policies on the domain that I could find that should have an effect on containers/docker.

Additionally, I see two errors occurring in this issue on Github, with what I believe to be two different root causes.

The first error is the "access denied" or "file is in use" error caused by AV. This seems to be mitigated by d

[2017-01-26 17:45] arasheedu commented on #355
@JanneRantala - Thank you!
@johnvanloon - My system is joined to a domain, not sure of the result if I am not joined to a domain.

Thanks!

[2017-01-26 18:05] JanneRantala commented on #355
I'm with that  WinAPI -issue and what might be because of domain. To test that, what will happen if i'll just remove my laptop from domain and add it to workgoup? I mean can I just test it like that and what will be the side effects on my laptop? Or are there any, @johnvanloon?

[2017-01-30 08:10] sg1970 commented on #355
@johnvanloon

My system is a **standalone** laptop running Win10 build 14393.693. (Tried disabling Windows Defender no luck). I do not have the option of joining a domain. Any help will be greatly appreciated. Cant believe that this issue was first reported  in Aug,!  (But pretty sure that I didn't have this issue earlier in Jan )

Docker version = 1.13.0-beta39 (9861)

-----
PS C:\> docker versio

[2017-01-30 23:41] Rama535 commented on #523
Please share if you got any details

[2017-01-31 01:45] taylorb-microsoft commented on #355
@adrianvillanueva see previous comment from @jabbera on Dec 23 2016

[2017-01-31 14:02] drnybble commented on #355
@taylorb-microsoft Not for me -- with SEP 14.0.1904.0000 I can pull images but **docker run** hangs. Uninstall SEP 14.0.1904.0000 and it works. This is with the latest 1.14-dev docker.

[2017-02-01 02:04] viscropst commented on #355
I have not been install the any anti-virus software,but I have the same problem.

[2017-02-01 14:31] drnybble commented on #355
@viscropst Do you have a fully patched system? That error is not the same as others have reported.

[2017-02-01 14:59] gaurarpit12 commented on #520
@PatrickLang Could you please reply with some solution?
@glennc could you help ?

[2017-02-01 16:34] friism commented on #520
@gaurarpit12 can you invoke normal `docker` commands like `docker images`? Depending on how the Docker engine was installed, if the user running Visual Studio is not in the administrator group, you would get "access denied": https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon#set-docker-security-group

[2017-02-02 00:34] PatrickLang commented on #520
Looking at the logs above, I think it's going to be best to:
- Update to the latest Windows update. Lots of bugs have been fixed since 14393.321
- Make sure your IP on the host doesn't start with 172.*
- Manually install Docker v1.13

That will get all the latest available fixes to Windows & Docker. Once that's done, try starting the Docker service then running the Debug-ContainerHost.ps1 script a

[2017-02-02 02:33] viscropst commented on #355
My Server 2016 Standard has the newest upgrade,and fully patched system.

[2017-02-02 03:32] philb32 commented on #355
Is Microsoft taking any notice of this?

On 2 Feb 2017 02:33, "viscropst" <notifications@github.com> wrote:

[2017-02-02 03:53] viscropst commented on #355
No,I am not talking about this to Microsoft.

[2017-02-02 08:36] JanneRantala commented on #530
I'm still waiting for comments on this. I've said that I'm willing to do/test anything that I can to help fixing this issue and that still stands. Isn't there really no one else who's having this problem besides me or isn't anyone interested in this?

[2017-02-03 01:50] PatrickLang commented on #523
Here's my pre-alpha quality guide to IIS authentication. Still working on authorization.
https://gist.github.com/PatrickLang/27c743782fca17b19bf94490cbb6f960

[2017-02-03 15:33] JimMullennix commented on #523
This looks promising.  I'll report back after I've tried it out.  Thank you

[2017-02-03 17:13] PatrickLang commented on #523
It looks like authorization for asp.net apps may be handled through a web.config file, but I thought I could also do it using the URLAuthorization module so it could work for static content and other handlers as well (PHP, ...)

[2017-02-09 10:20] pennywisdom opened #561 "Securing Windows Containers - Best Practice?"
I have been looking around and I am unable to find a good resource on recommended best practice for securing containers. I was wondering if there was any guidance documentation available yet?

There is [docker-security-bench](https://github.com/docker/docker-bench-security) that works well with Linux containers and it would be awesome to eventually have similar vulnerability / best practice checki

[2017-02-09 10:23] StefanScherer commented on #561
Hi Alex,
That are really good questions. Maybe we find a way to create a documentation or some tools about security.

A Docker image is a snapshot that you can't modify, only by creating a different image from it or run it as a container and modify files at runtime.
So to be sure to have the unmodified version, just kill the container and run a new one.

What I did in a short test is run a Linux c

[2017-02-09 10:29] pennywisdom commented on #561
Thanks @StefanScherer. I think these areas need to be considered from an compliance perspective. Its great to have the base images regularly updated and pushed out at regular intervals, but this only goes so far. To have some level of tooling support will provide foundations from which to build on.

[2017-02-09 15:50] friism commented on #561
Note that [Docker Hub does security scanning](https://blog.docker.com/2016/05/docker-security-scanning/). You can see example results for a Windows image here: https://hub.docker.com/r/library/golang/tags/1.8-nanoserver/

[2017-02-09 16:24] StefanScherer commented on #561
Yes, that's right, I forgot. Notice: You have to be logged in with your Docker Hub account to avoid 404 and see the output of the security scan.

[2017-02-10 08:47] pennywisdom commented on #561
Ah this looks good. Unfortunately the values us lost if you will not be using the public docker registry.

[2017-02-10 08:48] pennywisdom commented on #561
It does though, give an insight into the kinds of things we will want to be scanning / reviewing. Again though, I'm not sure maintaining such a whitelist of good and bad components / releases is overhead you'd want when using private registries.

[2017-02-10 14:42] friism commented on #561
@pennywisdom you can buy for private repositories on Docker Hub/Cloud and it's also available on-prem with Docker Trusted Registry: https://blog.docker.com/2017/02/docker-datacenter-1-13/

[2017-02-13 09:17] Filipro commented on #214
Hello,
I face the same problem as you describe. No Windows docker images have GUI, so we cannot test IE11, EDGE. I am trying to use VM virtualbox images inside this docker image "docker pull jess/virtualbox".
Thanks for all your explanations.

[2017-02-14 04:34] dermeister0 commented on #355
Docker stopped to load when I moved all images to another drive.

{code}
Version: 1.13.0-rc5-beta35 (9606)
Channel: Beta
Sha1: d603c07c049bd3ef899e3ac09ead2a5db339679d
Started on: 2017/02/14 10:41:39.617
Resources: C:\Program Files\docker\Docker\Resources
OS: Windows 10 Pro
Edition: Professional
Id: 1607
Build: 14393
BuildLabName: 14393.693.amd64fre.rs1_release.161220-1747
{code}

{code}
time="201

[2017-02-14 13:37] Mookker commented on #427
Any updates on this one?
I've got exactly same issue, is there any workaround?

[2017-02-14 15:38] dotps1 commented on #483
HELLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOO  this has been broke for a few months now.  Anyone have any idea when this is going to be fixed?  is this project just abandoned?

[2017-02-14 22:28] kallie-b commented on #483
Checking on this.

From: Thomas Malkewitz [mailto:notifications@github.com]
Sent: Tuesday, February 14, 2017 7:38 AM
To: Microsoft/Virtualization-Documentation <Virtualization-Documentation@noreply.github.com>
Cc: Kallie Bracken <Kallie.Bracken@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Microsoft/Virtualization-Documentation] Convert-WindowsImage (#483)

HELLLLLLLLLLLLLLLLL

[2017-02-16 15:03] mebersol commented on #483
The development effort on this private repo has stalled - I haven't heard from the developer in weeks.  @mud5150 - feel free to submit your PR to this repo for now, Artem can mirror the change when he gets back to the separate repo.

[2017-02-16 18:29] mud5150 commented on #483
@mebersol Thanks for letting me know.

[2017-02-18 12:49] rs38 opened #565 "Win10 Debug-ContainerHost.ps1 hosts fails when RSAT is installed"
testing **Has 'Containers' feature installed**
`(Get-Command Get-WindowsFeature -ErrorAction Ignore) -eq $null`
is no longer $null when RSAT is installed on Win10 and the ELSE part does then throw an error as it does not expect a client OS.

[2017-02-23 01:48] #483 closed

[2017-02-23 07:36] StefanScherer commented on #483
FYI: There is a project https://github.com/docker/communitytools-image2docker-win

[2017-02-24 18:35] JanneRantala commented on #355
Is anybody paying any attention to these issues which have been open for ages? Microsoft? Somebody? Anybody? This is really unacceptable.

[2017-02-24 20:31] PatrickLang commented on #355
Thanks for the updates on this! I'm sorry we're behind on these issues. I'd like to be able to respond to every one but unfortunately I'm only able to follow GitHub occasionally with other work on my plate :(

This issue seems to have several themes in it which could be separate issues:
- Symantec Endpoint Protection was blocking some file accesses. Based on what I've heard from Symantec this was

[2017-02-24 20:46] JanneRantala commented on #355
Thanks for your reply. This is not even the issue I'm facing, I'm just trying to find out something or somebody who would be able to help me with this:

https://github.com/Microsoft/Virtualization-Documentation/issues/530

As I wrote in that bug, I have McAfee installed due to a corporate policy but even uninstalling that didn't help. I had the same problem in August-September, then suddenly it st

[2017-02-24 21:21] drnybble commented on #355
@PatrickLang I have just installed SEP MP1 (14.0.2332.0100) released on February 17, 2017.
Sorry to say it still doesn't work. A simple:
  docker run --rm microsoft/windowsservercore powershell
never completes. Same error I documented above about three weeks ago including a stack from windbg.

Is this something Microsoft can pursue or are you going to have individual developers trying to chase dow

[2017-02-27 21:55] aborisevich commented on #494
I got MSDTC working after changing the AuthenticationLevel to NoAuth.

I used https://github.com/dimitarivanov/dtctester as a starting point, but had to change the container for SQL Server to FROM microsoft/mssql-server-windows-express
and set AuthenticationLevel to NoAuth on dtctester and sqlserver containers.

[2017-02-28 13:53] JanneRantala commented on #530
Hi @PatrickLang, this is the bug I was referring to few days ago. I'm having the same issue with two identical Dell XPS 15's. It would be great if you could provide me a link to open a support ticket to get this solved. Thanks.

[2017-02-28 17:32] PatrickLang commented on #530
Home: https://support.microsoft.com/en-us/contactus/
Business: https://support.microsoft.com/en-us/gp/contactus81?Audience=Commercial

I'm still trying to see if I can get a better contact on this.

It's also worth updating your Docker version to v1.13.1 just to see if that changes anything. There were a few occasional issues with `docker pull` fixed during v1.13 development

[2017-02-28 18:00] JanneRantala commented on #530
@PatrickLang Installed Docker 1.13.1 today and got the same error.

[2017-03-01 07:38] johnvanloon commented on #355
Sorry for the long silence from my side, but we have finally been able to solve the problems on our systems. The problem was actually twofold:

First problem
Cause:
When setting up a new base OS image, vmcompute.dll is creating and modifying Vhdx volumes to implement the union file system needed to support containers. On our system, the “Deny write access to fixed not protected by Bitlocker” GPO p

[2017-03-01 13:58] Nirmal4G commented on #257
Anyone working on this script, I already published on [PowerShellGallery](https://www.powershellgallery.com/packages/Convert-WindowsImage). It's a version from this repo.

Although It's for me to install it from [PowerShellGet](https://www.powershellgallery.com/packages/PowerShellGet). If anyone wants to take ownership on the package, please let me know in the comments.

[2017-03-01 15:20] friism commented on #355
@ebriney we should probably check for that GPO in the Docker for Windows installer.

@enderb-ms @PatrickLang can we also add a check in the Powershell installer?

[2017-03-01 19:12] jhiller commented on #355
If you have local admin rights, running this reg script will allow you to pull images if you have the "Deny write access to fixed not protected by Bitlocker" group policy enabled.

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Policies\Microsoft\FVE]
"FDVDenyWriteAccess"=dword:00000000
"RDVDenyWriteAccess"=dword:00000000

[2017-03-01 19:48] StefanScherer commented on #355
@JanneRantala could you check the registry keys HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Policies\Microsoft\FVE\*DVDenyWriteAccess of your both machines?

[2017-03-01 21:07] JanneRantala commented on #355
@StefanScherer Checked from another of those machines and that value was enabled. When I disabled it, pull started working! This just awesome. Now I wonder will this setting stay disabled or will GPO again enable it?

[2017-03-01 21:16] JanneRantala commented on #530
Solution suggested by @johnvanloon and @jhiller for docker load issue [https://github.com/Microsoft/Virtualization-Documentation/issues/355](https://github.com/Microsoft/Virtualization-Documentation/issues/355) fixed also issue with docker pull.

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Policies\Microsoft\FVE]
"FDVDenyWriteAccess"=dword:00000000

Ping @PatrickLang

[2017-03-02 06:49] JanneRantala commented on #355
@StefanScherer I can confirm that this solution worked for both my machines. Thanks to @johnvanloon, @jhiller and everyone else who helped solving this!

[2017-03-02 12:55] mrichman opened #572 "Parameterizing web.config"
In the web.config of ASP-NET-Blog-Application, the connection string is hardcoded. How can this be parameterized such that we can maintain a single image, but pass DB server name, DB name, and credentials to the container at `docker run` time?

I was thinking of adding a PS script to the image which gets invoked via `CMD` or `ENTRYPOINT`, and have that script accept parameters from `docker run`, w

[2017-03-02 15:08] ebriney commented on #355
@friism : We are admin when we do the install so we can check it, can you add an issue on Pinata (PS: with the new installer we can imagine disabling it or change PVE...)
cc @simonferquel

[2017-03-03 02:17] PatrickLang commented on #565
The original check I had was `(Get-ComputerInfo).OsOperatingSystemSKU -eq "Workstation"`. That quit working in Windows Insider builds and is still broken today. OsOperatingSystemSKU is always null.

The bug #565 was that I was checking for a commandlet that doesn't normally exist on Windows 10, but does with the Remote Server Administration Tools installed.

So this is back to the original method

[2017-03-03 13:02] JanneRantala commented on #355
Just as I expected, group policy has again enabled that registry value. Is there any other way to fix this than editing registry every time, @StefanScherer @PatrickLang?

[2017-03-03 13:25] JanneRantala commented on #530
It seems that group policy has enabled that registry value again. Something else needs to be done to get this fixed so that we don't need to go and edit registry every day.

[2017-03-03 14:01] JanneRantala commented on #355
Btw I can't understand why this GPO even does this, it says that "Deny write access to fixed not protected by Bitlocker", yes I'm using Bitlocker, but both my drives where I've tried running Docker are also Bitlocker protected. @StefanScherer @PatrickLang

[2017-03-03 18:01] PatrickLang commented on #355
Group Policy settings are set by your domain administrator. This lets them push consistent settings down to all devices. https://technet.microsoft.com/en-us/library/ee706521(v=ws.10).aspx#BKMK_driveaccess1

This setting indirectly affects containers because we create a VHD for each container's scratch space and format it. Since it's a new disk and not yet encrypted, then Windows will block access

[2017-03-03 18:07] JanneRantala commented on #355
That makes sense I guess. Thanks for clearing it out, @PatrickLang. Is there anything you can do about it or do I have to try to get an exception for that policy?

[2017-03-03 18:11] PatrickLang commented on #355
I'm starting that discussion with the devs but it would take a change to Windows to work around this which means there's no quick fix.

I think you will need an exception for this.

[2017-03-03 20:48] JanneRantala commented on #355
Ok thanks. I'll try to get that exception while waiting for Windows fix.

[2017-03-07 07:15] JanneRantala commented on #355
Couldn't get policy exception for this. So I've done Powershell script which changes registry key before doing docker pull/build etc. This is definitely not bulletproof solution but I have to live with until proper fix is available. Is there a place where I can follow progress on this, @PatrickLang?

[2017-03-07 18:42] PatrickLang commented on #355
@JanneRantala Can you open an issue regarding that key on https://windowsserver.uservoice.com/forums/304624-containers ? I don't really have a better public place to track it.

[2017-03-07 23:34] #565 closed

[2017-03-08 13:31] drnybble commented on #355
Reiterating my question above -- SEP 14 MP1 still does not work with docker on Windows. Is this something Microsoft will pursue with the AV vendor (since it might require Microsoft developer assistance to diagnose and resolve) or will you have a developer try to open a case with Symantec.

[2017-03-08 16:08] mdaslamansari opened #575 "Issue with Docker in Windows Server 2016"
Hi, We are getting the below error while trying to run the container. We suspected that the error could be because of SEP (Symantec Endpoint Protection) blocking it. To confirm, if SEP is the real reason, we get it disabled on that particular machine. I tried again and found same behavior. With it done, SEP is not the real cause of this error...

-----------

PS C:\Windows\system32> docker version

[2017-03-08 17:31] PatrickLang commented on #575
@darrenstahlmsft is there another issue tracking this already?

[2017-03-08 20:19] darrenstahlmsft commented on #575
Yes, see https://github.com/docker/docker/issues/27588

Internal VSO# 8776992

[2017-03-08 20:41] mdaslamansari commented on #575
Please advise the solution...

[2017-03-09 06:21] scooley commented on #575
@mdaslamansari -- follow issue on docker.  Locking thread.

[2017-03-13 07:54] s2zaman commented on #355
May be this post on issue-97 solve your issue 👍

Have a look here at [#issuecomment-258271663](https://github.com/docker/labs/issues/97#issuecomment-258271663) .

[2017-03-15 17:59] joaomadureira opened #578 "Error "The request is not supported." when pulling any windows image"
When trying to pull any windows images I get the following error:

PS C:\Users\joao> docker pull microsoft/nanoserver
Using default tag: latest
latest: Pulling from microsoft/nanoserver
bce2fbc256ea: Extracting [==================================================>] 252.7 MB/252.7 MB
58f68fa0ceda: Download complete
failed to register layer: re-exec error: exit status 1: output: ProcessBaseLayer C:\P

[2017-03-23 08:42] tstrypko commented on #494
Gentlemen, could you please elaborate on this, is it final conclusion about MSDTC not being supported in containers?

My situation:

I'm trying to port existing .NET app that uses MSDTC to container. Base image: "microsoft/iis:10.0.14393.206". Typical error reads like this:

To make long story short this is not a problem with:
- MSDTC itself
- firewall
- network connectivity
- server accessibility

[2017-03-23 13:55] drnybble commented on #575
You may be mistaken that SEP is not the cause. Disabling it is not sufficient, it must be completely uninstalled.

[2017-03-23 14:26] JanneRantala commented on #273
Hi,

This seems to be an old thread but I'll try it anyway. I've been starting to get same

"failed to create endpoint db1 on network nat: HNS failed with error : Unspecified error" error in

Windows Server 2016 when running docker-compose. This happens very occasionally and I really haven't found any good explanation what causes this or if this has already been fixed.

I've updated Windows Server

[2017-03-23 17:09] StefanScherer commented on #273
@JanneRantala you can update the docker engine with zhe package. https://github.com/OneGet/MicrosoftDockerProvider/blob/developer/README.md

[2017-03-23 20:41] JanneRantala commented on #273
Tried updating Docker with command

Install-Package -Name docker -ProviderName DockerMsftProvider -Verbose -Update

but it ends up with this error:

[code]

[2017-03-24 01:35] PatrickLang commented on #273
What about `Install-Package -Name docker -ProviderName DockerMsftProvider -Verbose`

[2017-03-24 06:17] JanneRantala commented on #273
Install-Package -Name docker -ProviderName DockerMsftProvider -Verbose gave me this:

[code]
Docker seemed to start after that update error with start-service docker, so hopefully everything is ok?

[2017-03-26 03:30] Fangfenghua opened #584 "Can't access internet from windows server container"
** Description**

docker info:
[code]
system info:
[code]
[code]

Link to doc:

[2017-03-30 19:17] JanneRantala commented on #529
Hi @kallie-b,

Any news on this? This is the latest issue I'm facing with Docker :(

[2017-03-30 19:26] kallie-b commented on #529
@JanneRantala -- So you're using Windows Server, and you're unable to start the docker service? If you do `get-service docker` the service is not running? Is that your symptom?

[2017-03-30 20:59] JanneRantala commented on #529
@kallie-b Using Windows Server, yes. Service won't start, it just displays as "Starting" in services console. I've had this error

Error starting daemon: Error initializing network controller: Error creating default network: HNS fa
iled with error : {Object Exists} An attempt was made to create an object and the object name alread
y existed.

I've ran CleanupContainerHostNetworking -script and als

[2017-03-31 15:32] jhiller opened #587 "--security-opt flag times out but --credentialspec works"
--security-opt flag does not work

Link to doc:  https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts

works
```docker run -d --credentialspec gMSA.json microsoft/nanoserver ping -t 127.0.0.1 ```

doesn't work
```docker run -h docker_msa_o -d --security-opt "credentialspec=file://gMSA.json" microsoft/nanoserver ping -t 127.0.0.1 ```

docker : C

[2017-03-31 16:16] jhiller commented on #587
Looking at the daemon logs, --credentialspec no longer appears to do anything because the credentials are not passed along to the container.  This is using --credentialspec

HCSShim::CreateContainer id=020d7d3c3fa6396c480f87808b15c24150bb8c74fe21ad73762b179335cbac09 config={\"SystemType\":\"Container\",\"Name\":\"020d7d3c3fa6396c480f87808b15c24150bb8c74fe21ad73762b179335cbac09\",\"Owner\":\"docker

[2017-03-31 17:13] PatrickLang commented on #587
Have you tried this on Windows Server 2016 on the same domain? I'm curious if there's a difference between using client & server builds.

`--security-opt="credentialspec=file://..."` is the right syntax

[2017-04-03 09:52] JanneRantala commented on #529
Docker will start if I set "bridge" to "none" in daemon.json, but then I don't have default network at all. Is there something else I can do/check, @kallie-b?

[2017-04-03 17:24] drnybble commented on #355
@PatrickLang With reference to VHD and BitLocker above -- I assume that the VHD will be encrypted after creation?

[2017-04-03 17:27] PatrickLang commented on #355
@drnybble no, but it doesn't really need to be. The host drive should still be Bitlocker encrypted based on group policy. There isn't any support for per-container Bitlocker encryption keys

[2017-04-03 17:29] viertaxa commented on #355
The VHD is encrypted from the start because it is being written to a bitlocker encrypted partition already.

[2017-04-04 17:21] PatrickLang commented on #587
Thanks for checking. I need to try it on Windows 10 again since I haven't in several months. This was intended for Windows Server 2016 and it is primarily tested there.

[2017-04-04 20:19] kallie-b commented on #529
Yes, try these commands:

[code]

This should remove and recreate the default NAT network. Let me know if that solved your problem!

[2017-04-04 20:53] JanneRantala commented on #529
Hi, unfortunately that doesn't help. Get-containernetwork doesn't return anything. If I start with bridge none and list networks with Docker network ls, the only one I get is null. So there's no nat network at all...

[2017-04-04 20:55] kallie-b commented on #529
Okay, checking on this. Will get back to you soon.

[2017-04-04 21:09] viaror commented on #529
@JanneRantala Can you share the output of get-netnat.

if there is no nat instance returned then please delete the file c:\windows\programdata\microsoft\windows\hns\hns.data (take the backup before deleting).

if there is some nat instance then delete it using command get-netnat | remove-netnat

[2017-04-04 21:10] kallie-b commented on #529
@JanneRantala You mentioned above that you collected logs with the CleanupContainerHostNetworking script. Will you send that zipped file of logs to us? Our email is sdn_feedback@microsoft.com.

[2017-04-05 06:30] JanneRantala commented on #529
@viaror Get-Containernetwork, Get-netnat and Get-Vmswitch all return nothing. I've also tried deleting the file you mentioned and now when I start Docker with dockerd --debug it gives me some output but then freezes. This is as far as it goes:

time="2017-04-05T09:29:12.635374600+03:00" level=debug msg="Listener created for HTTP on npipe (//./pipe/docker_engine)"
time="2017-04-05T09:29:12.83438110

[2017-04-05 06:31] JanneRantala commented on #529
@kallie-b Logs sent, I ran that script without ForceCleanup -option.

[2017-04-05 17:53] kallie-b commented on #529
@JanneRantala -- I'm sorry but I don't believe we received the email with your logs. Could you double check that you sent them to sdn_feedback@microsoft.com?

[2017-04-05 19:20] JanneRantala commented on #529
Strange, I double checked and the address was correct. I had sent to that
same address mail regarding another issue and also got reply for that. I
tried resending it now, were you able to receive it this time?

Regards,

Janne

On Wed, Apr 5, 2017 at 8:53 PM Kallie <notifications@github.com> wrote:

@JanneRantala <https://github.com/JanneRantala> -- I'm sorry but I don't
believe we received the em

[2017-04-06 15:12] mylesbkeating1993 commented on #530
Hi Janne,

Are you still having issues?

[2017-04-06 15:27] mylesbkeating1993 commented on #578
Hi,

Sorry for the delayed response - we're busy ramping up for DockerCon and Build.

Is this still I problem?  If so I can try to reproduce it.

One common cause of issues is trying to run a Windows container when Docker is in Linux container mode.

If you're not sure, here's how to check:
1. Right click on the Docker whale icon
2. Look for an option that reads either "Switch to Windows container

[2017-04-06 15:31] mylesbkeating1993 commented on #365
Hi Kallie!

Can I close this?
Trying to clean up the repo :)

Also, what tagging system are you using?  Is it helpful?

[2017-04-06 15:50] JanneRantala commented on #530
Hi,

Yeah, unfortunately I do. Like @PatrickLang wrote in issue #355, this Bitlocker problem has to be fixed by Windows devs. I don't know has that thing progressed yet, at least I'm still having this same problem.

[2017-04-06 15:56] mylesbkeating1993 commented on #575
@mdaslamansari are you still having this issue?

[2017-04-06 16:17] mylesbkeating1993 commented on #572
Hi @mrichman

There is faster and more knowledgeable support on the Docker forums: https://forums.docker.com/search?q=connection%20string

I'm happy to help but honestly don't know what the best practice is.

I did some searching around - what does the connection string do?  Is there a doc that describes it?

This came up in my search - maybe it will help?
http://stackoverflow.com/questions/164080

[2017-04-06 16:20] mylesbkeating1993 commented on #547
Hi @artisticcheese ,

There is faster and better support in the docker forums: forums.docker.com

I'm a little confused - is this a problem you have?

Or is this a suggestion for how you would like the Credentialspec module to work?

[2017-04-06 16:25] mylesbkeating1993 commented on #584
Hi @Fangfenghua

Thanks for asking and including all the info!

Generally there is faster support on the docker forums: forums.docker.com

From your container info it looks like you have an l2tunnel.

The Windows Container networking docs talk about only using this in the MSFT cloud stack:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-networking

Is

[2017-04-06 17:53] PatrickLang commented on #547
Sorry about the delay here – this is definitely one I need to fix. I’m working on another push to this area of the docs and samples after Dockercon

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Myles Keating<mailto:notifications@github.com>
Sent: Thursday, April 6, 2017 9:20 AM
To: Microsoft/Virtualization-Documentation<mailto:Virtualization-Documentation@no

[2017-04-06 22:12] jhiller commented on #587
I had $ at the end of the managed service account name in the credentialspec file.  Once I removed that I was able to access domain resources from the container on server 2016.  I took the identical config/command on Windows 10 and it still times out.  Should I open an issue over on the Windows Containers forum?

[2017-04-07 03:26] nullberri commented on #355
I too am having this exact issue, however I do not have...

- 3rd party anti-virus,
- bit locker is not installed
- disabled windows search and windows defender.

`
Windows build 10.0.14393 · Version 1607 and all updates possible have been applied.
Docker versions:
Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:        Tue Mar 28 00:40:02

[2017-04-07 18:37] mylesbkeating1993 commented on #587
Yes, the forums are a better place for this :)

Microsoft Containers forum:  https://social.msdn.microsoft.com/Forums/en-US/home?category=virtualization&forum=windowscontainers&filter=alltypes&sort=lastpostdesc&brandIgnore=true&page=2

Docker forum:  forums.docker.com

[2017-04-07 18:47] #561 closed

[2017-04-07 18:51] mylesbkeating1993 commented on #534
Hi @DSakura1987

So sorry about the delayed response!

What's your current status - is this still an issue?  Anything else I can help with?

In general, the forums are the fastest and best options to get your questions answered:
www.forums.docker.com
https://social.msdn.microsoft.com/Forums/en-US/home?category=virtualization&forum=windowscontainers&filter=alltypes&sort=lastpostdesc&brandIgnore=tru

[2017-04-07 18:53] mylesbkeating1993 commented on #533
@kallie-b friendly bump :)

We're trying to clean up the repo so we notice new issues more easily.  If this is solved feel free to close!

[2017-04-07 19:37] mylesbkeating1993 commented on #355
@nullberri  there are a lot of issues mentioned in this thread haha :)

Could you please tell us which error message you're getting and what command you're trying to run?

Is it "The process cannot access the file because it is being used by another process."?

[2017-04-07 19:47] mylesbkeating1993 commented on #530
Oh man, I just read through 355, that's a big one.

I know this must be frustrating, thanks for your patience.

It seems like in your case there is a corporate GPO policy with bitlocker preventing access to the VHD until it is scanned, which breaks pulling new images?  And your workplace can't make an exception to the policy?

But then it sounds like you have a PS script you are running manually t

[2017-04-07 20:18] jhiller commented on #530
I think that sums it up nicely.  The workaround does work as long as you have administrator rights (or rights to change the registry).

[2017-04-07 20:39] JanneRantala commented on #530
It works for me as well but definitely not an ideal solution. I'm really
waiting for that Windows fix which Patrick mentioned. Speaking of that,
would it be possible to update status on that fix maybe to this thread? I'd
be very happy to know if it's in progress or not, or when we might expect
it to be published. Thanks.
pe 7. huhtikuuta 2017 klo 23.18 jhiller <notifications@github.com>
kirjoitti:

[2017-04-07 20:52] PatrickLang commented on #530
I know this is frustrating but I can't say if/when a fix will be issued. Based on history, any Windows change takes multiple months or longer to deliver, and not every issue reported is fixed. I think automating the workaround to change the FVE.. regkey is the best option available if you cannot get the policy changed in the domain.

[2017-04-07 21:05] JanneRantala commented on #530
I hope you're not trying to hint that this issue might never be fixed :)
pe 7. huhtikuuta 2017 klo 23.52 Patrick Lang <notifications@github.com>
kirjoitti:

[2017-04-07 23:39] nullberri commented on #355
@mylesbkeating1993

Yes its the same error as the original poster.
Running docker pull Microsoft/windowsservercore or docker load -i Microsoft.tar (which i got from a different machine that's working)

[2017-04-10 18:57] mylesbkeating1993 commented on #587
@jhiller could you let me know when you've posted in the forum so I can close this issue?

Thanks!

And of course let me know if there's anything I can help with: myles.keating [at] Microsoft.com

[2017-04-10 19:24] mylesbkeating1993 commented on #530
@JanneRantala
Patrick is saying we have more work we want to do than we can do.  Such is life.

We measure the impact of product issues based on a mix of:
1. [Uservoice](https://windowsserver.uservoice.com/forums/295050-virtualization)
2. Common issues on the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers) and the [Docker forum](https://forums.docker.com/)

[2017-04-10 19:29] mylesbkeating1993 commented on #355
@nullberri

Do you have any antivirus software installed?

See [thread mentioned above](https://social.msdn.microsoft.com/Forums/en-US/13523ccf-baf4-49fc-9e73-1df07e512304/reexec-error-when-trying-to-load-nanoserver-image?forum=windowscontainers)

[2017-04-10 20:00] #526 closed

[2017-04-10 20:03] mylesbkeating1993 commented on #524
@PatrickLang @xied75

Is there anything I can help with?  Trying to close dead issues

[2017-04-10 20:41] nullberri commented on #355
@mylesbkeating1993
As stated I do not have any anti-virus installed.

I initially tried with just disabling windows defender real-time protection and adding exemptions for all of the docker folders (program files and program data locations). When that did not resolve it so I also disabled windows search in case it was trying to index the files while running.

I have also tried installing docker ee

[2017-04-10 20:49] JanneRantala commented on #530
Well first of all I think you misinterpreted my message, I wasn't saying
that you should put this to your list with highest priority nor did I
suggest that you're not doing your job.

My point was that I'm only hoping that this issue gets fixed one day. I
might be the lucky one since I can turn this off just by changing registry
but I believe there are those who can not do that. For them, this is

[2017-04-10 20:58] mylesbkeating1993 commented on #530
Haha gotcha :)  I wasn't sure if you were seriously upset and didn't want to make light of things if you were.

I actually linked the wrong uservoice.  Here's the container-specific one:
https://microsoft-my.sharepoint.com/personal/mykeatin_microsoft_com/_layouts/15/onedrive.aspx?d=w98dafec7ce244028a3d2c8766a920d59&cid=

We've realized the forum is not where it needs to be as well.  So, I'm focusi

[2017-04-10 22:20] xied75 commented on #524
I'm still waiting answers from you guys.

[2017-04-12 17:46] mylesbkeating1993 commented on #524
OK I circled back with the team and got some answers.  Sorry this has been sitting so long.  That's our bad.

There was a bug.  You helped us find it, thank you!

We fixed the bug and shipped the patch with an OS update a few months ago.  If you still are having issues, definitely let me know!

If you are curious, the bug was around the way containers handle registry keys.

I was looking at your [

[2017-04-13 12:28] xied75 commented on #524
@mylesbkeating1993 Thanks for all these.

Regarding the fix, do you mean the fix is on the container host (i.e. Windows Server 2016 in my case) or the windowsservercore base image or both?

I was using 10.0.14393.576 when I raised this issue. Could you kindly point out from which version the fix is in? https://hub.docker.com/r/microsoft/windowsservercore/tags/

About why I'm using IIS Express with

[2017-04-13 17:39] sowmyan50 commented on #354
@kaizers Did you get the above pull working in docker with MacOS., if yes can you please provide a reference as how it is done.

[2017-04-13 18:06] kaizers commented on #354
Hi sowmyan50,

I was able to use the Packer+Vagrant combo to make it work. It has been a while but IIRC the packer code worked with some trivial change for the Windows image file location, etc. This was all on Mac. It took a long time time though - I'd o with Azure if you have that option.

[2017-04-13 18:09] kaizers commented on #354
Another thing - please review the packer json file and verify/update the location of image *and* the checksum. It will fail otherwise (and takes a long time).

[2017-04-14 19:41] mylesbkeating1993 commented on #355
@nullberri Man this is frustrating.  I have no idea.

I'll circle up with everyone and see if anyone has seen something like this.

Are there any other possible differences between this machine that doesn't work and the ones that do work besides hardware (e.g. network)?

[2017-04-15 02:12] nullberri commented on #355
@mylesbkeating1993

As it turns out I had one difference, [Stable bit drive pool](https://stablebit.com/DrivePool). When I disabled the service, docker pull/load worked. Man that's frustrating. I have no idea why it would be reading from the C drive when that drive is not apart of the drive pool.

I'll open a support ticket with them.

[2017-04-15 07:24] tstrypko commented on #494
(Answering myself)

So, after 3 weeks trial, we've been able to establish successful MSDTC communication between container and SQL Server in the domain.

Key factor for success was to start using gMSA account to run Docker host. This imposes additional requirement for it: Docker host **must** be member of a domain, so that container can be launched with a reference to gMSA credentials spec. After

[2017-04-15 15:09] mylesbkeating1993 commented on #355
Hey @nullberri excellent!!  Glad you figured it out.

I'm not exactly sure what you're saying is the issue, but it sounds like something about Stable bit was causing the Docker daemon to read from the C drive?  Is that right?

What are you trying to accomplish with Stable Drive?  Keeping all your files across multiple machines organized in a single place?

Please tag me on the support ticket - wou

[2017-04-15 15:48] friism commented on #494
Out of curiosity, why is having docker host in the domain not good for you?
--
http://friism.com/
(650) 318-1051
Sapere aude

[2017-04-15 15:58] nullberri commented on #355
@mylesbkeating1993

The other way around. Something drivepool is doing is blocking docker from running ProcessUtilityVMImage  on the utlityvm folder.

Correct its a form of software raid that has a number of benefits over traditional raid.

[Post on stablebit community forms](http://community.covecube.com/index.php?/topic/2780-drive-pool-interfering-with-docker-for-windows/)

[2017-04-17 08:09] tstrypko commented on #494
The main idea behind dockerization effort in our organization was to consolidate all (unrelated) products into single monster EC2 instance (we engineers had no impact on this decision). So with our particular product (which obsolete architecture heavily relies on MSDTC and other legacy tech) we're facing a cross-road:
- either go with a dedicated smaller docker host (=against political decision)
-

[2017-04-17 16:13] friism commented on #494
@tstrypko understood, thx. Can the EC2 instance not be in the domain, or what's the problem?

And just to summarize, you're saying that MSDTC doesn't work in containers, _except_ if the host is on a domain and you're using gMSA?

[2017-04-17 16:34] tstrypko commented on #494
Because monster EC2 instance going to server multiple unrelated sub-organizations, nobody would allow entering domain of one particular of them. Also, creating more complex AD hierarchy is currently out of consideration.

Overall 2 scenarios that involved Docker worked with MSDTC:

1. Container vs. containerized SQL Server, as demonstrated above by **dtctester** images
2. Container vs. 'real' SQL

[2017-04-17 18:07] mylesbkeating1993 commented on #355
@nullberri

As per the [community forum post](http://community.covecube.com/index.php?/topic/2780-drive-pool-interfering-with-docker-for-windows/) it appears the magic order of:

1. Remove SSD in question from drive pool
2. Have docker on the SSD
3. Re-add the SSD to the bitpool

solves your issue?

[2017-04-20 07:18] renerchen opened #599 "Can't start kubelet on windows nodes"
** Description**
Now, I deploy on kubernets master on a linux node, the start config of master components is following:

/opt/bin/kube-scheduler --logtostderr=true --master=127.0.0.1:8080
/opt/bin/kube-apiserver --insecure-bind-address=0.0.0.0 --insecure-port=8080 --etcd-servers=http://127.0.0.1:4001 --logtostderr=true --service-cluster-ip-range=192.168.3.0/24 --admission-control=NamespaceLifecycl

[2017-04-20 07:26] #599 closed

[2017-04-26 19:41] mylesbkeating1993 commented on #511
@renerchen is this still an issue?  Let me know how I can help :)

[2017-04-26 19:49] mylesbkeating1993 commented on #520
@gaurarpit12 did @PatrickLang's suggestions help out?  Anything else we can help with?

[2017-04-26 19:52] #508 closed

[2017-04-27 00:06] kallie-b commented on #365
@scooley -- were you looking for doc changes here? Do you recall what made you file this issue?

[2017-04-27 23:36] kallie-b commented on #529
@JanneRantala Am I right that this issue is resolved? Is it okay to close?

[2017-04-27 23:55] josephgardner commented on #529
@JanneRantala was sending logs, was there any resolution to that?

[2017-04-28 04:24] JanneRantala commented on #529
@kallie-b no, the issue still exists on Windows Server 2016. The one I wrote yesterday was related to Docker for Windows and Windows 10, and for that, edge channel seemed to fix the issue.

[2017-04-30 06:57] #243 closed

[2017-04-30 06:57] #245 closed

[2017-04-30 06:57] #246 closed

[2017-04-30 06:58] #248 closed

[2017-04-30 17:55] agponte opened #604 "cpmtaomer ;s"
** Description**

Link to doc:

[2017-05-04 07:42] dermeister0 opened #606 "CleanupContainerHostNetworking.ps1 is outdated"
I think CleanupContainerHostNetworking.ps1 needs to be updated.

## Readme is not correct.

This command is wrong:
[code]

Correct commands:
[code]

## Service name is not correct.

[code]

Need to handle both **docker** and **com.docker.service** names.

## Cmdlet name is outdated.

I noticed that script tries to find **Get-ContainerNetwork** cmdlet. I guess the new name is **Get-ContainerNet**.

[2017-05-04 19:50] mylesbkeating1993 commented on #604
@agponte I'm not sure what you are trying to say.

Can you clarify what your issue is?

[2017-05-05 15:17] JMesser81 commented on #606
Yes, we're working to update. Still working on PR https://github.com/Microsoft/Virtualization-Documentation/pull/597 to update and make sure this works with Windows 10 Anniversary Edition, Windows 10 Creators Update, and Windows Server 2016.
ping @kallie-b

[2017-05-08 20:10] kallie-b commented on #606
Thanks for the notes here, and apologies for the delay. I'll devote time to updating the script and README file *this week.*

[2017-05-10 20:55] mylesbkeating1993 commented on #524
Ok update.
Sorry for the delay - DockerCon and prepping for Build have taken over our lives haha

I jumped the gun, it's a little more complicated.

- The fix is in the OS, not the image
- It has to do with registry key virtualization.  Happy to explain further if you are curious
- Original plan was to create and ship a fix with Server 2016, but the work was pushed back on the grounds that using f

[2017-05-10 21:51] xied75 commented on #524
@mylesbkeating1993 Thanks a lot for your good work and good words. I fully understand how much backlog you guys have for Windows container. Keep going.

Wish you a great Build, (are you giving any talks? Which session?)

Feel free to close this issue. :)

p.s. This is the App I built with my own CI pipeline fully running in Windows Containers on Azure:
https://www.microsoft.com/store/apps/9ntphrk6

[2017-05-11 14:53] dermeister0 commented on #355
Resolved the issue when added `C:\ProgramData\Docker` to Windows Defender exclusions and restarted PC.

[2017-05-11 16:43] mylesbkeating1993 commented on #524
@xied75 Thank you for using our stuff and building cool things with it!

Code Reader looks awesome :)

Taylor is indeed presenting tomorrow with Steve Lasker: https://channel9.msdn.com/Events/Build/2017/B8013

[2017-05-11 16:43] #524 closed

[2017-05-13 19:15] artisticcheese commented on #355
I'm getting "The parameter is incorrect" error at the very end of extraction of base layer. Defender has C:\ and D:\ excluded. No Bitlocker or any sort of encryption. Running latest Windows 10.

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
2A2F175C-7BAC-4994-AE7C-1D22FD255891/2017-05-11_13-53-30
  - a reproducible case if this is a bug, Dockerfiles FTW
docker pull microsoft/nanoserver

[2017-05-17 11:04] mgansler-intland commented on #253
Is there a workaround?

[2017-05-19 19:14] mylesbkeating1993 commented on #253
@mgansler-intland  Are you on the TP5 Server 2016 OS?  This post is from a year ago.

If you are having the same problem but on a different OS, there's a solid chance it's a different underlying cause.

If you can provide some more info about your setup (ideally repro steps) I'm happy to help.

[2017-05-22 08:24] mgansler-intland commented on #253
@mylesbkeating1993 thanks for responding. I know this post is a year old but I'm facing the same issue. We are evaluating the option to move to using Windows Containers for our CI chain. I've started with creating a Jenkins Image and running it on the (virtualized) Windows 2016 1607 (build 14393.1198) Host. From this Host I cannot access the Jenkins instance but I can from another client in the sa

[2017-05-25 14:49] seanturner83 commented on #587
Definitely able to repeat this. This may not be absolutely the right place for this issue, but it needs to be tracked somewhere - please advise. Does anyone have any sort of workaround?

[2017-05-25 15:27] seanturner83 commented on #587
Also tried with run-containerimage:

Run-ContainerImage : Docker API responded with status code=InternalServerError, response={"message":"container bc2be6162d0725618ac599941dbfd2712e889a70984e7650826d1f3c8a2fe95f encountered an error during Start: failure in a Windows system
call: The operation timed out because a response was not received from the Virtual Machine hosting the Container. (0xc037010

[2017-05-25 16:56] PatrickLang commented on #587
@seanturner83 Windows 10 or Windows Server 2016?

[2017-05-25 17:35] seanturner83 commented on #587
Windows 10 - am I right in thinking this is because I'm stuck with a Hyper-V layer between my container and my domain-joined workstation?

[2017-05-25 17:37] PatrickLang commented on #587
@seanturner83 try it on Windows Server 2016. Based on the above reports it appears to be broken on Win10

[2017-05-25 17:39] seanturner83 commented on #587
that's not so useful for the thirty or so developers who want it to run the same on their workstation as it does in the cloud though...

[2017-05-26 01:25] mstephano commented on #587
Anyone knows when this will be fixed for Windows 10? It doesn't make sense to run a workstation with Visual Studio 2017 in Windows Server 2016..

[2017-05-26 01:26] mstephano commented on #587
And you don't have the Docker-compose right away in Windows Server 2016..

[2017-05-30 15:54] mboutros1 commented on #529
Hi Guys,
Any workaround or update for this issue

[2017-05-30 15:59] JanneRantala commented on #529
@mboutros1 Unfortunately not for me. I even tried reinstalling whole Windows Server 2016 and the problem persisted even after that.

[2017-05-31 22:45] mylesbkeating1993 commented on #253
@mgansler-intland Sorry for delay, been traveling.

OK so @kallie-b will know more than me, but here's what I have after a brief search.  I haven't had time to try this stuff out, so take it with a grain of salt).

1. [Here's a tutorial](http://blog.alexellis.io/continuous-integration-docker-windows-containers/)
2. You could also check out [Stefan Scherer's Jenkins repos](https://github.com/Stefan

[2017-06-01 05:55] StefanScherer commented on #253
@mgansler-intland You can access the Jenkins master from the host by the container IP address. Let's say you have started your Jenkins with something like `docker run -d -p 8080:8080 jenkins`. To open the default browser use

[code]

If you really need access from local host, add a port forwarding rule ( `netsh interface portproxy ...` ), but this also depends on the random IP address of you Jenki

[2017-06-01 06:05] StefanScherer commented on #253
And to connect some dots there are some further links in https://github.com/StefanScherer/dockerfiles-windows/issues/145 to other projects starting to use Jenkins with Windows containers. What I have seen it's all a work in progress, there also are some pull requests in jenkins repos to fix some plugins to work inside containers better. Hard topics are eg. working within a volume mount and using G

[2017-06-01 14:33] gaya3chandran1 commented on #355
@drnybble  I am also facing the same error

Error response from daemon: encountered an error during Start: failure in a Windows system call: This operation returned because the timeout period expired. (0x5b4).

Any solution to fix it?

[2017-06-01 22:49] efaruk commented on #529
This problem still exist and still there is no given solution by the team, not enough explanation, I believe you even don't know, what is the root cause is , shame on you guys really. So you are expecting people to use it in production. This is the point of view that MS need to change and still not changed enough...

[2017-06-02 05:58] StefanScherer commented on #510
Translated docs still are behind. 👼

https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10 already suggests to use Docker4Windows

https://docs.microsoft.com/de-DE/virtualization/windowscontainers/quick-start/quick-start-windows-10 still installs the docker-17.03.0-ce.zip with PowerShell commands.

[2017-06-02 18:38] PatrickLang commented on #510
@scooley any updates?

[2017-06-07 10:03] mdhiraj commented on #575
Docker Start Error windows server 2016
![docker error](https://user-images.githubusercontent.com/29250704/26873206-bb7af8ae-4b98-11e7-95d4-9fa8d5f3bc88.JPG)

[2017-06-07 18:28] kiyakkoray commented on #355
I have the same problem as you do. Disabling anti virus software does not works. I also tried to add exception rules to av and it didn't work too. Only removing av works but its against our corporation policy.  This topic seems to open nearly for a year and still no proper solution. Any ideas?

`C:\Users\koray>docker pull microsoft/nanoserver
Using default tag: latest
latest: Pulling from microsof

[2017-06-07 18:29] artisticcheese commented on #355
@kiyakkoray Check if you have any AV running.

[2017-06-07 18:34] kiyakkoray commented on #355
@artisticcheese Thanks for a quick reply:) Got kaspersky endpoint security.

[2017-06-07 18:36] artisticcheese commented on #355
@kiyakkoray I would assume appropriate venue will be opening a case with Kaspersky, showing them proof that it's caused by AV and forcing them to fix this. Windows containers are still pretty knew and I already saw some puzzled looks when opening case with Mcafee so it will be uphill battle.

[2017-06-07 18:38] gaya3chandran1 commented on #355
Hi

Thanks for the comment. Yes it is AV issue here too and its against policy
to remove it.Another  work around?

Regards
Gayathri

On 7 Jun 2017 11:58 p.m., "Koray Kiyakoglu" <notifications@github.com>
wrote:

[2017-06-07 18:42] artisticcheese commented on #355
There is no fix Microsoft or docker can provide for third party AV. If AV is causing issue why complaint here? It shall be escalated directly to AV vendor, by doing this you will help other users as well since by the time they start using windows containers AV will be fixed. Based on thread so far looks like only Defender properly handles containers.

[2017-06-13 23:53] #604 closed

[2017-06-15 10:56] JanneRantala commented on #529
Any news on this, @kallie-b? I tried installing yet another on-premise Windows Server 2016, installed Docker and it wouldn't even start because of this error. Are you going to fix this and when?

[2017-06-15 21:28] JMesser81 commented on #529
cc @kallie-b, @viaror
@JanneRantala  - Can you check if WinNAT service is running

PS C:\> Get-service winnnat

If service is stopped, please start it. Also, are you by chancing running Windows Server VM on a Red Hat virtualization host?

Please re-run script (https://github.com/Microsoft/Virtualization-Documentation/blob/live/windows-server-container-tools/CleanupContainerHostNetworking/WindowsCo

[2017-06-15 21:28] JMesser81 commented on #529
@JanneRantala  re ^^ run script with "-CaptureTraces" parameter only

[2017-06-16 08:03] JanneRantala commented on #529
@JMesser81 I'll run it, just to let you know, there's some strange character in WindowsContainerNetworking-LoggingAndCleanupAide.ps1 -script:

At C:\Users\rantalaja\Virtualization-Documentation\windows-server-container-tools\CleanupContainerHostNetworking\WindowsContainerNetworking-LoggingAndCleanupAide.ps1:375 char:10
+         }Â
+          ~
Unexpected token 'Â' in expression or statement.

[2017-06-16 17:38] kallie-b commented on #529
Thanks, Janne.

Yes, the script assumes that Docker is running.

Yes, please do use the "bridge:none" option so that the Docker service will start, and so that the script will run. Then please run the script **with no options**. When run with no options, the script simply collects basic logs to capture the machine state. **Once you've collected the logs, please send them to us at sdn_feedback@micr

[2017-06-19 11:34] JanneRantala commented on #529
@kallie-b Logs sent, again. Will this make any difference though since the last time I've been trying to solve this issue on another freshly installed Windows 2016 Server, I just stopped hearing from you anymore?

[2017-06-19 11:40] JanneRantala commented on #529
@kallie-b About that character, I wasn't using any text editors, I just cloned that Git repository and ran the script when I got the error.

[2017-06-19 18:24] JMesser81 commented on #529
@JanneRantala  - Could you please stop HNS service, delete the HNS.data file and then restart HNS?
PS C:\> Stop-Service hns
PS C:\> del C:\ProgramData\Microsoft\Windows\HNS\HNS.dat
PS C:\> Start-Service hns

Relaunch docker service normally (no "bridge":"none".

I have forwarded the logs to our engineering team

[2017-06-19 18:24] JMesser81 commented on #529
cc ^^ @kallie-b @viaror

[2017-06-19 18:48] JanneRantala commented on #529
@JMesser81 It won't start, it just gets to this "WARNING: Waiting for service 'docker (Docker)' to start..." -loop. Also tried running it with dockerd --debug but got "pen //./pipe/docker_engine: Access is denied.".

[2017-06-19 23:57] JMesser81 commented on #529
From the logs you sent, it appears as though the NAT network is entering a degraded state after creation and attempting to recreate several times. We're looking at the traces but might need more.

[2017-06-20 07:58] JanneRantala commented on #529
@JMesser81 Ok, let me know if you need anything else from me, I'm happy to help.

[2017-06-21 05:40] kallie-b commented on #529
@JanneRantala -- Our team took a look at this, and they'd like more detailed logs.

So, most recently we asked you to collect basic logs by setting the "bridge":"none" option in your Docker daemon file and by running our troubleshooting script with no options. Unfortunately right now our troubleshooting script isn't geared to cover cases where the Docker Engine isn't even starting, so this was a w

[2017-06-21 23:51] kallie-b commented on #529
Thanks, @JanneRantala!

So, above you tried `get-containernetwork | remove-containernetwork` and it looks like it didn't work for you. But can you confirm what happens when you try that? i.e. What happens when you do this:

- Stop the docker service: `stop-service docker`
- Make sure the hns service is running: `start-service hns`
- Now run this PowerShell command: `get-containernetwork | remove-c

[2017-06-22 08:25] JanneRantala commented on #529
Hi @kallie-b, neither get-containernetwork or get-netnat return anything. I don' think it has ever even gotten to that point where those are created.

[2017-06-23 18:53] artisticcheese commented on #355
Here is official Microsoft guidance for AV manufactureres how to deal with Windows Containers. So when creating cases with AV vendors reference this article. Symantec and Defender are the only ones which seems to be on bandwagon right now.
https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/anti-virus-optimization-for-windows-containers

[2017-06-26 07:17] tfenster opened #618 "Problem with gMSA in mult-domain environment"
Hello,

I have a problem using gMSAs for Windows Containers and posted in the [MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/ce1496b5-07e5-4139-9483-3ff4719c49f4/problem-with-gmsa-in-multidomain-environment?forum=windowscontainers), but while I can see 49 views currently, I didn't get any feedback and hope to get maybe some help or at least ideas here. I followed the guide https://git

[2017-06-26 08:31] kobayashilin commented on #350
Hi,
I have the same problem.
This warning disappears after I type this command
`docker-machine env`
It will show some information, notice these :
[code]
Run this command and it works. Hope this solution works for you.

[2017-06-26 18:35] dtma007 commented on #294
I am still seeing this same issue on Windows Server 2016 GA (10.0.14393).

Client:
 Version:      17.03.1-ee-3
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   3fcee33
 Built:        Thu Mar 30 19:31:22 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.03.1-ee-3
 API version:  1.27 (minimum version 1.24)
 Go version:   go1.7.5
 Git commit:   3fcee33
 Built:        Thu Mar 30 19

[2017-07-01 16:48] ohanson511 commented on #494
@aborisevich I made the changes as you suggested and the test that @dimitarivanov  made still fails. Can you post your changes on GitHub so we can see how you got it to work ?

[2017-07-05 13:57] doggy8088 commented on #433
I think this `Windows Updates` section should move to the first section.

[2017-07-14 05:27] timothies opened #627 "CredentialSpec default values don't cope with subdomains"
CredentialSpec.psm1 has an optional parameter $Domain = (Get-ADDomain).   Omitting this can cause problems.

If the gMSA account is defined in a subdomain the credential spec will be incorrectly defined against the parent domain and some functions such as powershell Get-ADUser will not work within the container, even though nltext.exe /parentdomain does not error.

For example if gmsaTestUser is d

[2017-07-17 19:12] drnybble commented on #355
Seems that the latest version of Symantec is still not working: https://www.symantec.com/connect/forums/sep-14-stops-docker-windows-working-0

"Proactive Threat Protection" seems to be the culprit. On my installation of 14 MP1 I do not have that component which is why I guess it is working.

[2017-07-19 06:35] txstudio opened #629 "iis-arr dockerfile not run "cmd powershell ... ""
iis-arr dockerfile not run "cmd powershell ./start.ps1 ..."
microsoft/iis dockerfile has "cmd ping localhost -t"
when run a new iis-arr image, terminal will stop at "cmd ping localhost -t"

i rewrite iis-arr dockerfile in here
https://github.com/txstudio/Virtualization-Documentation/blob/master/windows-container-samples/iis-arr/Dockerfile

[2017-07-26 18:09] Alexander-Bartosh commented on #587
Still does not work for Windows 10

[2017-07-28 00:19] kendrahavens opened #633 "Add Base Container Comparison doc"
### Base Container Comparison doc
Could we add a doc that compares the supported features of Windows Server, Windows Server Core, the WindowsServerCore base image, and Windows Nano Server base image? I always seem to be looking for a complete list, but have yet to find one. This might be a good thing to add to the README on DockerHub for these images. Something similar to this [doc](https://msdn.m

[2017-07-31 17:12] cwilhit commented on #633
Hi Kendra, a clarifying question: are you asking for feature comparison for the container _host OS_ or the container _runtime OS_? The supported runtimes for containers are nanoserver and servercore (and Linux). The supported Host OS is Server w/ UI, Server core, Pro/Enterprise. The doc you linked to would be describing difference between two Host OS flavors.

[2017-08-04 09:33] eduard-t commented on #355
I'm getting this error when I'm using windows containers but not when using linux containers.

`failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilter\bfb413e53c1fbb3b69238d94146efefe04bae47de114c16ae12e8a282e36fffe\UtilityVM: The process cannot access the file because it is being used by another process.`

I'm using Kaspersky Endp

[2017-08-04 12:48] eduard-t commented on #355
just an update...

I've uninstalled Kaspersky Endpoint Security 10 and `docker pull microsoft/nanoserver` works again

[2017-08-04 23:33] kendrahavens commented on #633
I am requesting for the container OSes _and_ the host OSes to be compared. Many users are trying to figure out if their app running on Windows Server can be containerized with out changing their code, but they aren't sure what processes can be containerized seamlessly and what conditions would make containerization more difficult.

[2017-08-07 10:12] Extentsoftware commented on #420
You're getting the following warning..

WARNING: can't open config file: /usr/local/ssl/openssl.cnf

The DockerCertificateTools.ps1 file should set the environment variable by including the following line (around line 158) so that openssl knows where the config file is. Then it started working for me.

	$env:OPENSSL_CONF = "C:\Program Files\OpenSSL\bin\openssl.cfg";

[2017-08-09 06:40] vercha commented on #214
I'm also trying headless IE test;
have you tried wine? I found a docker image suchja/x11server ; if I run x11server before running wine image, wine can open IE from docker image successfully, thus can open a mocha testpage(in bdd mode).
but at present, the image itself pop authority issue if I try to modify the image. Hope it helps.

[2017-08-09 17:14] cwilhit commented on #633
Okay, this is something I can look into.

[2017-08-15 21:13] cwilhit commented on #633
Added a blurb on nano server vs server core in commit 9d38a9e94227d19df2777b279adf0a8b2ff9a9ea to give a little guidance on the differences between the two container runtimes. The number of removed dependencies in nano was extremely long so we've instead opted to call out a couple of top changes.

[2017-08-15 21:13] #633 closed

[2017-08-17 12:22] mariusin79 commented on #529
We had the exact same situation as @JanneRantala describes in this post and tried all the steps described above; nothing worked. Eventually, we deleted a docker.pid file which was located in c:\programdata\docker. After that, we could start the docker service and the default NAT network was created, everything back to normal.

[2017-08-17 19:49] amahapatra commented on #434
I had a similiar issue, when i was trying to install Docker on  a windows Nano Server. Atfirst i was trying to install from my Local powershell connecting to Nano server. But the Nano was in a cloud VPC and my local system in my company VPN. this was giving this particular issue.
I got around it , by spinning up a basic windows EC2 machine on the same VPC as the Nano server. Then connected to the

[2017-08-21 20:32] richardgavel commented on #494
@aborisevich @ohanson511 I'm having the same issue, despite running the Set-DtcNetworkSetting as suggested. Have either of you come up with a revised working container-to-container example?

[2017-08-22 01:59] richardgavel commented on #494
@aborisevich @ohanson511 Figured it out. Makes a little more sense from looking at https://technet.microsoft.com/en-us/library/cc753620(v=ws.10).aspx. Instead of using the CmdLet, I set the appropriate registry settings as described on this page under "No Auth Required" and the description makes sense why you need to (the Docker containers are not part of a domain).

[2017-08-24 23:09] PatrickLang commented on #494
I'm sorry but we don't have MSMQ or MSDTC services working. I checked with the dev teams and it wasn't tested and isn't supported in Windows Server 2016. They would need to be made container-aware and heavily modified because they involve kernel-mode components. It's still an open issue under consideration.

[2017-08-25 21:19] dguimbellot opened #638 "link to information about the dotnet35 is broken"
simply put the link here in the github description is broken
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/examples/dotnet35

this doesn't exist

[2017-08-25 21:20] dguimbellot commented on #638
the link that i mentioned is from this page
https://github.com/MicrosoftDocs/Virtualization-Documentation/tree/master/windows-container-samples/dotnet35

[2017-08-25 21:20] dguimbellot commented on #638
didn't mean to close.

[2017-09-01 09:01] MikhailTymchukDX commented on #155
@mathiasconradt While adding a NetworkController is not meant to be added inside the Docker container. there are other cases, when we need to restart a container.

For example, we can install Docker inside the container, right? But it requires to restart a container, how to do that?

[2017-09-01 14:51] sunjayBhatia opened #639 "The ASP-NET-Blog-Application documentation contains a reference to a Docker image that does not exist"
**Description:**

The `ASP-NET-Blog-Application` documentation contains a reference to a Docker image that does not exist.

**Link to doc:**

https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/6514601a34d1cadc570ca9b1f548481cf81a174c/windows-container-samples/ASP-NET-Blog-Application/README#L22

[2017-09-01 15:53] friism commented on #155
@MikhailTymchukDX you cannot run the Docker daemon inside a Windows Docker container.

[2017-09-01 15:59] MikhailTymchukDX commented on #155
@friism Yes, because I can not install the Docker module without restart :)
That was just an example.

The original question remains the same - how to restart a container if any service/windows feature requires a restart?

[2017-09-05 07:22] MatZub commented on #529
We have the same issue as @JanneRantala . We can launch docker with a clean config _(C:\ProgramData\docker\config\daemon.json)_ but the same thing happens when we try to add **“fixed-cidr”** value to the configuration.

[2017-09-06 15:55] lc77 commented on #575
Having spent several days on this and now raising a support request with Symantec after installing the Endpoint Protection 14 MP2 client on our Win2016 with Docker.

I came across several articles online both from Symantec and Github saying SEP 14 is compatible but the only 2 things that worked for me were:

1.	Completely uninstalling the SEP 14 client, then rebooting the 2016 server.  Docker will

[2017-09-06 15:59] ekitagawa opened #642 "'Find-NetIPsecRule' is not recognized as the name of a cmdlet on Nanoserver container"
**Description**

Test-NetConnection cmdlet fails with following error on a plain microsoft/nanoserver container.

[code]

Following this error message, expected output still comes out.  Seems to be a false positive.

**Steps to reproduce the issue:**
1. Run container like this
    `docker run -it microsft/nanoserver powershell`
2. Run this command
    `Test-NetConnection google.com -port 80`

**De

[2017-09-07 21:16] ekitagawa opened #643 "Docker container log does not keep streaming"
**Description**

Command `docker container logs --tail 5 -f <id>` lists one set of outputs, and then it ends instead of streaming newer entries.  Is this a design limitation?

[code]

Over on Linux side, equivalent command writes last 5 lines, and then keep adding more.

[code]

**Steps to reproduce the issue:**
1. Run following command on Windows engine.
[code]
2. Watch the output after first bat

[2017-09-07 21:51] friism commented on #643
Is this a dupe of this? https://github.com/moby/moby/issues/30046

[2017-09-08 19:18] MichaelSimons opened #644 "Document syntax for referencing ARG values in a Dockerfile"
The syntax for referencing ARG values in a Dockerfile (Windows container environment) is different than Linux - https://docs.docker.com/engine/reference/builder/#arg.  Would be helpful to have this clearly documented.  I stumbled across [this](https://forums.docker.com/t/unable-to-consume-arg-or-env-variables-in-run-commands/25467/2) to find the help I was looking for.

Link to doc:
https://github

[2017-09-22 21:19] ryannoblett opened #646 "Cleanup script fails when there is an Adapter with no name"
When running the following:
.\WindowsContainerNetworking-LoggingAndCleanupAide.ps1 -Cleanup -ForceDeleteAllSwitches

And when there is a network adapter with no name (null) like this:
![image](https://user-images.githubusercontent.com/23060576/30764657-f3d4b3dc-9fb9-11e7-896f-029c72636583.png)

The script fails here:
![image](https://user-images.githubusercontent.com/23060576/30764665-ffe01644-9fb

[2017-10-03 20:44] DavidHaitch commented on #355
I believe I've discovered a cause besides anti-virus problems. In my case, it was one particular file that was always locked:
`PS Q:\> docker pull microsoft/windowsservercore
Using default tag: latest
latest: Pulling from microsoft/windowsservercore
3889bb8d808b: Already exists
da87b55a9b63: Extracting [==================================================>] 1.266GB/1.266GB
failed to register layer:

[2017-10-04 07:27] JanneRantala commented on #355
Hi @DavidHaitch! I've noticed, that the same file as you mentioned is being used by another process in my environment as well. Sometimes I've managed to get over it by killing vmcompute -process but yesterday things got so stuck up that I had to zap my whole docker folder. Now everything seems to work alright again, but the next time I'll get that error I'll try your fix. Thanks!

[2017-10-04 12:59] DavidHaitch commented on #355
@JanneRantala If you do see this again, try pulling microsoft/windowsservercore-insider first. That one worked for me when the regular windowsservercore did not.

[2017-10-04 13:03] JanneRantala commented on #355
@DavidHaitch I'm not using insider version of Windows 10.

[2017-10-04 14:05] DavidHaitch commented on #355
@JanneRantala  Neither am I. The windowsservercore-insider container worked nevertheless. Such is the magic of containerization.

[2017-10-08 20:24] PhilStanton commented on #355
Same problem. nothing fixing this yet for me.

[2017-10-08 20:38] PhilStanton commented on #355
Tried adding folders to exclusions in Kaspersky, still not helping. Having to uninstall anti-virus to get Docker for Windows to work, if that does fix it, is a bit much.

[2017-10-11 14:03] Nirmal4G opened #651 "Where is current Convert-WindowsImage tools?"
In the [ReadMe](/MicrosoftDocs/Virtualization-Documentation/blob/live/hyperv-tools/Convert-WindowsImage/README.md), the link for the [Convert-WindowsImage](/Microsoft/Convert-WindowsImage) is broken! GitHub says the repo does not exist!

So, If the repo is either private or doesn't exist, where can I look for the updated `Convert-WindowsImage` tools?

I still use these to tools to preview Windows

[2017-10-18 17:46] ShaunKiesewetter commented on #494
@Patricklang
So Msmq can be changed to rabbit but what do we substitute the dtc with?

[2017-10-24 10:31] vzwick commented on #181
@JMesser81

Hey Jason,

any update on this one?

[2017-10-24 12:24] JanneRantala commented on #181
I would also like to know some ETA for this. It's been over a year now and this is still not done. In developer's point of view this is one of the most critical things but it seems that all the "sexier" stuff gets done.

[2017-10-24 16:09] JMesser81 commented on #181
@kallie-b  - who can provide an update. Soon :-)

[2017-10-24 17:49] JanneRantala commented on #181
@jmesser81 @kallie-b can you at least reveal if it will be for Windows Insiders first or for all? Insiders means it will be again months after users restricted by corporate policies are able to use it.

[2017-10-24 18:20] kallie-b commented on #181
@JanneRantala--Localhost/loopback support is part of the work we're doing for our next Windows release. We[ just completed a release](https://technet.microsoft.com/en-us/windows/release-info.aspx), and currently Windows is on a semi-annual release cadence. That puts the next full Windows release in the Spring.

But, as you mentioned, before then you'll have access to our newest features via the Wi